{{"notice-accordion.js" | asset_url | script_tag }}

{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'title' -%}
      {% if current_product.metafields.custom.brands != blank %}
        {% assign brand = current_product.metafields.custom.brands.value %}
        <div class="brand-name">{{ brand.name | default: 'N/A' }}</div>
      {% else %}
        <span>N/A</span>
      {% endif %}
      <h1 class="mdp-title {% if oneRow == true %}mdp-title-section{% endif %}">
        <a href="{{ current_product.url }}">{{current_product.title}}</a>
      </h1>  
    {%- when 'rating' -%}
            {%- if current_product.metafields.reviews.rating.value != blank -%}
              {% liquid
               assign rating_decimal = 0
               assign decimal = current_product.metafields.reviews.rating.value.rating | modulo: 1
               if decimal >= 0.3 and decimal <= 0.7
                assign rating_decimal = 0.5
              elsif decimal > 0.7
                assign rating_decimal = 1
               endif
              %}
              <div class="mdp-rating">
                <span class="mdp-rating-star" style="--rating: {{ current_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ current_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};">{% render 'mdp-weare-icon' with '221' %}</span>
                <span class="mdp-rating-text">{{ current_product.metafields.reviews.rating.value }}/{{ current_product.metafields.reviews.rating.value.scale_max }}</span>
                <span class="mdp-rating-count"> ({{ current_product.metafields.reviews.rating_count }})</span>
              </div>
            {%- endif -%}
    {%- when 'price' -%}
      <div class="mdp-price-wrapper">
        <span class="mdp-price">
          {% if variant.compare_at_price > variant.price %}
          <span class="mdp-price-compare">{{ variant.compare_at_price | money_without_trailing_zeros }}</span>
          {% endif %}            
          <span class="mdp-price-varies">
            {{ variant.price | money_without_trailing_zeros }}
          </span>
        </span>
        {%- if variant.available and variant.unit_price_measurement -%}
        <span class="mdp-unit-price">
          {{ variant.unit_price | money }}/{%- if variant.unit_price_measurement.reference_value != 1 -%} {{- variant.unit_price_measurement.reference_value -}} {%- endif -%} {{ variant.unit_price_measurement.reference_unit }}
        </span>
        {%- endif -%}
      </div>
    {%- when 'sku' -%}
      <div class="mdp-dl">
        <div class="mdp-dt">
          Product Code:
        </div>
        <div class="mdp-dd">
          {{variant.sku}}
        </div>
      </div>
    
    {%- when 'swatches' -%}
  {% unless current_product.options.size == 1 and current_product.variants[0].title == 'Default Title' %}
    <div class="mdp-product-swatches">
      {% for option in current_product.options_with_values %}
        {% if option.name == 'Color' %}
          <div class="mdp-option">
            {% comment %} <label>{{ option.name }}</label> {% endcomment %}
             <div class="swatch-option-label">Colors</div>
            <div class="mdp-option-swatches" data-index="option{{ forloop.index }}">
              {% for value in option.values %}
                {% assign matching_variant = current_product.variants | where: 'option1', value | first %}
                <label class="swatch-label">
                  <input 
                    type="radio" 
                    name="option{{ forloop.index }}" 
                    value="{{ value | escape }}" 
                    data-variant-id="{{ matching_variant.id }}"
                    {% if matching_variant.featured_media %}data-media-id="{{ matching_variant.featured_media.id }}"{% endif %}
                    {% if forloop.first %}checked{% endif %}>
                  <span class="swatch" style="background-color: {{ value | downcase }}"></span>
                </label>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}

      <div class="mdp-prod-reviews">
        <div class="swatch-option-label">Reviews</div>
        <div class="prod-rating">
          <div class="stars">
              <img src="{{ 'Star.svg' | asset_url }}" alt="Star">
              <img src="{{ 'Star.svg' | asset_url }}" alt="Star">
              <img src="{{ 'Star.svg' | asset_url }}" alt="Star">
              <img src="{{ 'Star.svg' | asset_url }}" alt="Star">
              <img src="{{ 'Star.svg' | asset_url }}" alt="Star">
          </div>
          <div>10 reviews <img src="{{ 'ArrowUpRight.svg' | asset_url }}" alt="Star"></div>
        </div>
      </div>
      
    </div>
  {% endunless %}


    {%- when 'metafield' -%}
      <div class="mdp-dl">
        <div class="mdp-dt">
          {{ block.settings.name }}:
        </div>
        <div class="mdp-dd">
          {{ current_product.metafields[block.settings.namespace][block.settings.key] }}
        </div>
      </div>
    {%- when 'payment_terms' -%}
	  {%- assign product_form_id = 'payment-terms-' | append: current_product.id -%}
      {% form "product", current_product, id: product_form_id %} 	
        
		{{ form | payment_terms }}
      {% endform %}        	  
	{%- when 'options' -%}
      {% unless current_product.options.size == 1 and current_product.variants[0].title == 'Default Title' %}
      <div class="mdp-product-options">
        {% if block.settings.variants_group == 'together' %}
        <div class="mdp-together">
          <select class="" data-type="{{block.settings.variants_group}}" data-index="id">
            {% for vrnt in current_product.variants %}                                
            <option 
                    {% if vrnt.id == variant.id %}
                    selected
                    {% endif %}
                    value="{{vrnt.id}}" data-featured-media="{{vrnt.featured_media.id}}">
              {{ vrnt.title }} - 
              {% if vrnt.available %}
              {{ vrnt.price | money_with_currency }}
              {% else %}
              {{section.settings.sold_out_string}}
              {% endif %}
            </option>                                
            {% endfor %}
          </select>
        </div>
        {% else %}
        <div class="mdp-separated">
          {% for option in current_product.options_with_values %}
          <div class="mdp-option">
            <label>{{option.name}}</label>
            <select class="" data-index="option{{ forloop.index }}">
              {% for value in option.values %}
              <option value="{{ value | escape }}">{{value}}</option>
              {% endfor %}
            </select>                          
          </div>
          {% endfor %} 
        </div>
        {% endif %}
      </div>
      {% endunless %}

      {% comment %} THREE COLUMN COMBINATION {% endcomment %}
      {%- when 'three-col' -%}
      <div class="prosmash-three-col-option mdp-product-columns mdp-three-column">
  
        <!-- Quantity -->
        <div class="mdp-col mdp-col-qty">
          <label for="qty-field">Quantity</label>
          <div class="mdp-quantity-wrapper">
            <a class="mdp-quantity-minus">
              <span><span class="mdp-quantity-icon-minus"><i class="fa-solid fa-minus"></i></span></span>
            </a>
            <input id="qty-field" type="text" name="quantity" value="1" min="1" class="mdp-qty"/>
            <a class="mdp-quantity-plus">
              <span><span class="mdp-quantity-icon-plus"><i class="fa-solid fa-plus"></i></span></span>
            </a>
          </div>
        </div>

        <!-- Stock -->
        <div class="mdp-col mdp-col-stock">
          <label>In Stock</label>
          {% if variant.inventory_management and variant.inventory_quantity != nil %}
            <div class="mdp-stock-number">
              {{ variant.inventory_quantity }}
            </div>
          {% else %}
            <div class="mdp-stock-number">
              —
            </div>
          {% endif %}
        </div>

        <!-- SKU -->
        <div class="mdp-col mdp-col-sku">
          <label>Product Code</label>
          <div class="mdp-sku-number">
            {{ variant.sku }}
          </div>
        </div>

      </div>


      {% comment %} END OF THREE COLUMN {% endcomment %}


      {% comment %} PROSMASH ADD TO CART AND ADD TO WISHLIST BUTTONS {% endcomment %}
        {%- when 'two-col' -%}
        {% form 'product', current_product %}
          <input name="id" type="hidden" value="{{ variant.id }}" data-productid="{{ current_product.id }}">

          <div class="prosmash-two-col-buttons">
            <!-- Add to Cart Button -->
            <button type="submit"
                    class="mdp-add-to-cart {% if section.settings.redirect %}mdp-redirect-to-cart{% endif %} {% if current_product.available %}mdp-available{% endif %}"
                    style="color: {{ btn_color }}"
                    data-product-id="{{ variant.id }}"
                    data-quantity="1"
                    data-add-to-cart="{{ section.settings.add_cart_string }}"
                    data-sold-out="{{ section.settings.sold_out_string }}">
              {% if current_product.available %}
                {{ section.settings.add_cart_string }}
              {% else %}
                {{ section.settings.sold_out_string }}
              {% endif %}
              <i class="fa-regular fa-cart-shopping"></i>
            </button>
            <!-- Add to Wishlist Button -->
            <div class="mdp-add-to-wishlist" data-product-handle="{{ current_product.handle }}">

                <span class="mdp-text-wishlist">Add to Wishlist</span>
                {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M17.644 4.22891C16.7368 3.32435 15.5085 2.81556 14.2274 2.81366C12.9463 2.81175 11.7164 3.3169 10.8065 4.21875L10.0003 4.96719L9.19404 4.21875C8.28443 3.31142 7.05164 2.80259 5.76687 2.8042C4.4821 2.80581 3.25059 3.31773 2.34326 4.22734C1.43593 5.13695 0.927103 6.36974 0.928715 7.65451C0.930326 8.93928 1.44225 10.1708 2.35186 11.0781L9.33232 18.1602C9.41956 18.2487 9.52354 18.3191 9.63821 18.3671C9.75289 18.4151 9.87597 18.4398 10.0003 18.4398C10.1246 18.4398 10.2477 18.4151 10.3624 18.3671C10.477 18.3191 10.581 18.2487 10.6683 18.1602L17.644 11.0828C18.094 10.633 18.451 10.0989 18.6946 9.51113C18.9381 8.92333 19.0635 8.2933 19.0635 7.65703C19.0635 7.02077 18.9381 6.39073 18.6946 5.80293C18.451 5.21512 18.094 4.68106 17.644 4.23125V4.22891ZM16.3159 9.75937L10.0003 16.1641L3.68232 9.75391C3.12748 9.19676 2.81633 8.44226 2.81714 7.65596C2.81796 6.86967 3.13067 6.11581 3.68667 5.55981C4.24266 5.00382 4.99652 4.6911 5.78282 4.69029C6.56911 4.68947 7.32362 5.00063 7.88076 5.55547C7.88857 5.56328 7.89639 5.57109 7.90498 5.57812L9.36123 6.93437C9.53476 7.09605 9.76312 7.18594 10.0003 7.18594C10.2375 7.18594 10.4658 7.09605 10.6394 6.93437L12.0956 5.57812C12.1042 5.57109 12.112 5.56328 12.1198 5.55547C12.3959 5.2801 12.7234 5.0618 13.0838 4.91303C13.4442 4.76426 13.8304 4.68793 14.2203 4.6884C14.6102 4.68887 14.9962 4.76614 15.3562 4.91578C15.7162 5.06542 16.0433 5.28451 16.3187 5.56055C16.594 5.83658 16.8123 6.16415 16.9611 6.52454C17.1099 6.88494 17.1862 7.27111 17.1857 7.66101C17.1852 8.05091 17.108 8.4369 16.9583 8.79693C16.8087 9.15697 16.5896 9.48401 16.3136 9.75937H16.3159Z" fill="black"/>
                </svg> {% endcomment %}
                <i class="fa-regular fa-heart"></i>
            </div>
          </div>
        {% endform %}



      {% comment %} END OF ADD TO CART AND ADD TO WISHLIST BUTTONS {% endcomment %}
         

      {% comment %} DELIVERY NOTICE {% endcomment %}

      {%- when 'delivery-notice' -%}

      <div class="delivery-notice">
        <div class="accordion-item">
          {% if block.settings.delivery_notice_title != blank %}
            <div class="accordion-title">{{ block.settings.delivery_notice_title }}<img src="{{ 'CaretUp.svg' | asset_url }}" alt="Toggle" class="accordion-caret" /></div>
            <div class="accordion-content">{{ block.settings.delivery_notice_description }}</div>
          {% endif %}
        </div>
        <div class="accordion-item">
          {% if block.settings.product_description_title != blank %}
            <div class="accordion-title">
              Description
              <img src="{{ 'CaretUp.svg' | asset_url }}" alt="Toggle" class="accordion-caret" />
            </div>
            <div class="accordion-content">
              {% if current_product.description != blank %}
                {{ current_product.description }}
              {% else %}
                <p>No description available.</p>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div class="accordion-item">
          {% if block.settings.product_details_title != blank %}
            <div class="accordion-title">{{ block.settings.product_details_title }}<img src="{{ 'CaretUp.svg' | asset_url }}" alt="Toggle" class="accordion-caret" /></div>
            <div class="accordion-content">

              <div class="prod-details-table">
                {% assign color_options = current_product.options_with_values | where: "name", "Color" %}
                {% if color_options.size > 0 %}
                  <div class="product-colors">
                    <div class="table-title">Color</div>
                    <div class="table-value">
                      {% for color in color_options[0].values %}
                      {{ color }}
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}

                {% if current_product.collections.size > 0 %}
                  <div class="product-collections">
                    <div class="table-title">Collection</div>
                    <div class="table-value">
                      {% for collection in current_product.collections %}
                          <a href="{{ collection.url }}">{{ collection.title }}</a>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}

  
                  <div class="product-width">
                    <div class="table-title">Width</div>
                    <div class="table-value">
                      {{ current_product.metafields.custom.width.value | default: 'N/A' }}
                    </div>
                  </div>
              


                  <div class="product-weight">
                    <div class="table-title">Weight</div>
                    <div class="table-value">
                      {{ current_product.metafields.custom.weight.value | default: 'N/A' }}
                    </div>
                  </div>
                

     
                  <div class="product-player-level">
                    <div class="table-title">Player Level</div>
                    <div class="table-value">
                      {{ current_product.metafields.custom.player_level.value | default: 'N/A' }}
                    </div>
                  </div>
              

         
                  <div class="product-shape">
                    <div class="table-title">Shape</div>
                    <div class="table-value">
                      {{ current_product.metafields.custom.shape.value | default: 'N/A' }}
                    </div>
                  </div>
              

           
                  <div class="product-gender">
                    <div class="table-title">Gender</div>
                    <div class="table-value">
                      {{ current_product.metafields.custom.gender.value | default: 'N/A' }}
                    </div>
                  </div>
              

         
                  <div class="product-frame">
                    <div class="table-title">Frame</div>
                    <div class="table-value">
                      {{ current_product.metafields.custom.frame.value | default: 'N/A' }}
                    </div>
                  </div>
             

              
                  <div class="product-player">
                    <div class="table-title">Player</div>
                    <div class="table-value">
                      {{ current_product.metafields.custom.player.value | default: 'N/A' }}
                    </div>
                  </div>
            
          
                  <div class="product-material-cara">
                    <div class="table-title">Material cara</div>
                    <div class="table-value">
                      {{ current_product.metafields.custom.material_cara.value | default: 'N/A' }}
                    </div>
                  </div>
            


                  <div class="product-rubber">
                    <div class="table-title">Rubber</div>
                    <div class="table-value">
                      {{ current_product.metafields.custom.rubber | default: 'N/A' }}
                    </div>
                  </div>
              
                  <div class="product-surface">
                    <div class="table-title">Surface</div>
                    <div class="table-value">
                      {{ current_product.metafields.custom.surface | default: 'N/A' }}
                    </div>
                  </div>
              </div>
              
            </div>
          {% endif %}
        </div>
        <div class="accordion-item">
          {% if block.settings.product_advantages_title != blank %}
            <div class="accordion-title">Product Advantages <img src="{{ 'CaretUp.svg' | asset_url }}" alt="Toggle" class="accordion-caret" /></div>
          {% endif %}
            <div class="accordion-content">
              <div class="product-advantages">
                {% if current_product.metafields.custom.product_advantages != blank %}
                {% for advantage in current_product.metafields.custom.product_advantages.value %}
                  <div class="pa-item">
                    <div class="col-left">
                      <img src="{{ advantage.image | img_url: '300x' }}" alt="{{ advantage.title }}" />
                    </div>
                    <div class="col-right">
                      <div class="pa-title">{{ advantage.title }}</div>
                      <div class="pa-desc">{{ advantage.description }}</div>
                    </div>
                  </div>
                {% endfor %}
                {% else %}
                  <span>N/A</span>
                {% endif %}
              </div>
            </div>
        </div>
      </div>



      {% comment %} END OF DELIVERY NOTICE  {% endcomment %}


    {%- when 'buttons' -%}
      {% form "product", current_product %} 	
        <input name="id" type="hidden" value="{{variant.id}}" data-productid="{{current_product.id}}">         
		<div class="mdp-product-options">
			<h3>Quantity</h3>
		</div>
		<div class="mdp-buttons">
          <div class="mdp-quantity-wrapper">
            <a class="mdp-quantity-minus">
              <span>
                <span class="mdp-quantity-icon-minus">
                  -
                </span>
              </span>
            </a>
            <input type="text" name="quantity" value="1" min="1" class="mdp-qty"/>
            <a class="mdp-quantity-plus">
              <span>
                <span class="mdp-quantity-icon-plus">
                  +
                </span>
              </span>
            </a>
          </div>
        
          <div class="mdp-add-to-wishlist" data-product-handle="{{ current_product.handle }}">            
            <span class="mdp-add">
              <span class="mdp-text-wishlist">Add to Wishlist</span>
              <i class="far fa-heart"></i>
            </span>
            <span class="mdp-adding">
            </span>
            <span class="mdp-added">
              <span class="mdp-text-wishlist">Add to Wishlist</span>
              <i class="fas fa-heart"></i>
            </span>
          </div>  
                            
        </div>

		<button type="submit" 
                class="mdp-add-to-cart {% if section.settings.redirect %}mdp-redirect-to-cart{% endif %} {% if current_product.available %}mdp-available{% endif %}"
                style="color: {{ btn_color }}"
                data-product-id="{{ variant.id }}"
                data-quantity="1" 
                data-add-to-cart="{{ section.settings.add_cart_string }}" 
                data-sold-out="{{ section.settings.sold_out_string }}">
          		{% if current_product.available %}
          			{{ section.settings.add_cart_string }}
          		{% else %}
          			{{ section.settings.sold_out_string }} 
          		{% endif %}
		</button>
		
      {% endform %}
	{%- when 'dynamic_checkout' -%}
	  {%- assign product_form_id = 'payment-button-' | append: current_product.id -%}
      {% form "product", current_product, id: product_form_id %} 	
        <input name="id" type="hidden" value="{{variant.id}}" data-productid="{{current_product.id}}">  
		{{ form | payment_button }}
      {% endform %} 
    {%- when 'availability' -%}
      <div class="mdp-product-availability" data-store-availability-container data-product-title="" data-has-only-default-variant="" data-base-url="">
      </div>
	{%- when 'description' -%}
      <div class="mdp-content {% if oneRow == true %}mdp-content-section{% endif %}">
        {% comment %} {% if current_product.description != blank %}
          {% if block.settings.excerpt_words != 0 %}
            {{ current_product.description | strip_html | truncatewords: block.settings.excerpt_words, block.settings.excerpt_ellipsis }}
          {% else %}
            {{ current_product.description }}
            {% if block.settings.read_more == true %}
              <a href="{{ current_product.url }}" class="mdp-link-description">Read More</a>
            {% endif %}
          {% endif %}
        {% else %}
          <p class="mdp-no-description">No description available.</p>
        {% endif %} {% endcomment %}
        {% if current_product.metafields.custom.gender %}
          <div class="product-short-description">
              {{ current_product.metafields.custom.short_description.value | default: 'N/A' }}
          </div>
        {% endif %}

        
      </div>
	{%- when 'visitors' -%}
		<div class="mdp-visitors" data-min="{{ block.settings.min }}" data-max="{{ block.settings.max }}" data-duration="{{ block.settings.duration }}">
			<span class="mdp-icon">{% render 'mdp-weare-icon' with '154' %}</span>
          	<span class="mdp-value"></span>
          	<span class="mdp-text">{{ block.settings.text }}</span>
		</div>
	{%- when 'share' -%}
	  {% render 'mdp-weare-social-sharing', share_title: current_product.title, share_permalink: current_product.url, share_image: current_product.featured_media %}
    {%- when '@app' -%}
      {% render block %}
    {%- when 'custom_liquid' -%}
      {{ block.settings.custom_liquid }}
  {%- endcase -%}
{%- endfor -%}
