{{"notice-accordion.js" | asset_url | script_tag }}
{{"prosmash-single-product.js" | asset_url | script_tag }}

{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'title' -%}
      {% if current_product.metafields.custom.brands != blank %}
        {% assign brand = current_product.metafields.custom.brands.value %}
        <div class="brand-name">{{ brand.name | default: 'N/A' }}</div>
      {% else %}
        <div class="brand-name">N/A</div>
      {% endif %}
      <h1 class="mdp-title {% if oneRow == true %}mdp-title-section{% endif %}">
        <a href="{{ current_product.url }}">{{current_product.title}}</a>
      </h1>  

    {%- when 'rating' -%}
      {%- if current_product.metafields.reviews.rating.value != blank -%}
        {% liquid
         assign rating_decimal = 0
         assign decimal = current_product.metafields.reviews.rating.value.rating | modulo: 1
         if decimal >= 0.3 and decimal <= 0.7
          assign rating_decimal = 0.5
        elsif decimal > 0.7
          assign rating_decimal = 1
         endif
        %}
        <div class="mdp-rating">
          <span class="mdp-rating-star" style="--rating: {{ current_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ current_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};">{% render 'mdp-weare-icon' with '221' %}</span>
          <span class="mdp-rating-text">{{ current_product.metafields.reviews.rating.value }}/{{ current_product.metafields.reviews.rating.value.scale_max }}</span>
          <span class="mdp-rating-count"> ({{ current_product.metafields.reviews.rating_count }})</span>
        </div>
      {%- endif -%}

    {%- when 'price' -%}
      <div class="mdp-price-wrapper">
        <span class="mdp-price">
          {% if variant.compare_at_price > variant.price %}
            <span class="mdp-price-compare">{{ variant.compare_at_price | money_without_trailing_zeros }}</span>
          {% endif %}            
          <span class="mdp-price-varies">
            {{ variant.price | money_without_trailing_zeros }}
          </span>
        </span>
        {%- if variant.available and variant.unit_price_measurement -%}
        <span class="mdp-unit-price">
          {{ variant.unit_price | money }}/{%- if variant.unit_price_measurement.reference_value != 1 -%} {{- variant.unit_price_measurement.reference_value -}} {%- endif -%} {{ variant.unit_price_measurement.reference_unit }}
        </span>
        {%- endif -%}
      </div>

    {%- when 'sku' -%}
      <div class="mdp-dl">
        <div class="mdp-dt">
          Product Code:
        </div>
        <div class="mdp-dd">
          {{variant.sku}}
        </div>
      </div>
      <div class="second-block">
      </div>

    {%- when 'swatches' -%}
      {% unless current_product.options.size == 1 and current_product.variants[0].title == 'Default Title' %}
        <div class="mdp-product-swatches">
          {% for option in current_product.options_with_values %}
            {% if option.name == 'Color' %}
              <div class="mdp-option">
                <div class="swatch-option-label">Colors</div>
                <div class="mdp-option-swatches" data-index="option{{ option.position }}">
                  {% assign option_index = option.position | minus: 1 %}
                  {% for value in option.values %}
                    {% assign matching_variant = nil %}
                    {% for variant in current_product.variants %}
                      {% if variant.options[option_index] == value %}
                        {% assign matching_variant = variant %}
                        {% break %}
                      {% endif %}
                    {% endfor %}

                    {% if matching_variant %}
                      <label class="swatch-label">
                        <input 
                          type="radio" 
                          name="option{{ option.position }}" 
                          value="{{ value | escape }}" 
                          data-variant-id="{{ matching_variant.id }}"
                          data-variant-json="{{ matching_variant | json | escape }}"
                          {% if matching_variant.featured_media %}data-media-id="{{ matching_variant.featured_media.id }}"{% endif %}
                          {% if forloop.first %}checked{% endif %}>
                        <span class="swatch" style="background-color: {{ value | downcase }}"></span>
                      </label>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endunless %}

    {%- when 'static-product-review' -%}
      <div class="static-product-review">
        <div class="static-product-review-title">Reviews</div>
        <div class="stars-container">
          <div class="stars">
            <img src="{{ 'Star.svg' | asset_url }}" alt="Star" width="22" height="22">
            <img src="{{ 'Star.svg' | asset_url }}" alt="Star" width="22" height="22">
            <img src="{{ 'Star.svg' | asset_url }}" alt="Star" width="22" height="22">
            <img src="{{ 'Star.svg' | asset_url }}" alt="Star" width="22" height="22">
            <img src="{{ 'Star.svg' | asset_url }}" alt="Star" width="22" height="22">
          </div>
          <a href="#">10 reviews <img src="{{ 'ArrowUpRight.svg' | asset_url }}" alt="Star" width="16" height="16"></a>
        </div>
      </div>

    {%- when 'metafield' -%}
      <div class="mdp-dl">
        <div class="mdp-dt">
          {{ block.settings.name }}:
        </div>
        <div class="mdp-dd">
          {{ current_product.metafields[block.settings.namespace][block.settings.key] }}
        </div>
      </div>

    {%- when 'payment_terms' -%}
      {%- assign product_form_id = 'payment-terms-' | append: current_product.id -%}
      {% form "product", current_product, id: product_form_id %} 	
        {{ form | payment_terms }}
      {% endform %}  

    {%- when 'options' -%}
      {% unless current_product.options.size == 1 and current_product.variants[0].title == 'Default Title' %}
        <div class="mdp-product-options">
          {% if block.settings.variants_group == 'together' %}
            <div class="mdp-together">
              <select class="" data-type="{{block.settings.variants_group}}" data-index="id">
                {% for vrnt in current_product.variants %}                                
                  <option 
                    {% if vrnt.id == variant.id %}
                    selected
                    {% endif %}
                    value="{{vrnt.id}}" data-featured-media="{{vrnt.featured_media.id}}">
                    {{ vrnt.title }} - 
                    {% if vrnt.available %}
                    {{ vrnt.price | money_with_currency }}
                    {% else %}
                    {{section.settings.sold_out_string}}
                    {% endif %}
                  </option>                                
                {% endfor %}
              </select>
            </div>
          {% else %}
            <div class="mdp-separated">
              {% for option in current_product.options_with_values %}
                <div class="mdp-option">
                  <label>{{option.name}}</label>
                  <select class="" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <option value="{{ value | escape }}">{{value}}</option>
                    {% endfor %}
                  </select>                          
                </div>
              {% endfor %} 
            </div>
          {% endif %}
        </div>
      {% endunless %}

      {% comment %} THREE COLUMN COMBINATION {% endcomment %}
      {%- when 'three-col' -%}
        <div class="prosmash-three-col-option mdp-product-columns mdp-three-column">
  
          <!-- Quantity -->
          <div class="mdp-col mdp-col-qty">
            <label for="qty-field">Quantity</label>
            <div class="mdp-quantity-wrapper">
              <a class="mdp-quantity-minus">
                <span>
                  <span class="mdp-quantity-icon-minus"><i class="fa-solid fa-minus"></i></span>
                </span>
              </a>
              <input id="qty-field" type="text" name="quantity" value="1" min="1" class="mdp-qty"/>
              <a class="mdp-quantity-plus">
                <span><span class="mdp-quantity-icon-plus"><i class="fa-solid fa-plus"></i></span></span>
              </a>
            </div>
          </div>

          <!-- Stock -->
          <div class="mdp-col mdp-col-stock">
            <label>In Stock</label>
            {% if variant.inventory_management and variant.inventory_quantity != nil %}
              <div class="mdp-stock-number">
                {{ variant.inventory_quantity }}
              </div>
            {% else %}
              <div class="mdp-stock-number">
                —
              </div>
            {% endif %}
          </div>

          <!-- SKU -->
          <div class="mdp-col mdp-col-sku">
            <label>Product Code</label>
            <div class="mdp-sku-number">
              {{ variant.sku }}
            </div>
          </div>

        </div>
      {% comment %} END OF THREE COLUMN {% endcomment %}

      {% comment %} DELIVERY NOTICE {% endcomment %}
      {%- when 'delivery-notice' -%}
        <div class="delivery-notice">
          <div class="accordion-item">
            {% if block.settings.delivery_notice_title != blank %}
              <div class="accordion-title">
                {{ block.settings.delivery_notice_title }}
                <img 
                  src="{{ 'CaretUp.svg' | asset_url }}" 
                  alt="Toggle" 
                  class="accordion-caret" 
                  width="24" 
                  height="25" 
                />
              </div>
              <div class="accordion-content">
                {{ block.settings.delivery_notice_description }}
              </div>
            {% endif %}
          </div>
          <div class="accordion-item">
            {% if block.settings.product_description_title != blank %}
              <div class="accordion-title">
                Description
                <img 
                  src="{{ 'CaretUp.svg' | asset_url }}" 
                  alt="Toggle" 
                  class="accordion-caret" 
                  width="24" 
                  height="25" 
                />
              </div>
              <div class="accordion-content">
                {% if current_product.description != blank %}
                  {{ current_product.description }}
                {% else %}
                  <p>No description available.</p>
                {% endif %}
              </div>
            {% endif %}
          </div>
          <div class="accordion-item">
            {% if block.settings.product_details_title != blank %}
              <div class="accordion-title">{{ block.settings.product_details_title }}<img src="{{ 'CaretUp.svg' | asset_url }}" alt="Toggle" class="accordion-caret" /></div>
              <div class="accordion-content">
                <div class="prod-details-table">
                  {% assign color_options = current_product.options_with_values | where: "name", "Color" %}
                  {% if color_options.size > 0 %}
                    <div class="product-colors">
                      <div class="table-title">Color</div>
                      <div class="table-value">
                        {% for color in color_options[0].values %}
                          {{ color }}
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}
                  {% if current_product.collections.size > 0 %}
                    <div class="product-collections">
                      <div class="table-title">Collection</div>
                      <div class="table-value">
                        {% for collection in current_product.collections %}
                          <a href="{{ collection.url }}">{{ collection.title }}</a>{% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}
                    {%# Product Width #%}
                    <div class="product-width">
                      <div class="table-title">Width</div>
                      <div class="table-value">
                        {{ current_product.metafields.custom.width.value | default: 'N/A' }}
                      </div>
                    </div>

                    {%# Product Weight #%}
                    <div class="product-weight">
                      <div class="table-title">Weight</div>
                      <div class="table-value">
                        {{ current_product.metafields.custom.weight.value | default: 'N/A' }}
                      </div>
                    </div>

                    {%# Player Level #%}
                    <div class="product-player-level">
                      <div class="table-title">Player Level</div>
                      <div class="table-value">
                        {{ current_product.metafields.custom.player_level.value | default: 'N/A' }}
                      </div>
                    </div>

                    {%# Product Shape #%}
                    <div class="product-shape">
                      <div class="table-title">Shape</div>
                      <div class="table-value">
                        {{ current_product.metafields.custom.shape.value | default: 'N/A' }}
                      </div>
                    </div>

                    {%# Product Gender #%}
                    <div class="product-gender">
                      <div class="table-title">Gender</div>
                      <div class="table-value">
                        {{ current_product.metafields.custom.gender.value | default: 'N/A' }}
                      </div>
                    </div>

                    {%# Product Frame #%}
                    <div class="product-frame">
                      <div class="table-title">Frame</div>
                      <div class="table-value">
                        {{ current_product.metafields.custom.frame.value | default: 'N/A' }}
                      </div>
                    </div>

                    {%# Product Player #%}
                    <div class="product-player">
                      <div class="table-title">Player</div>
                      <div class="table-value">
                        {{ current_product.metafields.custom.player.value | default: 'N/A' }}
                      </div>
                    </div>

                    {%# Product Material care #%}
                    <div class="product-material-cara">
                      <div class="table-title">Material cara</div>
                      <div class="table-value">
                        {{ current_product.metafields.custom.material_cara.value | default: 'N/A' }}
                      </div>
                    </div>

                    {%# Product Rubber #%}
                    <div class="product-rubber">
                      <div class="table-title">Rubber</div>
                      <div class="table-value">
                        {{ current_product.metafields.custom.rubber | default: 'N/A' }}
                      </div>
                    </div>

                    {%# Product Surface #%}
                    <div class="product-surface">
                      <div class="table-title">Surface</div>
                      <div class="table-value">
                        {{ current_product.metafields.custom.surface | default: 'N/A' }}
                      </div>
                    </div>
                </div>
              </div>
            {% endif %}
          </div>
          <div class="accordion-item">
            {% if block.settings.product_advantages_title != blank %}
              <div class="accordion-title">
                Product Advantages 
                <img 
                  src="{{ 'CaretUp.svg' | asset_url }}" 
                  alt="Toggle" 
                  class="accordion-caret" 
                  width="24" 
                  height="25" 
                />
              </div>
            {% endif %}
            <div class="accordion-content">
              <div class="product-advantages">
                {% if current_product.metafields.custom.product_advantages != blank %}
                  {% for advantage in current_product.metafields.custom.product_advantages.value %}
                    <div class="pa-item">
                      <div class="col-left">
                        <img 
                          src="{{ advantage.image | img_url: '300x' }}" 
                          alt="{{ advantage.title }}" 
                          width="{{ advantage.image | img_url: '300x' | img_width }}"
                          height="{{ advantage.image | img_url: '300x' | img_height }}"
                        />
                      </div>
                      <div class="col-right">
                        <div class="pa-title">{{ advantage.title }}</div>
                        <div class="pa-desc">{{ advantage.description }}</div>
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  <span>N/A</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% comment %} END OF DELIVERY NOTICE  {% endcomment %}

    {%- when 'buttons' -%}
      {% form "product", current_product %} 	
        <input name="id" type="hidden" value="{{variant.id}}" data-productid="{{current_product.id}}">        
        <div class="mdp-buttons">
          <div class="mdp-quantity-wrapper hidden">
            <input type="text" name="quantity" value="1" min="1" class="mdp-qty"/>
          </div>
          {% if variant.inventory_quantity <= 0 and variant.inventory_policy == 'continue' %}
            <button type="submit" 
              class="mdp-preorder-button mdp-add-to-cart mdp-available btn bordered-black"
              data-product-id="{{ variant.id }}"
              data-quantity="1"
            >
              Pre-order
               <img src="{{ 'icon-shopping-cart.svg' | asset_url }}" alt="Shopping Cart" width="16" height="16">
            </button>
          {% elsif variant.available %}
            <button type="submit" 
              class="mdp-add-to-cart mdp-available btn primary"
              data-product-id="{{ variant.id }}"
              data-quantity="1" 
            >
              {{ section.settings.add_cart_string }}
               <img src="{{ 'icon-shopping-cart.svg' | asset_url }}" alt="Shopping Cart" width="16" height="16">
            </button>
          {% else %}
            <button 
              disabled
              class="mdp-add-to-cart sold-out btn primary"
              style="color: {{ btn_color }}"
            >
              {{ section.settings.sold_out_string }}
               <img src="{{ 'icon-shopping-cart.svg' | asset_url }}" alt="Shopping Cart" width="16" height="16">
            </button>
          {% endif %}
          <div class="mdp-add-to-wishlist btn bordered-black" data-product-handle="{{ current_product.handle }}">            
            <span class="mdp-add">
              <span class="mdp-text-wishlist">Add to Wishlist</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M5.7666 2.8667C7.03449 2.86511 8.2516 3.36698 9.14941 4.26221V4.26318L9.15137 4.26416L9.95801 5.01318L10 5.05225L10.043 5.01318L10.8486 4.26416L10.8506 4.26318C11.7488 3.37295 12.9629 2.87459 14.2275 2.87646C15.4832 2.87839 16.6875 3.37327 17.5811 4.25439V4.25732L17.5996 4.27588C18.0437 4.71982 18.3963 5.24656 18.6367 5.82666C18.8771 6.40679 19.0009 7.02878 19.001 7.65674C19.001 8.28469 18.877 8.90668 18.6367 9.48682C18.3963 10.067 18.0438 10.5946 17.5996 11.0386L10.624 18.1167C10.5426 18.1993 10.4449 18.2643 10.3379 18.3091C10.2309 18.3539 10.116 18.3774 10 18.3774C9.88407 18.3774 9.76905 18.3539 9.66211 18.3091C9.55532 18.2643 9.45824 18.1992 9.37695 18.1167L2.39648 11.0347L2.39551 11.0337C1.49793 10.1382 0.992894 8.9227 0.991211 7.65479C0.98962 6.38659 1.49207 5.16887 2.3877 4.271C3.28321 3.37341 4.49869 2.86838 5.7666 2.8667ZM14.2207 4.62549C13.8226 4.62501 13.4276 4.70308 13.0596 4.85498C12.7838 4.96884 12.5269 5.1228 12.2969 5.31104L12.0752 5.51123C12.0671 5.5193 12.0614 5.52509 12.0557 5.52979L12.0527 5.53271L10.5967 6.88818C10.4347 7.03908 10.2214 7.12354 10 7.12354C9.77875 7.12346 9.56619 7.039 9.4043 6.88818L7.94727 5.53271L7.94434 5.52979L7.9248 5.51123C7.35604 4.94482 6.58589 4.62673 5.7832 4.62744C4.98049 4.62827 4.21025 4.94762 3.64258 5.51514C3.07491 6.08281 2.75575 6.85296 2.75488 7.65576C2.75405 8.45861 3.07118 9.22947 3.6377 9.79834V9.79736L9.95605 16.2075L10 16.2534L10.0449 16.2075L16.3604 9.80322L16.4648 9.69678H16.4541C16.6894 9.4386 16.8813 9.14404 17.0156 8.8208C17.1684 8.45318 17.2476 8.05875 17.248 7.66064C17.2485 7.26269 17.1704 6.86834 17.0186 6.50049C16.8667 6.13263 16.6443 5.79787 16.3633 5.51611C16.0821 5.23427 15.7475 5.0107 15.3799 4.85791C15.0125 4.70525 14.6186 4.62601 14.2207 4.62549Z" fill="black" stroke="black" stroke-width="0.125"/>
              </svg>
            </span>
            <span class="mdp-adding"></span>
            <span class="mdp-added">
              <span class="mdp-text-wishlist">Add to Wishlist</span>
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M5.7666 2.8667C7.03449 2.86511 8.2516 3.36698 9.14941 4.26221V4.26318L9.15137 4.26416L9.95801 5.01318L10 5.05225L10.043 5.01318L10.8486 4.26416L10.8506 4.26318C11.7488 3.37295 12.9629 2.87459 14.2275 2.87646C15.4832 2.87839 16.6875 3.37327 17.5811 4.25439V4.25732L17.5996 4.27588C18.0437 4.71982 18.3963 5.24656 18.6367 5.82666C18.8771 6.40679 19.0009 7.02878 19.001 7.65674C19.001 8.28469 18.877 8.90668 18.6367 9.48682C18.3963 10.067 18.0438 10.5946 17.5996 11.0386L10.624 18.1167C10.5426 18.1993 10.4449 18.2643 10.3379 18.3091C10.2309 18.3539 10.116 18.3774 10 18.3774C9.88407 18.3774 9.76905 18.3539 9.66211 18.3091C9.55532 18.2643 9.45824 18.1992 9.37695 18.1167L2.39648 11.0347L2.39551 11.0337C1.49793 10.1382 0.992894 8.9227 0.991211 7.65479C0.98962 6.38659 1.49207 5.16887 2.3877 4.271C3.28321 3.37341 4.49869 2.86838 5.7666 2.8667ZM14.2207 4.62549C13.8226 4.62501 13.4276 4.70308 13.0596 4.85498C12.7838 4.96884 12.5269 5.1228 12.2969 5.31104L12.0752 5.51123C12.0671 5.5193 12.0614 5.52509 12.0557 5.52979L12.0527 5.53271L10.5967 6.88818C10.4347 7.03908 10.2214 7.12354 10 7.12354C9.77875 7.12346 9.56619 7.039 9.4043 6.88818L7.94727 5.53271L7.94434 5.52979L7.9248 5.51123C7.35604 4.94482 6.58589 4.62673 5.7832 4.62744C4.98049 4.62827 4.21025 4.94762 3.64258 5.51514C3.07491 6.08281 2.75575 6.85296 2.75488 7.65576C2.75405 8.45861 3.07118 9.22947 3.6377 9.79834V9.79736L9.95605 16.2075L10 16.2534L10.0449 16.2075L16.3604 9.80322L16.4648 9.69678H16.4541C16.6894 9.4386 16.8813 9.14404 17.0156 8.8208C17.1684 8.45318 17.2476 8.05875 17.248 7.66064C17.2485 7.26269 17.1704 6.86834 17.0186 6.50049C16.8667 6.13263 16.6443 5.79787 16.3633 5.51611C16.0821 5.23427 15.7475 5.0107 15.3799 4.85791C15.0125 4.70525 14.6186 4.62601 14.2207 4.62549Z" fill="black" stroke="black" stroke-width="0.125"/>
                </svg>
            </span>
          </div>       
        </div>
      {% endform %}
    {%- when 'dynamic_checkout' -%}
      {%- assign product_form_id = 'payment-button-' | append: current_product.id -%}
      {% form "product", current_product, id: product_form_id %} 	
        <input name="id" type="hidden" value="{{variant.id}}" data-productid="{{current_product.id}}">  
        {{ form | payment_button }}
      {% endform %}

    {%- when 'availability' -%}
      <div class="mdp-product-availability" data-store-availability-container data-product-title="" data-has-only-default-variant="" data-base-url="" /> 

    {%- when 'description' -%}
      <div class="mdp-content {% if oneRow == true %}mdp-content-section{% endif %}">
        {% comment %} {% if current_product.description != blank %}
          {% if block.settings.excerpt_words != 0 %}
            {{ current_product.description | strip_html | truncatewords: block.settings.excerpt_words, block.settings.excerpt_ellipsis }}
          {% else %}
            {{ current_product.description }}
            {% if block.settings.read_more == true %}
              <a href="{{ current_product.url }}" class="mdp-link-description">Read More</a>
            {% endif %}
          {% endif %}
        {% else %}
          <p class="mdp-no-description">No description available.</p>
        {% endif %} {% endcomment %}
        {% if current_product.metafields.custom.short_description %}
          <div class="product-short-description">
            {{ current_product.metafields.custom.short_description.value | default: 'N/A' }}
          </div>
        {% endif %}
      </div>

    {%- when 'visitors' -%}
      <div class="mdp-visitors" data-min="{{ block.settings.min }}" data-max="{{ block.settings.max }}" data-duration="{{ block.settings.duration }}">
        <span class="mdp-icon">{% render 'mdp-weare-icon' with '154' %}</span>
        <span class="mdp-value"></span>
        <span class="mdp-text">{{ block.settings.text }}</span>
      </div>

    {%- when 'share' -%}
      {% render 
        'mdp-weare-social-sharing',
        share_title: current_product.title, 
        share_permalink: current_product.url, 
        share_image: current_product.featured_media 
      %}

    {%- when '@app' -%}
      {% render block %}

    {%- when 'custom_liquid' -%}
      {{ block.settings.custom_liquid }}

  {%- endcase -%}
{%- endfor -%}
