<div class="player-card {% if player.handle == active_handle %}active{% endif %}">
    <div class="card-featured-image">
      <img src="{{ collection.image | image_url }}" alt="{{ collection.title }}">
    </div>
    <div class="card-content">
      <div class="player-title">{{ player.title }}</div>
      <div class="text">Brands that {{ player.title }} wears:</div>
      <div class="brands">
        {% for brand in collection.metafields.custom.brands.value %}
          <img src="{{ brand | image_url: width: 60 }}" alt="Brand logo">
        {% endfor %}
      </div>
    </div>
</div>



<style>

.card-content {
    display: flex;
    padding: 24px 24px 40px 24px;
    flex-direction: column;
    align-items: flex-start;
    border-top: 8px solid var(--Secondary-1-Forest-Shade, #819972);
    background: var(--Secondary-1-Dark-Moss-Green, #42662B);
    position: relative;
    z-index: 1;
    flex: 1;
}
.card-content .player-title {
    color: var(--Primary-White, #FFF);
    font-family: Lexend;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card-content .text {
    color: var(--Primary-White, #FFF);
    font-family: "Red Hat Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.card-content .brands {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: white;
}
.card-content .brands img {
    width: 60px;
    height: 12px;
    aspect-ratio: 58.50/12.00;
    object-fit: contain;
    /* filter: invert(1); */
}
.player-kit-card .card-featured-image {
    height: 273px;
    width: 100%;
    background: #42662B;
    margin-top: 100px;
}
.player-kit-card .card-featured-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.3);
    object-position: center;
}
@media (max-width: 767px) {
  .player-kit-card .card-featured-image {
    margin-top: 60px;
  }
}
</style>