{% if template == 'collection.pro-player-kit' %}
  <div class="player-card player-card-link"
       data-player-name="{{ collection.title | escape }}"
       data-player-desc="{{ collection.description | strip_newlines | escape }}"
       data-player-handle="{{ collection.handle }}">
{% else %}
  <a href="{{ collection.url }}" class="player-card-link">
    <div class="player-card">
{% endif %}
    <div class="player-container">
      <div class="card-featured-image">
        <img src="{{ collection.image | image_url }}" alt="{{ collection.title }}">
      </div>
      <div class="card-content">
        <div class="player-title">{{ collection.title }}</div>
        {% assign first_name = collection.title | split: ' ' | first %}
        <div class="text">Brands that {{ first_name }} wears:</div>
        <div class="brands">
          {% if collection.metafields.custom.brands != blank %}
            {% for brand in collection.metafields.custom.brands.value %}
              {% if brand.logo != blank %}
                <img src="{{ brand.logo | image_url: width: 200 }}" alt="{{ brand.name | escape }}">
              {% else %}
                <img src="{{ 'default-brand-logo.png' | asset_url }}" alt="{{ brand.name | escape }}">
              {% endif %}
              {% unless forloop.last %} | {% endunless %}
            {% endfor %}
          {% endif %}
        </div>


      </div>
    </div>
{% if template == 'collection.pro-player-kit' %}
  </div>
{% else %}
    </div>
  </a>
{% endif %}
