<div class="player-card {% if player.handle == active_handle %}active{% endif %}">
    <div class="card-featured-image">
      <img src="{{ collection.image | image_url }}" alt="{{ collection.title }}">
    </div>
    <div class="card-content">
      <div class="player-title">{{ player.title }}</div>
      <div class="text">Brands that {{ player.title }} wears:</div>
      <div class="brands">
        {% for brand in collection.metafields.custom.brands.value %}
          <img src="{{ brand | image_url: width: 60 }}" alt="Brand logo">
        {% endfor %}
      </div>
    </div>
</div>
