<div class="collection-grid-item">
  <!-- Featured Image -->
  <div class="gallery-container">
    <a href="{{ product.url }}">
      <div class="main-img">
        <img class="main-product-image"
            src="{{ product.media[0].preview_image | image_url: width: 400 }}"
            alt="{{ product.title }}">
        {% if product.metafields.custom.limited_edition == true %}
          <div class="limited-edition">Limited Edition</div>
        {% endif %}
      </div>
    </a>
    <div class="product-thumbnails">
      {% for media in product.media limit: 4 %}
        {% if media.media_type == 'image' %}
          <div class="thumbnail-container">
            <img
              src="{{ media.preview_image | image_url: width: 100 }}"
              alt="{{ product.title }} thumbnail"
              class="thumbnail-img"
              data-full="{{ media.preview_image | image_url: width: 400 }}">
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="product-details">
    <div class="prod-title">{{ product.title | truncate: 25 }}</div>
    <div class="prod-price">{{ product.price | money }}</div>

    {% if product.metafields.custom.short_description != blank %}
      <div class="short-description">
        {{ product.metafields.custom.short_description }}
      </div>
      {%- else -%}
        <div class="short-description">
          Play with great vibe
        </div>
    {% endif %}

    <div class="infos">
      {% assign color_option_index = -1 %}
      {% for option in product.options_with_values %}
        {% if option.name == 'Color' %}
          {% assign color_option_index = forloop.index0 %}
        {% endif %}
      {% endfor %}

      {% assign color_string = '' %}
      {% for variant in product.variants %}
        {% if color_option_index == 0 %}
          {% assign color_value = variant.option1 %}
        {% elsif color_option_index == 1 %}
          {% assign color_value = variant.option2 %}
        {% elsif color_option_index == 2 %}
          {% assign color_value = variant.option3 %}
        {% else %}
          {% assign color_value = '' %}
        {% endif %}

        {% unless color_string contains color_value %}
          {% assign color_string = color_string | append: color_value | append: ',' %}
        {% endunless %}
      {% endfor %}

      {% assign color_array = color_string | split: ',' | compact %}
      {% assign color_count = color_array.size %}

      {% if color_option_index != -1 %}
        <div class="variant">{{ color_count }} color{% if color_count > 1 %}s{% endif %}</div>
      {% endif %}

      <div class="stocks">
        {% assign inventory = product.variants.first.inventory_quantity %}
        {% if inventory > 0 %}
          <p>{{ inventory }} in stocks</p>
        {% else %}
          <p class="out-of-stock">Out of stock</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<style>

/* PROD GRID */
.collection-grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    padding: 0 0 80px;
}
.main-img {
    /* max-width: 298px;
    max-height: 300px; */
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
    background: var(--white);
    margin-bottom: -30px;
}
.main-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.product-thumbnails {
    display: flex;
    justify-content: center;
    /* max-width: 232px;
    width: 100%; */
    max-width: fit-content;
    margin: 0 auto;
    background: #F9F9F9;
    z-index: 2;
    position: relative;
    gap: 8px;
    padding: 8px;
}
.thumbnail-container {
    /* background: #F9F9F9;
    margin: 8px; */
    background: white;
    max-width: 48px;
    height: 48px;
    cursor: pointer;
}
.thumbnail-container img {
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.gallery-container {
    margin-bottom: -30px;
}
.product-details {
    padding: 50px 20px 20px;
    
}
.prod-title {
    font-family: var(--font-lexend);
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    color: var(--black);
}
.collection-grid-item {
    position: relative;
    border: 1px solid var(--white);
    transition: 0.3s;
    background: #F9F9F9;
}
.collection-grid-item:hover {
    border: 1px solid var(--green);
}

.prod-price {
    font-size: 24px;
    font-family: var(--font-lexend);
    line-height: 120%;
    font-weight: 700;
    padding: 4px 0 8px;
}
.short-description {
    font-family: var(--font-redhat);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: var(--text);
}
.infos {
    font-family: var(--font-redhat);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: var(--text);
    gap: 15px;
}
.infos p {
    font-family: var(--font-redhat);
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: var(--text);
}

.product-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    margin-top:20px;
}
.product-buttons btn {
    display: inline-block;
    width: 100%;
}
.product-buttons a {
    text-decoration: none;
    text-align: center;
    padding: 16px 20px;
    background: transparent;
    font-family: var(--font-lexend);
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
    line-height: 100%;
    text-transform: uppercase;
}
.product-buttons .add-cart-btn {
    font-size: 16px;
    font-family: var(--font-lexend);
    padding: 16px 20px;
    border-radius: 0;
    border: none;
    background: var(--green);
    color: white;
    text-transform: uppercase;
    width: auto;
    text-align: center;
    cursor: pointer;
}
.thumbnail-container.active {
  border-bottom: 2px solid var(--green);
}

.limited-edition {
    font-family: var(--font-lexend);
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    color: var(--white);
    padding: 4px 8px;
    background: var(--black);
    position: absolute;
    top: 20px;
    left: 20px;
    
}
.view-btn {
    transition: 0.3s;
}
.view-btn:hover {
    background: #D9E0D5;
}
.product-buttons .add-cart-btn {
  transition: 0.3s;
}
.product-buttons .add-cart-btn:hover {
  background: #607F4C; 
}

@media (max-width: 1024px) {
    .collection-banner .collection-banner-title {
        font-size: 38px;
    }
}
@media (max-width: 767px) {
    .filter-section .custom-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .collection-banner .collection-banner-title {
        font-size: 30px;
        text-align: center;
    }
}

</style>

<script>
  $(document).ready(function () {
    $('.collection-grid-item').each(function () {
      $(this).find('.thumbnail-container').first().addClass('active');
    });
    $('.thumbnail-img').on('click', function () {
      var newSrc = $(this).data('full');

      // Find this product's container
      var productContainer = $(this).closest('.collection-grid-item');

      // Update the main image
      productContainer.find('.main-product-image').attr('src', newSrc);

      // Remove 'active' from all thumbnail-containers in this product
      productContainer.find('.thumbnail-container').removeClass('active');

      // Add 'active' to the clicked thumbnail's container
      $(this).closest('.thumbnail-container').addClass('active');
    });
  });
</script>

