<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  {% render 'social-meta-tags' %}

  {%- if canonical_url != blank  -%}
    <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
  {{ 'all.min.css' | asset_url | stylesheet_tag }}
  {{"sectionhub.css" | asset_url | stylesheet_tag }}
  {{"sectionhub-weare.css" | asset_url | stylesheet_tag }}
  {{"hover-set1.css" | asset_url | stylesheet_tag }}
  {{ 'select2.min.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'jquery.min.js' | asset_url }}"></script>
  <script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
  

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  {{ content_for_header }}
  {{ "prosmash-global.css" | asset_url | stylesheet_tag }}
  {{ 'prosmash-hp-style.css' | asset_url | stylesheet_tag }}
</head>

<body class="template-{{ request.page_type | handle }}">
  
  {{ content_for_layout }}

<script src="{{ 'sectionhub.js' | asset_url }}" defer></script>
<script src="{{ 'select2.min.js' | asset_url }}"></script>
</body>
</html>