{{"collections-description.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}"
     class="mdp mdp-boxed-home-15 mdp-collections-description"
     style="{% unless section.settings.margin_top == blank %}
             margin-top: {{ section.settings.margin_top }}px;
            {% endunless %}
            {% unless section.settings.margin_bottom == blank %}
             margin-bottom: {{ section.settings.margin_bottom }}px;{% endunless %}">
    <div class="mdp-grid" data-columns="{{section.settings.col_per_row}}" data-gap="{{section.settings.gap}}">
        {% if section.settings.display_type == 'all' %}
            {% case section.settings.sort %}
                {% when 'products_high' or 'products_low' %}
                    {%- assign list_collections = collections | sort: 'all_products_count' -%}
                {% when 'date' or 'date_reversed' %}
                    {%- assign list_collections = collections | sort: 'published_at' -%}
                {% else %}
                    {%- assign list_collections = collections -%}
            {% endcase %}
            {% for collection in list_collections limit:section.settings.number_of_collections %}
                <div class="mdp-collection">
                    <div class="mdp-media">
                        <div class="mdp-placeholder" style="padding-top: calc({{ section.settings.image_size | split: "_" | first | split: "x" | last }} / {{ section.settings.image_size | split: "x" | first }} * 100%);">
                            <img class="mdp-image lazyload" data-src="{{collection.image | img_url : section.settings.image_size}}" alt="{{collection.title}}" >
                        </div>
                    </div>
                    <div class="mdp-data">
                        <div class="mdp-header">
                            <h2 class="mdp-title">
                                {{collection.title}}
                            </h2>
                        </div>
                        {% unless collection.description == blank %}
                            <div class="mdp-content">
                                {{collection.description | strip_html | truncatewords: 20, '...'}}
                            </div>
                        {% endunless %}
                        <div class="mdp-footer">
                            <a class="mdp-button" href="{{collection.url}}">Shop {{collection.title}}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% for block in section.blocks %}
                {% if block.settings.collection == blank or collections[block.settings.collection] == empty %}
                    {% assign collection = collections['all'] %}
                {% else %}
                    {% assign collection = collections[block.settings.collection] %}
                {% endif %}
                {% if block.settings.title == blank %}
                    {% assign title = collection.title %}
                {% else %}
                    {% assign title = block.settings.title %}
                {% endif %}
                {% if block.settings.image == blank %}
                    {% assign image = collection.image %}
                {% else %}
                    {% assign image = block.settings.image %}
                {% endif %}
                <div class="mdp-collection">

                  <div class="mdp-media">
                    <img src="{{image | img_url : section.settings.image_size}}" class="mdp-img-collections" alt="{{title}}" >
                  </div>

                  <div class="mdp-footer">
                      <a class="mdp-button-shop" href="{% if block.settings.collection_link != blank %}{{block.settings.collection_link}}{% else %}{{collection.url}}{% endif %}">
                          {% if block.settings.title != blank %}{{block.settings.title}}/{% else %}{{collection.title}}{% endif %}
                      </a>
                      <div class="mdp-description-text">{{collection.description}}</div>
                  </div>

                </div>
            {% endfor %}
        {% endif %}
    </div>

</div>

{% schema %}
{
  "name": "Collections description",
  "settings": [
    {
      "type": "radio",
      "id": "display_type",
      "label": "Select collections to show",
      "default": "all",
      "options": [
        {
          "value": "all",
          "label": "All"
        },
        {
          "value": "selected",
          "label": "Selected"
        }
      ]
    },
    {
      "type": "select",
      "id": "sort",
      "label": "Sort collections by:",
      "info": "Sorting only applies when 'All' is selected",
      "default": "alphabetical",
      "options": [
        {
          "value": "products_high",
          "label": "Product count, high to low"
        },
        {
          "value": "products_low",
          "label": "Product count, low to high"
        },
        {
          "value": "alphabetical",
          "label": "Alphabetically, A-Z"
        },
        {
          "value": "alphabetical_reversed",
          "label": "Alphabetically, Z-A"
        },
        {
          "value": "date",
          "label": "Date, old to new"
        },
        {
          "value": "date_reversed",
          "label": "Date, new to old"
        }
      ]
    },
    {
      "type": "range",
      "id": "number_of_collections",
      "label": "Number of collections",
      "default": 3,
      "min": 3,
      "max": 12,
      "step": 3
    },
    {
      "type": "range",
      "id": "col_per_row",
      "label": "Col per row",
      "default": 3,
      "min": 1,
      "max": 6,
      "step": 1
    },
    {
      "type": "select",
      "id": "gap",
      "label": "Gap(px)",
      "default": "30",
      "options": [
        {
          "label": "0",
          "value": "0"
        },
        {
          "label": "5",
          "value": "5"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "25",
          "value": "25"
        },
        {
          "label": "30",
          "value": "30"
        },
        {
          "label": "35",
          "value": "35"
        }
      ]
    },
    {
      "type": "text",
      "id": "image_size",
      "label": "Image size",
      "default": "600x600_crop_center",
      "info": "Set the image size: 'icon:32x32',\n 'small: 50x50',\n 'compact: 160x160',\n 'medium: 240x240',\n 'large: 480x480',\n 'grande: 600x600',\n 'master largest image: 2048x',\n'full' or '370x370_crop_center'"
    },
    {
      "type": "text",
      "id": "button_string",
      "label": "Button text",
      "default": "Discover more"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin top (px)"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin bottom (px)"
    }
  ],
  "blocks": [{
    "type": "collection",
    "name": "Collection",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title block (optional)",
        "info": "Leave empty to use 'collection title' title."
      },
      {
        "type": "url",
        "id": "collection_link",
        "label": "Collection link"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Collection Image (optional)"
      }
    ]
  }],
  "presets": [{
    "name": "Collections description",
    "category": "SectionHub: weare"
  }]
}
{% endschema %}