{{"collection-favorite-home-13.css" | asset_url | stylesheet_tag }}

{% assign image_size = section.settings.image_size | default: '270x370_crop_center' %}

{% assign slider = section.settings.slider | default: false %}

{% assign vendor = section.settings.vendor | default: false %}

{% assign redirect = section.settings.redirect | default: false %}

{% assign sale_string = section.settings.sale_string %}
{% unless sale_string %}
    {% assign sale_string = 'products.product.on_sale' | t %}
{% endunless %}

{% assign new_string = section.settings.new_string %}
{% unless new_string %}
    {% assign new_string = 'products.product.new' | t %}
{% endunless %}

{% assign sold_out_string = section.settings.sold_out_string %}
{% unless sold_out_string %}
    {% assign sold_out_string = 'products.product.sold_out' | t %}
{% endunless %}

{% assign add_cart_string = section.settings.add_cart_string %}
{% unless add_cart_string %}
    {% assign add_cart_string = 'products.product.add_to_cart' | t %}
{% endunless %}

{% assign select_options_string = section.settings.select_options_string %}
{% unless select_options_string %}
    {% assign select_options_string = 'products.product.select_options' | t %}
{% endunless %}

<div class="mdp-container-campaign-favorite">
    <div id="mdp-weare-{{ section.id }}"
         class="mdp mdp-boxed collection-favorite-home-13"
         style="margin-top: {{ section.settings.margin_top }}px;
                 margin-bottom: {{ section.settings.margin_bottom }}px;">

        <div class="mdp-favorite mdp-stretch-height">
            {% if section.settings.selected_collection == blank or collections[section.settings.selected_collection] == empty %}
                {% for product in collections['all'].products limit: 3 %}
                    {% render 'mdp-weare-product-card', product: product, price: section.settings.show_price %}
                {% endfor %}
            {% else %}

                {% assign count = 1 %}
                {% for product in collections[section.settings.selected_collection].products limit: 3 %}

                    {% if count == 1 %}
                        <div class="mdp-big-container">
                            <div class="mdp-media">
                                <a href="{{ product.url }}">
                                    {% if slider %}
                                        <div class="mdp-swiper-container swiper-slideshow-home-f13{{ count }}">
                                            <div class="swiper-wrapper mdp-swiper-wrapper">
                                                {% for image in product.images %}
                                                    {% if product.featured_image == image %}
                                                        <div class="swiper-slide mdp-swiper-slide">
                                                            <img class="mdp-big-image"
                                                                 src="{{ image | img_url : "1200x1000_crop_center"}}"
                                                                 alt="{{image.alt}}" >
                                                            <h3 class="mdp-product-title">{{ product.title }}</h3>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                                {% for image in product.images %}
                                                    {% if product.featured_image != image %}
                                                        <div class="swiper-slide mdp-swiper-slide">
                                                            <img class="mdp-big-image"
                                                                 src="{{ image | img_url : "1200x1000_crop_center"}}"
                                                                 alt="{{image.alt}}" >
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="mdp-swiper-button-prev swiper-button-prev-slideshow-home-f13{{ count }}"></div>
                                            <div class="mdp-swiper-button-next swiper-button-next-slideshow-home-f13{{ count }}"></div>
                                        </div>

                                        <script>
                                            const swiperSlideshowHomef13{{ count }} = new Swiper('.swiper-slideshow-home-f13{{ count }}', {
                                                // Optional parameters
                                                lidesPerView: 'auto',
                                                direction: 'horizontal',
                                                slidesPerView: 1,
                                                centeredSlides: false,
                                                speed: 500,
                                                spaceBetween: 30,
                                                loop: true,
                                                autoplay: {
                                                    delay: 5000
                                                },
                                                effect: 'slide',
                                                allowTouchMove: true,
                                                freeMode: true,
                                                watchSlidesVisibility: true,
                                                watchSlidesProgress: true,
                                                hashNavigation: false,

                                                // Navigation arrows
                                                navigation: {
                                                    nextEl: '.swiper-button-next-slideshow-home-f13{{ count }}',
                                                    prevEl: '.swiper-button-prev-slideshow-home-f13{{ count }}',
                                                }
                                            });

                                            swiperSlideshowHomef13{{ count }}.init();
                                        </script>

                                    {% else %}
                                        <div>
                                            <img class="mdp-big-image"
                                                 src="{{ product.featured_image | img_url : "1200x1000_crop_center" }}"
                                                 alt="{{product.featured_image.alt}}" >
                                        </div>
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    {% elsif count == 2 %}
                        <div class="mdp-small-container">

                        <a href="{{ product.url }}">
                            {% if slider %}
                                <div class="mdp-swiper-container swiper-slideshow-home-f13{{ count }}">
                                    <div class="swiper-wrapper mdp-swiper-wrapper">
                                        {% for image in product.images %}
                                            {% if product.featured_image == image %}
                                                <div class="swiper-slide mdp-swiper-slide">
                                                    <img class="mdp-right-big-image"
                                                         src="{{ image | img_url : "1200x630_crop_center" }}"
                                                         alt="{{image.alt}}" >
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% for image in product.images %}
                                            {% if product.featured_image != image %}
                                                <div class="swiper-slide mdp-swiper-slide">
                                                    <img class="mdp-right-big-image"
                                                         src="{{ image | img_url : "1200x630_crop_center" }}"
                                                         alt="{{image.alt}}" >
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="mdp-swiper-button-prev swiper-button-prev-slideshow-home-f13{{ count }}"></div>
                                    <div class="mdp-swiper-button-next swiper-button-next-slideshow-home-f13{{ count }}"></div>
                                </div>

                                <script>
                                    const swiperSlideshowHomef13{{ count }} = new Swiper('.swiper-slideshow-home-f13{{ count }}', {
                                        // Optional parameters
                                        lidesPerView: 'auto',
                                        direction: 'horizontal',
                                        slidesPerView: 1,
                                        centeredSlides: false,
                                        speed: 500,
                                        spaceBetween: 30,
                                        loop: true,
                                        autoplay: {
                                            delay: 5000
                                        },
                                        effect: 'slide',
                                        allowTouchMove: true,
                                        freeMode: true,
                                        watchSlidesVisibility: true,
                                        watchSlidesProgress: true,
                                        hashNavigation: false,

                                        // Navigation arrows
                                        navigation: {
                                            nextEl: '.swiper-button-next-slideshow-home-f13{{ count }}',
                                            prevEl: '.swiper-button-prev-slideshow-home-f13{{ count }}',
                                        }
                                    });

                                    swiperSlideshowHomef13{{ count }}.init();
                                </script>

                            {% else %}
                                <div>
                                    <img class="mdp-right-big-image"
                                         src="{{ product.featured_image | img_url : "1200x630_crop_center" }}"
                                         alt="{{product.featured_image.alt}}" >
                                </div>
                            {% endif %}

                        </a>

                            <div class="mdp-media mdp-flex-center">

                                <div class="mdp-text-content">
                                    <div class="mdp-box-bg">
                                        <h3>{{ collections[section.settings.selected_collection].title }}</h3>
                                        {% if section.settings.show_btn_cl == true %}
                                            <a href="{% if section.settings.selected_collection != blank %}{{section.settings.selected_collection.url}}{% else %} javascript:void(0);{% endif %}"
                                               class="mdp-btn-product">{{section.settings.btn_text_collection}}</a>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                    {% elsif count == 3 %}
                        <div class="mdp-media" style="margin-top: 30px;">
                            <a href="{{ product.url }}">
                                {% if slider %}
                                    <div class="mdp-swiper-container swiper-slideshow-home-f13{{ count }}">
                                        <div class="swiper-wrapper mdp-swiper-wrapper">
                                            {% for image in product.images %}
                                                {% if product.featured_image == image %}
                                                    <div class="swiper-slide mdp-swiper-slide">
                                                        <div style="position: relative;">
                                                            <img class="mdp-right-small-image"
                                                                 src="{{ image | img_url : "1200x400_crop_center" }}"
                                                                 alt="{{image.alt}}" >
                                                            <h3 class="mdp-product-title">{{ product.title }}</h3>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                            {% for image in product.images %}
                                                {% if product.featured_image != image %}
                                                    <div class="swiper-slide mdp-swiper-slide">
                                                            <img class="mdp-right-small-image"
                                                                 src="{{ image | img_url : "1200x400_crop_center" }}"
                                                                 alt="{{image.alt}}" >
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="mdp-swiper-button-prev swiper-button-prev-slideshow-home-f13{{ count }}"></div>
                                        <div class="mdp-swiper-button-next swiper-button-next-slideshow-home-f13{{ count }}"></div>
                                    </div>

                                    <script>
                                        const swiperSlideshowHomef13{{ count }} = new Swiper('.swiper-slideshow-home-f13{{ count }}', {
                                            // Optional parameters
                                            lidesPerView: 'auto',
                                            direction: 'horizontal',
                                            slidesPerView: 1,
                                            centeredSlides: false,
                                            speed: 500,
                                            spaceBetween: 30,
                                            loop: true,
                                            autoplay: {
                                                delay: 5000
                                            },
                                            effect: 'slide',
                                            allowTouchMove: true,
                                            freeMode: true,
                                            watchSlidesVisibility: true,
                                            watchSlidesProgress: true,
                                            hashNavigation: false,

                                            // Navigation arrows
                                            navigation: {
                                                nextEl: '.swiper-button-next-slideshow-home-f13{{ count }}',
                                                prevEl: '.swiper-button-prev-slideshow-home-f13{{ count }}',
                                            }
                                        });

                                        swiperSlideshowHomef13{{ count }}.init();
                                    </script>

                                {% else %}
                                    <div>
                                        <img class="mdp-right-small-image"
                                             src="{{ product.featured_image | img_url : "1200x400_crop_center" }}"
                                             alt="{{product.featured_image.alt}}" >
                                    </div>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    {% endif %}

                    {% assign count = count | plus:1 %}

                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<script>
    function heightFav_{{ section.id | replace: "--", "" | replace: "-", "" }}(){
        let winWidthPage = window.innerWidth;
        let boxSlideshow = document.getElementById("mdp-weare-{{ section.id }}");

        let itemsBig = boxSlideshow.querySelectorAll(".mdp-big-image");
        for (let i = 0; i <= itemsBig.length - 1; i++) {
            itemsBig[i].setAttribute("style", `height: ${Math.round(winWidthPage / 2)}px;`);
        }

        let itemsRightBig = boxSlideshow.querySelectorAll(".mdp-right-big-image");
        for (let i = 0; i <= itemsRightBig.length - 1; i++) {
            let heightRightBig = ((winWidthPage / 2) - 30) * 0.6;
            itemsRightBig[i].setAttribute("style", `height: ${Math.round(heightRightBig)}px;`);
        }

        let itemsRightSmall = boxSlideshow.querySelectorAll(".mdp-right-small-image");
        for (let i = 0; i <= itemsRightSmall.length - 1; i++) {
            let heightRightBig = ((winWidthPage / 2) - 30) * 0.4;
            itemsRightSmall[i].setAttribute("style", `height: ${Math.round(heightRightBig)}px;`);
        }
    }

    heightFav_{{ section.id | replace: "--", "" | replace: "-", "" }}();

    addEventListener("resize", (event) => {
        heightFav_{{ section.id | replace: "--", "" | replace: "-", "" }}();
    });
</script>

{% schema %}
{
  "name": "Favorite home 13",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured products"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "box_height",
      "label": "Height",
      "default": "1065"
    },
    {
      "type": "collection",
      "id": "selected_collection",
      "label": "Collection"
    },
    {
      "type": "checkbox",
      "id": "slider",
      "label": "Images slider",
      "default": true
    },
    {
      "type": "header",
      "content": "Strings"
    },
    {
      "type": "text",
      "id": "sold_out_string",
      "label": "Sold out string",
      "default": "Sold out"
    },
    {
      "type": "text",
      "id": "sale_string",
      "label": "Sale string",
      "default": "Sale"
    },
    {
      "type": "text",
      "id": "new_string",
      "label": "New string",
      "default": "New"
    },
    {
      "type": "text",
      "id": "select_options_string",
      "label": "Select options string",
      "default": "Select options"
    },
    {
      "type": "text",
      "id": "add_cart_string",
      "label": "Add cart string",
      "default": "Add to cart"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show price",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_btn_cl",
      "label": "Show button collection",
      "default": false
    },
    {
      "type": "text",
      "id": "btn_text_collection",
      "label": "Button collection",
      "default": "Shop Now"
    },
    {
      "type": "color_background",
      "id": "background",
      "label": "Background",
      "default": "transparent"
    },
    {
      "type": "text",
      "id": "padding_top",
      "label": "Padding top (px)",
      "default": "0"
    },
    {
      "type": "text",
      "id": "padding_bottom",
      "label": "Padding bottom (px)",
      "default": "0"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin top (px)",
      "default": "0"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin bottom (px)",
      "default": "0"
    }
  ],
  "presets": [{
    "name": "Favorite home 13",
    "category": "Home 13"
  }]
}
{% endschema %}