{{"mdp-weare-promo-home-8.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}" 
     class="mdp mdp-weare-promo-home-8" 
     data-variant="{{section.settings.variant_promotwo}}" 
     style="background-color: {{ section.settings.bg_color_promotwo }}; 
            padding-top: {{ section.settings.padding_top_promotwo }}px; 
            padding-bottom: {{ section.settings.padding_bottom_promotwo }}px; 
            margin-top: {{ section.settings.margin_top_promotwo }}px; 
            margin-bottom: {{ section.settings.margin_bottom_promotwo }}px;">
  <div class="{% if section.settings.boxed == true %}mdp-container{% else %}mdp-boxed{% endif %}">    
    <div class="mdp-data">
      <div class="mdp-header">
        <h2 class="mdp-title">{{section.settings.title_promotwo}}</h2>
        {% unless section.settings.subtitle_promotwo == blank %}
        <div class="mdp-subtitle">{{section.settings.subtitle_promotwo}}</div>
        {% endunless %}
      </div>

      <div class="mdp-footer">
        <div class="mdp-grid" data-columns="2" data-gap="30">
          {% unless section.blocks.size == 0 %}        
            {% for block in section.blocks %}                     
              {% if block.type == 'product_link' %}
                <div class="mdp-weare-product-card">
                  <img src="{{block.settings.image_product | img_url : section.settings.image_size_promotwo}}" style="width: 100%;" alt="">                  
                  <h3 class="mdp-name-product" style="text-align: {{block.settings.text_align}}; font-size: {{block.settings.font_size}}px;">{{block.settings.name_product}}</h3>                  
                  <a href="{{block.settings.link_product}}" class="mdp-btn" style="text-align: {{block.settings.text_align}};"><span>Shop Collection</span></a>
                </div>
              {% endif %}
            {% endfor %}        
          {% endunless %}        
        </div>
      </div>   
           
    </div>  
  </div>
</div>

{% schema %}
  {
    "name": "Promo home 8",
    "settings": [	  	       
      {
        "type": "text",
        "id": "title_promotwo",
        "label": "Heading",
        "default": "Product promo"
      },
	  {
        "type": "text",
        "id": "subtitle_promotwo",
        "label": "Subheading"
      },
      {
         "type": "text",
         "id": "image_size_promotwo",
         "label": "Image size",
         "default": "600x600_crop_center",
         "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
      },      
	  {
        "type": "checkbox",
        "id": "boxed",
        "label": "Boxed",
        "default": true
	  },
      {
        "type": "text",
        "id": "padding_top_promotwo",
        "label": "Padding top (px)"
      },
      {
        "type": "text",
        "id": "padding_bottom_promotwo",
        "label": "Padding bottom (px)"
      },
      {
        "type": "text",
        "id": "margin_top_promotwo",
        "label": "Margin top (px)"
      },
      {
        "type": "text",
        "id": "margin_bottom_promotwo",
        "label": "Margin bottom (px)"
      }
    ],	
    "blocks": [
	{
	"type": "product_link",
    "name": "Product link",
    "settings": [
	  {
        "type": "text",
        "id": "name_product",
        "label": "Name product"
	  },
	  {
        "type": "select",
        "id": "text_align",
        "label": "Align name product",
        "default": "center",
        "options": [
          {
          "label": "Center",
          "value": "center"
          },
          {
          "label": "Right",
          "value": "right"
          },
          {
          "label": "Left",
          "value": "left"
          }
        ]
      },
	  {
        "type": "text",
        "id": "font_size",
        "label": "Product font size(px)",
		"default": "16"
	  },	  
      {
        "type": "image_picker",
        "id": "image_product",
        "label": "Image product"
	  },	  
      {
        "type": "url",
        "id": "link_product",
        "label": "Link"
	  }
	]}
	],
    "presets": [{
      "name": "Promo home 8",
      "category": "SectionHub: weare"
    }]
  }
{% endschema %}