{{"mdp-weare-tabs-1.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}" class="mdp mdp-weare-tabs {% if section.settings.inverted %}mdp-inverted{% endif %}" style="background-color: {{ section.settings.bg_color }}; padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px; margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
  {% if section.settings.bg_image != blank %}
  <div class="mdp-overlay" style="background-image: url({{section.settings.bg_image | img_url : '2000x' }})"></div>
  {% endif %}
  <div class="mdp-container">
    {% unless section.settings.title == blank and section.settings.subtitle == blank %}
    <div class="mdp-header">
      {% unless section.settings.title == blank %}
      <h2 class="mdp-title">{{ section.settings.title | escape }}</h2>
      {% endunless %}
      {% unless section.settings.subtitle == blank %}
      <div class="mdp-subtitle">{{ section.settings.subtitle | escape }}</div>
      {% endunless %}
    </div>
    {% endunless %}

    <div class="mdp-tabs">
      <div class="mdp-titles">
        {% for block in section.blocks %}  
              <span data-target="#{{ block.settings.title | handleize }}">{{ block.settings.title }}</span>
        {% endfor %}
      </div>
      <div class="mdp-content">
        {% for block in section.blocks %}  
          <div class="mdp-item" id="{{ block.settings.title | handleize }}">
            <div class="mdp-content">
              {{ block.settings.content }}
            </div>            
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Tabs 1",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Tabs"
      },
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background image"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color"
      },
      {
      "type": "checkbox",
      "id": "inverted",
      "label": "Inverted",
      "default": false
      },
      {
        "type": "text",
        "id": "padding_top",
        "label": "Padding top (px)"
      },
      {
        "type": "text",
        "id": "padding_bottom",
        "label": "Padding bottom (px)"
      },
      {
        "type": "text",
        "id": "margin_top",
        "label": "Margin top (px)"
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Margin bottom (px)"
      } 
    ],
	"blocks": [{
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
	  ]
    }],
    "presets": [{
      "name": "Tabs",
      "category": "SectionHub: weare"
    }]
  }
{% endschema %}