{{"mdp-weare-collections-1.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}" class="mdp mdp-container mdp-weare-collections-1" style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
  {% unless section.settings.title == blank and section.settings.subtitle == blank %}
  <div class="mdp-header">
    {% unless section.settings.title == blank %}
    <h2 class="mdp-title">{{ section.settings.title | escape }}</h2>
    {% endunless %}
    {% unless section.settings.subtitle == blank %}
    <div class="mdp-subtitle">{{ section.settings.subtitle | escape }}</div>
    {% endunless %}
  </div>
  {% endunless %}
  
  <div class="mdp-grid" data-columns="{{section.settings.col_per_row}}" data-gap="{{section.settings.gap}}">
    {% if section.settings.display_type == 'all' %}
      {% case section.settings.sort %}
        {% when 'products_high' or 'products_low' %}
          {%- assign list_collections = collections | sort: 'all_products_count' -%}
        {% when 'date' or 'date_reversed' %}
          {%- assign list_collections = collections | sort: 'published_at' -%}
        {% else %}
          {%- assign list_collections = collections -%}
      {% endcase %}
      {% for collection in list_collections limit:section.settings.number_of_collections %}
    	<div class="mdp-collection">
          <a href="{{collection.url}}">
            <div class="mdp-media">
              <div class="mdp-placeholder" style="padding-top: calc({{ section.settings.image_size | split: "_" | first | split: "x" | last }} / {{ section.settings.image_size | split: "x" | first }} * 100%);">
                <img class="mdp-image lazyload" data-src="{{collection.image | img_url : section.settings.image_size}}" alt="{{collection.title}}" >
              </div>
            </div>
            <div class="mdp-data">
              <div class="mdp-header">
                <div class="mdp-title">
                  {{collection.title}}
                </div>
              </div>
              {% unless collection.description == blank %}
                <div class="mdp-content">
                  {{collection.description | strip_html | truncatewords: 20, '...'}}
                </div>
              {% endunless %}
            </div>
          </a>
        </div>
      {% endfor %}
    {% else %}
      {% for block in section.blocks %}  
      	{% if block.settings.collection == blank or collections[block.settings.collection] == empty %}
      		{% assign collection = collections['all'] %}
      	{% else %}
      		{% assign collection = collections[block.settings.collection] %}
      	{% endif %}        
      	{% if block.settings.title == blank %}
      		{% assign title = collection.title %}
      	{% else %}
      		{% assign title = block.settings.title %}
      	{% endif %}
      	{% if block.settings.image == blank %}
      		{% assign image = collection.image %}
      	{% else %}
      		{% assign image = block.settings.image %}
      	{% endif %}
    	<div class="mdp-collection">
          <a href="{{collection.url}}">
            <div class="mdp-media">
              <div class="mdp-placeholder" style="padding-top: calc({{ section.settings.image_size | split: "_" | first | split: "x" | last }} / {{ section.settings.image_size | split: "x" | first }} * 100%);">
                <img class="mdp-image lazyload" data-src="{{image | img_url : section.settings.image_size}}" alt="{{title}}" >
              </div>
            </div>
            <div class="mdp-data">
              <div class="mdp-header">
                <div class="mdp-title">
                  {{title}}
                </div>
              </div>
              {% unless collection.description == blank %}
                <div class="mdp-content">
                  {{collection.description | strip_html | truncatewords: 20, '...'}}
                </div>
              {% endunless %}
            </div>
          </a>
        </div>
      {% endfor %}
    {% endif %}
  </div>

</div>

{% schema %}
  {
    "name": "Collections 1",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collections"
      },
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading"
      },
      {
        "type": "radio",
        "id": "display_type",
        "label": "Select collections to show",
        "default": "all",
        "options": [
          {
            "value": "all",
            "label": "All"
          },
          {
            "value": "selected",
            "label": "Selected"
          }
        ]
      },
      {
        "type": "select",
        "id": "sort",
        "label": "Sort collections by:",
        "info": "Sorting only applies when 'All' is selected",
        "default": "alphabetical",
        "options": [
          {
            "value": "products_high",
            "label": "Product count, high to low"
          },
          {
            "value": "products_low",
            "label": "Product count, low to high"
          },
          {
            "value": "alphabetical",
            "label": "Alphabetically, A-Z"
          },
          {
            "value": "alphabetical_reversed",
            "label": "Alphabetically, Z-A"
          },
          {
            "value": "date",
            "label": "Date, old to new"
          },
          {
            "value": "date_reversed",
            "label": "Date, new to old"
          }
        ]
      },
	  {
        "type": "range",
        "id": "number_of_collections",
        "label": "Number of collections",
        "default": 3,
        "min": 3,
        "max": 12,
        "step": 3
      },
	  {
        "type": "range",
        "id": "col_per_row",
        "label": "Col per row",
        "default": 3,
        "min": 2,
        "max": 5,
        "step": 1
      },
      {
        "type": "select",
        "id": "gap",
        "label": "Gap(px)",
        "default": "1",
        "options": [
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          },
          {
            "label": "10",
            "value": "10"
          },
          {
            "label": "15",
            "value": "15"
          },
          {
            "label": "20",
            "value": "20"
          },
          {
            "label": "25",
            "value": "25"
          },
          {
            "label": "30",
            "value": "30"
          }
        ]
      },
      {
         "type": "text",
         "id": "image_size",
         "label": "Image size",
         "default": "600x600_crop_center",
         "info": "Set the image size: 'icon:32x32',\n 'small: 50x50',\n 'compact: 160x160',\n 'medium: 240x240',\n 'large: 480x480',\n 'grande: 600x600',\n 'master largest image: 2048x',\n'full' or '370x370_crop_center'"
      },
      {
        "type": "text",
        "id": "margin_top",
        "label": "Margin top (px)"
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Margin bottom (px)"
      }
    ],
	"blocks": [{
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title block (optional)",
          "info": "Leave empty to use 'collection title' title."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Collection Image (optional)"
        }
	  ]
    }],
    "presets": [{
      "name": "Collections Panel",
      "category": "SectionHub: weare"
    }]
  }
{% endschema %}