{{"mdp-weare-grid-2.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}" class="mdp mdp-weare-grid-2" data-variant="{{section.settings.variant}}" style="background-color: {{ section.settings.bg_color }}; padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px; margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
  {% unless section.settings.title == blank and section.settings.subtitle == blank %}
  <div class="mdp-header mdp-container">
    {% unless section.settings.title == blank %}
    <h2 class="mdp-title">{{ section.settings.title | escape }}</h2>
    {% endunless %}
    {% unless section.settings.subtitle == blank %}
    <div class="mdp-subtitle">{{ section.settings.subtitle | escape }}</div>
    {% endunless %}
  </div>
  {% endunless %}

  {% if section.settings.boxed %}
  	<div class="mdp-container">
  {% endif %}
      <div class="mdp-isotope">
  <div class="mdp-isotope-items" data-columns="{{section.settings.columns}}" data-columns-md="{{section.settings.columns_md}}" data-columns-sm="{{section.settings.columns_sm}}" data-columns-xs="{{section.settings.columns_xs}}" data-gutter="{{section.settings.gutter}}">
    {% for block in section.blocks %}  
    {% assign image_size = section.settings.image_size %}
    {% if block.settings.image_size and block.settings.image_size != blank %}            
    {% assign image_size = block.settings.image_size %}
    {% endif %}
    {% case block.type %}
	{% when 'image' %}
    <div class="mdp-item" data-columns="{{block.settings.columns}}" data-columns-md="{{block.settings.columns_md}}" data-columns-sm="{{block.settings.columns_sm}}" data-columns-xs="{{block.settings.columns_xs}}">
      <div class="mdp-image-item">
        <div class="mdp-media">
          <div class="mdp-placeholder" style="width: {{ image_size | split: "x" | first }}px; padding-top: calc({{ image_size | split: "_" | first | split: "x" | last }} / {{ image_size | split: "x" | first }} * 100%);">
            <img class="mdp-image lazyload" data-src="{{block.settings.image | img_url : image_size}}">
          </div>
        </div>
      </div>
    </div>
	{% when 'link_image' %}
    <div class="mdp-item" data-columns="{{block.settings.columns}}" data-columns-md="{{block.settings.columns_md}}" data-columns-sm="{{block.settings.columns_sm}}" data-columns-xs="{{block.settings.columns_xs}}">
      <div class="mdp-image-item">
        <a href="{{block.settings.link}}">
          <div class="mdp-media">
            <div class="mdp-placeholder" style="width: {{ image_size | split: "x" | first }}px; padding-top: calc({{ image_size | split: "_" | first | split: "x" | last }} / {{ image_size | split: "x" | first }} * 100%);">
              <img class="mdp-image lazyload" data-src="{{block.settings.image | img_url : image_size}}">
            </div>
          </div>
        </a>
      </div>
    </div>    
	{% when 'header' %}
    <div class="mdp-item" data-columns="{{block.settings.columns}}" data-columns-md="{{block.settings.columns_md}}" data-columns-sm="{{block.settings.columns_sm}}" data-columns-xs="{{block.settings.columns_xs}}">
      <style>
        #id{{block.id}} {
          padding-top: {{100.0 | divided_by: block.settings.aspect_ratio | times: 100 | round}}%;
        }
        @media (max-width: 1200) {
          #id{{block.id}} {
            padding-top: {{100.0 | divided_by: block.settings.aspect_ratio_md | times: 100 | round}}%;
          }
        }
        @media (max-width: 992px) {
          #id{{block.id}} {
            padding-top: {{100.0 | divided_by: block.settings.aspect_ratio_sm | times: 100 | round}}%;
          }
        }
        @media (max-width: 768px) {
          #id{{block.id}} {
            padding-top: {{100.0 | divided_by: block.settings.aspect_ratio_xs | times: 100 | round}}%;
          }
        }
      </style>
      <div>
        <div class="mdp-header-item {% if block.settings.inverted %}mdp-inverted{% endif %}" id="id{{block.id}}">
          <div class="mdp-data">
            <div class="mdp-header">
              <div class="mdp-title">
                {{block.settings.title}}
              </div>
            </div>
            {% unless block.settings.content == blank %}
            <div class="mdp-content">
              {{block.settings.content}}
            </div>
            {% endunless %}
            <div class="mdp-footer">
              {% unless block.settings.link == blank %}
              <a class="mdp-button" href="{{block.settings.link}}">{{block.settings.button_string}}</a>
              {% endunless %}
            </div>    
          </div>
        </div>
      </div>
    </div>
	{% when 'text' %}
    <div class="mdp-item" data-columns="{{block.settings.columns}}" data-columns-md="{{block.settings.columns_md}}" data-columns-sm="{{block.settings.columns_sm}}" data-columns-xs="{{block.settings.columns_xs}}">
      <style>
        #id{{block.id}} {
          padding-top: {{100.0 | divided_by: block.settings.aspect_ratio | times: 100 | round}}%;
        }
        @media (max-width: 1200) {
          #id{{block.id}} {
            padding-top: {{100.0 | divided_by: block.settings.aspect_ratio_md | times: 100 | round}}%;
          }
        }
        @media (max-width: 992px) {
          #id{{block.id}} {
            padding-top: {{100.0 | divided_by: block.settings.aspect_ratio_sm | times: 100 | round}}%;
          }
        }
        @media (max-width: 768px) {
          #id{{block.id}} {
            padding-top: {{100.0 | divided_by: block.settings.aspect_ratio_xs | times: 100 | round}}%;
          }
        }
      </style>
      <div>
        <div class="mdp-text-item {% if block.settings.inverted %}mdp-inverted{% endif %}" id="id{{block.id}}">
          <div class="mdp-data">
            <div class="mdp-header">
              <div class="mdp-title">
                {{block.settings.title}}
              </div>
            </div>
            {% unless block.settings.content == blank %}
            <div class="mdp-content">
              {{block.settings.content}}
            </div>
            {% endunless %}
            <div class="mdp-footer">
              {% unless block.settings.link == blank %}
              <a class="mdp-button" href="{{block.settings.link}}">
                <span class="mdp-text">{{block.settings.button_string}}</span>
                <span class="mdp-icon">{% render 'mdp-weare-icon' with '003' %}</span>
              </a>
              {% endunless %}
            </div>    
          </div>
        </div>
      </div>
    </div>
	{% when 'image_text' %} 
    <div class="mdp-item" data-columns="{{block.settings.columns}}" data-columns-md="{{block.settings.columns_md}}" data-columns-sm="{{block.settings.columns_sm}}" data-columns-xs="{{block.settings.columns_xs}}">
      <div class="mdp-image-text {% if block.settings.inverted %}mdp-inverted{% endif %}">
        <div class="mdp-media">
          <div class="mdp-placeholder" style="width: {{ image_size | split: "x" | first }}px; padding-top: calc({{ image_size | split: "_" | first | split: "x" | last }} / {{ image_size | split: "x" | first }} * 100%);">
            <img class="mdp-image lazyload" data-src="{{block.settings.image | img_url : image_size}}">
          </div>
        </div>
        <div class="mdp-data">
          <div class="mdp-header">
            <div class="mdp-title">
              {{block.settings.title}}
            </div>
          </div>
          {% unless block.settings.content == blank %}
          <div class="mdp-content">
            {{block.settings.content}}
          </div>
          {% endunless %}
          <div class="mdp-footer">
            {% unless block.settings.link == blank %}
            <a class="mdp-button" href="{{block.settings.link}}">
              <span class="mdp-text">{{block.settings.button_string}}</span>
              <span class="mdp-icon">{% render 'mdp-weare-icon' with '003' %}</span>
            </a>
            {% endunless %}
          </div>    
        </div>
      </div>
    </div>
	{% when 'link_image_text' %}
    <div class="mdp-item" data-columns="{{block.settings.columns}}" data-columns-md="{{block.settings.columns_md}}" data-columns-sm="{{block.settings.columns_sm}}" data-columns-xs="{{block.settings.columns_xs}}">
      <div class="mdp-image-text mdp-link-image-text {% if block.settings.inverted %}mdp-inverted{% endif %}">
        <a href="{{block.settings.link}}">
          <div class="mdp-media">
            <div class="mdp-placeholder" style="width: {{ image_size | split: "x" | first }}px; padding-top: calc({{ image_size | split: "_" | first | split: "x" | last }} / {{ image_size | split: "x" | first }} * 100%);">
              <img class="mdp-image lazyload" data-src="{{block.settings.image | img_url : image_size}}">
            </div>
          </div>
          <div class="mdp-data">
            <div class="mdp-header">
              <div class="mdp-title">
                {{block.settings.title}}
              </div>
            </div>
            {% unless block.settings.content == blank %}
            <div class="mdp-content">
              {{block.settings.content}}
            </div>
            {% endunless %}
          </div>
        </a>
      </div>
    </div>
    {% when 'image_text_button' %}
    <div class="mdp-item" data-columns="{{block.settings.columns}}" data-columns-md="{{block.settings.columns_md}}" data-columns-sm="{{block.settings.columns_sm}}" data-columns-xs="{{block.settings.columns_xs}}">
      <div class="mdp-image-text-button {% if block.settings.inverted %}mdp-inverted{% endif %}">
        <div class="mdp-media">
          <div class="mdp-placeholder" style="width: {{ image_size | split: "x" | first }}px; padding-top: calc({{ image_size | split: "_" | first | split: "x" | last }} / {{ image_size | split: "x" | first }} * 100%);">
            <img class="mdp-image lazyload" data-src="{{block.settings.image | img_url : image_size}}">
          </div>
        </div>
        <div class="mdp-data">
          <div class="mdp-header">
            <div class="mdp-title">
              {{block.settings.title}}
            </div>
          </div>
          {% unless block.settings.content == blank %}
          <div class="mdp-content">
            {{block.settings.content}}
          </div>
          {% endunless %}
          <div class="mdp-footer">
            {% unless block.settings.link == blank %}
            <a class="mdp-button" href="{{block.settings.link}}">{{block.settings.button_string}}</a>
            {% endunless %}
          </div>    
        </div>
      </div>
    </div>
    {% when 'product_text' %}
    {% assign current_product = all_products[block.settings.selected_product] %}
    <div class="mdp-item" data-columns="{{block.settings.columns}}" data-columns-md="{{block.settings.columns_md}}" data-columns-sm="{{block.settings.columns_sm}}" data-columns-xs="{{block.settings.columns_xs}}">
      <div class="mdp-image-text mdp-link-image-text {% if block.settings.inverted %}mdp-inverted{% endif %}">
        <a href="{{current_product.url}}">
        <div class="mdp-media">
          <div class="mdp-placeholder" style="width: {{ image_size | split: "x" | first }}px; padding-top: calc({{ image_size | split: "_" | first | split: "x" | last }} / {{ image_size | split: "x" | first }} * 100%);">
            <img class="mdp-image lazyload" data-src="{{current_product.featured_image | img_url : image_size}}">
          </div>
        </div>
        <div class="mdp-data">
          <div class="mdp-header">
            <div class="mdp-title">
              {{current_product.title}}
            </div>
          </div>
          <div class="mdp-content">
            {{current_product.description | strip_html | truncatewords: block.settings.excerpt_words, '...'}}
          </div>
        </div>
        </a>
      </div>
    </div>
    {% when 'product_image_text_button' %}
    {% assign current_product = all_products[block.settings.selected_product] %}
    <div class="mdp-item" data-columns="{{block.settings.columns}}" data-columns-md="{{block.settings.columns_md}}" data-columns-sm="{{block.settings.columns_sm}}" data-columns-xs="{{block.settings.columns_xs}}">
      <div class="mdp-image-text-button {% if block.settings.inverted %}mdp-inverted{% endif %}">
        <div class="mdp-media">
          <div class="mdp-placeholder" style="width: {{ image_size | split: "x" | first }}px; padding-top: calc({{ image_size | split: "_" | first | split: "x" | last }} / {{ image_size | split: "x" | first }} * 100%);">
            <img class="mdp-image lazyload" data-src="{{current_product.featured_image | img_url : image_size}}">
          </div>
        </div>
        <div class="mdp-data">
          <div class="mdp-header">
            <div class="mdp-title">
              {{current_product.title}}
            </div>
          </div>
          <div class="mdp-content">
            {{current_product.description | strip_html | truncatewords: block.settings.excerpt_words, '...'}}
          </div>
          <div class="mdp-footer">
            <a class="mdp-button" href="{{current_product.url}}">{{block.settings.button_string}}</a>
          </div>    
        </div>
      </div>
    </div>
    {% when 'image_video_text' %}    
    <div class="mdp-item" data-columns="{{block.settings.columns}}" data-columns-md="{{block.settings.columns_md}}" data-columns-sm="{{block.settings.columns_sm}}" data-columns-xs="{{block.settings.columns_xs}}">
      <div class="mdp-image-video-text">
        <div class="mdp-media">
          <div class="mdp-placeholder" style="width: {{ image_size | split: "x" | first }}px; padding-top: calc({{ image_size | split: "_" | first | split: "x" | last }} / {{ image_size | split: "x" | first }} * 100%);">
            <img class="mdp-image lazyload" data-src="{{block.settings.image | img_url : image_size}}" alt="video" >
          </div>
          {% unless block.settings.video_url == blank %}
          <a class="mdp-magnific-popup" href="{{block.settings.video_url}}">
            <span class="mdp-icon">{% render 'mdp-weare-icon' with '094' %}</span>
          </a>
          {% endunless %}
        </div>
        <div class="mdp-data">
          <div class="mdp-header">
            <div class="mdp-title">
              {{block.settings.title}}
            </div>
          </div>
          {% unless block.settings.content == blank %}
          <div class="mdp-content">
            {{block.settings.content}}
          </div>
          {% endunless %}
        </div>
      </div>
    </div>
	{% endcase %}    
    {% endfor %}
  </div>
      </div>
  {% if section.settings.boxed %}
  	</div>
  {% endif %}

</div>

{% schema %}
  {
    "name": "Grid 2",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Items grid"
      },
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading"
      },
	  {
        "type": "range",
        "id": "columns",
        "label": "Columns",
        "default": 3,
        "min": 1,
        "max": 10,
        "step": 1
      },
	  {
        "type": "range",
        "id": "columns_md",
        "label": "Columns (middle device)",
        "default": 3,
        "min": 1,
        "max": 10,
        "step": 1
      },
	  {
        "type": "range",
        "id": "columns_sm",
        "label": "Columns (small device)",
        "default": 2,
        "min": 1,
        "max": 10,
        "step": 1
      },
	  {
        "type": "range",
        "id": "columns_xs",
        "label": "Columns (extra small device)",
        "default": 1,
        "min": 1,
        "max": 10,
        "step": 1
      },
      {
        "type": "select",
        "id": "gutter",
        "label": "Gutter(px)",
        "default": "0",
        "options": [
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          },
          {
            "label": "10",
            "value": "10"
          },
          {
            "label": "15",
            "value": "15"
          },
          {
            "label": "20",
            "value": "20"
          },
          {
            "label": "25",
            "value": "25"
          },
          {
            "label": "30",
            "value": "30"
          }
        ]
      },
      {
         "type": "text",
         "id": "image_size",
         "label": "Image size",
         "default": "800x800_crop_center",
         "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
      },
	  {
        "type": "select",
        "id": "variant",
        "label": "Variant",
        "default": "style_1",
        "options": [
          {
            "label": "Style 1",
            "value": "style_1"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "boxed",
        "label": "Boxed",
        "default": false
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color"
      },
      {
        "type": "text",
        "id": "padding_top",
        "label": "Padding top (px)"
      },
      {
        "type": "text",
        "id": "padding_bottom",
        "label": "Padding bottom (px)"
      },
      {
        "type": "text",
        "id": "margin_top",
        "label": "Margin top (px)"
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Margin bottom (px)"
      }
    ],
	"blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
             "type": "text",
             "id": "image_size",
             "label": "Image size",
             "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_md",
            "label": "Columns (middle device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_sm",
            "label": "Columns (small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_xs",
            "label": "Columns (extra small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          }
        ]
      },
      {
        "type": "link_image",
        "name": "Image with link",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
             "type": "text",
             "id": "image_size",
             "label": "Image size",
             "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_md",
            "label": "Columns (middle device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_sm",
            "label": "Columns (small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_xs",
            "label": "Columns (extra small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          }
        ]
      },
	  {
        "type": "header",
        "name": "Header",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "button_string",
            "label": "Button text",
            "default": "Get more info"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button link"
          },
          {
            "type": "checkbox",
            "id": "inverted",
            "label": "Inverted",
            "default": false
          },
          {
             "type": "text",
             "id": "aspect_ratio",
             "label": "Aspect ratio (%)",
			 "default": "100"
          },
          {
             "type": "text",
             "id": "aspect_ratio_md",
             "label": "Aspect ratio (middle device)",
			 "default": "100"
          },
          {
             "type": "text",
             "id": "aspect_ratio_sm",
             "label": "Aspect ratio (small device)",
			 "default": "100"
          },
          {
             "type": "text",
             "id": "aspect_ratio_xs",
             "label": "Aspect ratio (extra small device)",
			 "default": "100"
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_md",
            "label": "Columns (middle device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_sm",
            "label": "Columns (small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_xs",
            "label": "Columns (extra small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "button_string",
            "label": "Button text",
            "default": "Get more info"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button link"
          },
          {
             "type": "text",
             "id": "aspect_ratio",
             "label": "Aspect ratio (%)",
			 "default": "100"
          },
          {
             "type": "text",
             "id": "aspect_ratio_md",
             "label": "Aspect ratio (middle device)",
			 "default": "100"
          },
          {
             "type": "text",
             "id": "aspect_ratio_sm",
             "label": "Aspect ratio (small device)",
			 "default": "100"
          },
          {
             "type": "text",
             "id": "aspect_ratio_xs",
             "label": "Aspect ratio (extra small device)",
			 "default": "100"
          },
          {
            "type": "checkbox",
            "id": "inverted",
            "label": "Inverted",
            "default": false
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_md",
            "label": "Columns (middle device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_sm",
            "label": "Columns (small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_xs",
            "label": "Columns (extra small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          }
        ]
      },
      {
        "type": "image_text",
        "name": "Image with text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
             "type": "text",
             "id": "image_size",
             "label": "Image size",
             "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "button_string",
            "label": "Button text",
            "default": "Get more info"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button link"
          },
          {
            "type": "checkbox",
            "id": "inverted",
            "label": "Inverted",
            "default": false
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_md",
            "label": "Columns (middle device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_sm",
            "label": "Columns (small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_xs",
            "label": "Columns (extra small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          }
        ]
      },
	  {
        "type": "image_text_button",
        "name": "Image with text, button",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
             "type": "text",
             "id": "image_size",
             "label": "Image size",
             "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "button_string",
            "label": "Button text",
            "default": "Get more info"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button link"
          },
          {
            "type": "checkbox",
            "id": "inverted",
            "label": "Inverted",
            "default": false
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_md",
            "label": "Columns (middle device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_sm",
            "label": "Columns (small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_xs",
            "label": "Columns (extra small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          }
        ]
      },
      {
        "type": "link_image_text",
        "name": "Image with link and text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
             "type": "text",
             "id": "image_size",
             "label": "Image size",
             "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "checkbox",
            "id": "inverted",
            "label": "Inverted",
            "default": false
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_md",
            "label": "Columns (middle device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_sm",
            "label": "Columns (small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_xs",
            "label": "Columns (extra small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          }
        ]
      },
	  {
        "type": "image_video_text",
        "name": "Image with video and text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
             "type": "text",
             "id": "image_size",
             "label": "Image size",
             "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "id": "video_url",
            "type": "video_url",
            "label": "Video URL",
            "accept": ["youtube", "vimeo"],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_md",
            "label": "Columns (middle device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_sm",
            "label": "Columns (small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_xs",
            "label": "Columns (extra small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          }
        ]
      },
	  {
        "type": "product_text",
        "name": "Product with text",
        "settings": [
          {
            "type": "product",
            "id": "selected_product",
            "label": "Product"
          },
          {
             "type": "text",
             "id": "image_size",
             "label": "Image size",
             "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
          },
          {
            "type": "range",
            "id": "excerpt_words",
            "label": "Excerpt words number",
            "info": "Set 0 if no need to truncate description",
            "default": 10,
            "min": 0,
            "max": 500,
            "step": 10
          },
          {
            "type": "text",
            "id": "button_string",
            "label": "Button text",
            "default": "Get more info"
          },
          {
            "type": "checkbox",
            "id": "inverted",
            "label": "Inverted",
            "default": false
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_md",
            "label": "Columns (middle device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_sm",
            "label": "Columns (small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_xs",
            "label": "Columns (extra small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          }
        ]
      },
	  {
        "type": "product_image_text_button",
        "name": "Product with text, button",
        "settings": [
          {
            "type": "product",
            "id": "selected_product",
            "label": "Product"
          },
          {
             "type": "text",
             "id": "image_size",
             "label": "Image size",
             "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
          },
          {
            "type": "range",
            "id": "excerpt_words",
            "label": "Excerpt words number",
            "info": "Set 0 if no need to truncate description",
            "default": 10,
            "min": 0,
            "max": 500,
            "step": 10
          },
          {
            "type": "text",
            "id": "button_string",
            "label": "Button text",
            "default": "Get more info"
          },
          {
            "type": "checkbox",
            "id": "inverted",
            "label": "Inverted",
            "default": false
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_md",
            "label": "Columns (middle device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_sm",
            "label": "Columns (small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "columns_xs",
            "label": "Columns (extra small device)",
            "default": 1,
            "min": 1,
            "max": 10,
            "step": 1
          }
        ]
      }
	],
    "presets": [{
      "name": "Grid Isotope",
      "category": "SectionHub: weare"
    }]
  }
{% endschema %}