{{"mdp-weare-text-1-hub-7532.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}" class="mdp mdp-container mdp-weare-text-1" style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
  <div class="mdp-grid" data-columns="{{section.settings.col_per_row}}" data-gap="{{section.settings.gap}}">
    {% for block in section.blocks %}  
    {% case block.type %}
	{% when 'text_item' %}
      <div class="mdp-text-item">
        <div class="mdp-data">
          {% unless block.settings.title == blank %}
          <div class="mdp-header">
            <div class="mdp-title">
              {{block.settings.title}}
            </div>
          </div>
          {% endunless %}
          {% unless block.settings.content == blank %}
          <div class="mdp-content">
            {{block.settings.content}}
          </div>
          {% endunless %}
          <div class="mdp-footer">
            {% unless block.settings.link == blank %}
            <a class="mdp-button" href="{{block.settings.link}}">
              <span class="mdp-text">{{block.settings.button_string}}</span>
              <span class="mdp-icon">{% render 'mdp-weare-icon' with '003' %}</span>
            </a>
            {% endunless %}
          </div>    
        </div>
      </div>
	{% endcase %}
    {% endfor %}
  </div>

</div>

{% schema %}
{"name":"Text 1","settings":[{"type":"range","id":"col_per_row","label":"Col per row","default":3,"min":1,"max":5,"step":1},{"type":"select","id":"gap","label":"Gap(px)","default":"30","options":[{"label":"0","value":"0"},{"label":"1","value":"1"},{"label":"2","value":"2"},{"label":"3","value":"3"},{"label":"4","value":"4"},{"label":"5","value":"5"},{"label":"10","value":"10"},{"label":"15","value":"15"},{"label":"20","value":"20"},{"label":"25","value":"25"},{"label":"30","value":"30"}]},{"type":"text","id":"margin_top","label":"Margin top (px)"},{"type":"text","id":"margin_bottom","label":"Margin bottom (px)"}],"blocks":[{"type":"text_item","name":"Text item","settings":[{"type":"text","id":"title","label":"Heading","default":"Heading"},{"type":"richtext","id":"content","label":"Content"},{"type":"text","id":"button_string","label":"Button text","default":"Get more info"},{"type":"url","id":"link","label":"Button link"}]}]}
{% endschema %}
