{{"mdp-weare-accordion-1.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}" class="mdp mdp-container mdp-weare-accordion-1" style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
  {% assign half = section.blocks.size | divided_by: 2 %}
  <div class="mdp-columns">
    <div class="mdp-col-6">
      <div class="mdp-accordion">
        {% for block in section.blocks %}  
        {% case block.type %}
        {% when 'text_item' %}        
          {% if forloop.index <= half %}
            <div class="mdp-text-item">
              <div class="mdp-header">
                <span class="mdp-icon mdp-closed">{% render 'mdp-weare-icon' with '005' %}</span>
                <span class="mdp-icon mdp-opened">{% render 'mdp-weare-icon' with '008' %}</span>
                <div class="mdp-title">
                  {{block.settings.title}}
                </div>
              </div>
              <div class="mdp-data">
                <div class="mdp-content">
                  {{block.settings.content}}
                </div>
                <div class="mdp-footer">
                  {% unless block.settings.link == blank %}
                  <a class="mdp-button" href="{{block.settings.link}}">
                    <span class="mdp-text">{{block.settings.button_string}}</span>
                    <span class="mdp-icon">{% render 'mdp-weare-icon' with '003' %}</span>
                  </a>
                  {% endunless %}
                </div>    
              </div>
            </div>
          {% endif %}
        {% endcase %}
        {% endfor %}
      </div>
    </div>
    <div class="mdp-col-6">
      <div class="mdp-accordion">
        {% for block in section.blocks %}  
        {% case block.type %}
        {% when 'text_item' %}        
          {% if forloop.index > half %}
            <div class="mdp-text-item">
              <div class="mdp-header">
                <span class="mdp-icon mdp-closed">{% render 'mdp-weare-icon' with '005' %}</span>
                <span class="mdp-icon mdp-opened">{% render 'mdp-weare-icon' with '008' %}</span>
                <div class="mdp-title">
                  {{block.settings.title}}
                </div>
              </div>
              <div class="mdp-data">
                <div class="mdp-content">
                  {{block.settings.content}}
                </div>
                <div class="mdp-footer">
                  {% unless block.settings.link == blank %}
                  <a class="mdp-button" href="{{block.settings.link}}">
                    <span class="mdp-text">{{block.settings.button_string}}</span>
                    <span class="mdp-icon">{% render 'mdp-weare-icon' with '003' %}</span>
                  </a>
                  {% endunless %}
                </div>    
              </div>
            </div>
          {% endif %}
        {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>   

</div>

{% schema %}
  {
    "name": "Accordion 1",
    "settings": [
      {
        "type": "text",
        "id": "margin_top",
        "label": "Margin top (px)"
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Margin bottom (px)"
      } 
    ],
	"blocks": [
      {
        "type": "text_item",
        "name": "Text item",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "button_string",
            "label": "Button text",
            "default": "Get more info"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button link"
          }
        ]
      }
	],
    "presets": [{
      "name": "Accordion Text",
      "category": "SectionHub: weare"
    }]
  }
{% endschema %}