{{"sectionhub-weare.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}" class="mdp mdp-container mdp-weare-collection-grid" style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
  {% unless section.settings.title == blank and section.settings.subtitle == blank %}
  <div class="mdp-header">
    {% unless section.settings.title == blank %}
    <h2 class="mdp-title">{{ section.settings.title | escape }}</h2>
    <div class="testing">bushoyuasd</div>
    {% endunless %}
  </div>
  {% endunless %}
  <div class="mdp-grid mdp-wishlist" data-columns="{{section.settings.col_per_row}}" data-gap="30" data-view="mdp-weare-card" data-template="product.mdp-weare-card.liquid" data-snippet="mdp-weare-product-card.liquid">
  </div>
</div>

{% schema %}
  {
    "name": "Wishlist 1",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
	  {
        "type": "range",
        "id": "col_per_row",
        "label": "Col per row",
        "default": 4,
        "min": 2,
        "max": 5,
        "step": 1
      },
      {
        "type": "text",
        "id": "margin_top",
        "label": "Margin top (px)"
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Margin bottom (px)"
      } 
    ],
    "presets": [{
      "name": "Wishlist",
      "category": "SectionHub: weare"
    }]
  }
{% endschema %}