{{ "mdp-weare-collection-row.css" | asset_url | stylesheet_tag }}

{% assign price = section.settings.print_price_row %}

<div id="mdp-weare-{{ section.id }}"
     class="mdp mdp-container mdp-weare-collection-row {% if section.settings.reverse %}mdp-reverse{% endif %}"
     data-variant="style_1">
    <div id="mdp-weare-collection-grid-{{ section.id }}"
         class="mdp-grid {% if section.settings.separator %}mdp-bottom-separator{% endif %}"
         style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;"
         data-columns="{{ section.settings.col_per_row }}"
         data-gap="30">
        {% if section.settings.selected_collection == blank or collections[section.settings.selected_collection] == empty %}
            <div class="mdp-header">
                <h2 class="mdp-title-link">
                    {{ section.settings.name_collection }}/
                </h2>
                {% unless collections['all'].description == blank %}
                    <div class="mdp-subtitle">
                        {{ collections['all'].description | strip_html | truncatewords: 20, '...' }}
                    </div>
                {% endunless %}
                <a class="mdp-button-link"
                   href="{{ collections['all'].url }}">{{ section.settings.button_string }}</a>
            </div>
            {% for product in collections['all'].products limit: section.settings.number_of_products %}
                <div class="mdp-item">
                    {% render 'mdp-weare-product-card', product: product, price: price %}
                </div>
            {% endfor %}
        {% else %}
            <div class="mdp-header">
                <h2 class="mdp-title">
                    {{ collections[section.settings.selected_collection].title }}/
                </h2>
                {% unless collections[section.settings.selected_collection].description == blank %}
                    <div class="mdp-subtitle">
                        {{ collections[section.settings.selected_collection].description | strip_html | truncatewords: 10, '...' }}
                    </div>
                {% endunless %}
                {% if section.settings.button_string != blank %}
                  <a class="mdp-button"
                   style="color: {{ section.settings.button_text_color }};"
                   href="{{ collections[section.settings.selected_collection].url }}">
                  {{ section.settings.button_string }}</a>
                {% endif %}
            </div>
            {% for product in collections[section.settings.selected_collection].products limit: section.settings.number_of_products %}
                <div class="mdp-item">
                    {% render 'mdp-weare-product-card', product: product, price: price %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<script>
  {% if request.design_mode == true %}
  function designModeGrid() {
    let slider_{{ section.id | replace: "--", "" | replace: "-", "" }} = document.querySelector("#mdp-weare-collection-grid-{{ section.id }}");
    let data_{{ section.id | replace: "--", "" | replace: "-", "" }} = slider_{{ section.id | replace: "--", "" | replace: "-", "" }}.getAttribute('data-columns') || {};
    let dataOptions = JSON.parse(data_{{ section.id | replace: "--", "" | replace: "-", "" }});

    /** Calculate the height of the image depending on the length of the container */
    function breakpointsWidthCol_{{ section.id | replace: "--", "" | replace: "-", "" }}(width) {

      let perView = dataOptions;

      if (width >= 769 && width <= 1024) {
        perView = 4;
      }

      if (width >= 426 && width <= 768) {
        perView = 2;
      }

      if (width >= 321 && width <= 425) {
        perView = 2;
      }

      if (width <= 320) {
        perView = 1;
      }

      return perView;
    }

    function heightImgCol_{{ section.id | replace: "--", "" | replace: "-", "" }}() {
      let winWidthPage = window.innerWidth;
      let grid = document.getElementById("mdp-weare-{{ section.id }}");
      let winWidth = grid.offsetWidth;
      let perView = breakpointsWidthCol_{{ section.id | replace: "--", "" | replace: "-", "" | replace: "-", "" }}(winWidthPage);
      let allGap = winWidthPage >= 376 ? perView * 15 : 0;
      let paddingSide = '{{ section.settings.boxed }}' === 'false' && winWidthPage >= 1025 ? 80 * 2 : 15 * 2;
      let winWidthGap = winWidth - allGap - paddingSide;
      let colSize = 100 / perView;
      let height = (winWidthGap * colSize / 100) + {{ section.settings.images_form }};
      let item = grid.querySelectorAll(".mdp-img-product");

      for (let i = 0; i <= item.length - 1; i++) {
        item[i].setAttribute("style", `height: ${Math.round(height)}px;`);
      }
    }

    addEventListener("resize", (event) => {
      heightImgCol_{{ section.id | replace: "--", "" | replace: "-", "" }}();
    });

    heightImgCol_{{ section.id | replace: "--", "" | replace: "-", "" }}();
    /** End */
  }

  document.addEventListener("shopify:section:load", designModeGrid);
  {% endif %}

  let slider_{{ section.id | replace: "--", "" | replace: "-", "" }} = document.querySelector("#mdp-weare-collection-grid-{{ section.id }}");
  let data_{{ section.id | replace: "--", "" | replace: "-", "" }} = slider_{{ section.id | replace: "--", "" | replace: "-", "" }}.getAttribute('data-columns') || {};
  let dataOptions_{{ section.id | replace: "--", "" | replace: "-", "" }} = JSON.parse(data_{{ section.id | replace: "--", "" | replace: "-", "" }});

  /** Calculate the height of the image depending on the length of the container */
  function breakpointsWidthCol_{{ section.id | replace: "--", "" | replace: "-", "" }}(width) {

    let perView = dataOptions_{{ section.id | replace: "--", "" | replace: "-", "" }};

    if (width >= 769 && width <= 1024) {
      perView = 4;
    }

    if (width >= 426 && width <= 768) {
      perView = 2;
    }

    if (width >= 321 && width <= 425) {
      perView = 2;
    }

    if (width <= 320) {
      perView = 1;
    }

    return perView;
  }

  function heightImgCol_{{ section.id | replace: "--", "" | replace: "-", "" }}() {
    let winWidthPage = window.innerWidth;
    let grid = document.getElementById("mdp-weare-{{ section.id }}");
    let winWidth = grid.offsetWidth;
    let perView = breakpointsWidthCol_{{ section.id | replace: "--", "" | replace: "-", "" | replace: "-", "" }}(winWidthPage);
    let allGap = winWidthPage >= 376 ? perView * 15 : 0;
    let paddingSide = '{{ section.settings.boxed }}' === 'false' && winWidthPage >= 1025 ? 80 * 2 : 15 * 2;
    let winWidthGap = winWidth - allGap - paddingSide;
    let colSize = 100 / perView;
    let height = (winWidthGap * colSize / 100) + {{ section.settings.images_form }};
    let item = grid.querySelectorAll(".mdp-img-product");

    for (let i = 0; i <= item.length - 1; i++) {
      item[i].setAttribute("style", `height: ${Math.round(height)}px;`);
    }
  }

  addEventListener("resize", (event) => {
    heightImgCol_{{ section.id | replace: "--", "" | replace: "-", "" }}();
  });

  heightImgCol_{{ section.id | replace: "--", "" | replace: "-", "" }}();
  /** End */
</script>

{% schema %}
{
  "name": "Collection Row",
  "settings": [
    {
      "type": "collection",
      "id": "selected_collection",
      "label": "Collection"
    },
    {
      "type": "checkbox",
      "id": "print_price_row",
      "label": "Price",
      "default": false
    },
    {
      "type": "text",
      "id": "name_collection",
      "label": "Name collection",
      "default": "Gifts/"
    },
    {
      "type": "text",
      "id": "button_string",
      "label": "Button text",
      "default": "Discover more"
    },
    {
      "type": "range",
      "id": "number_of_products",
      "label": "Number of products",
      "default": 3,
      "min": 2,
      "max": 12,
      "step": 1
    },
    {
      "type": "range",
      "id": "col_per_row",
      "label": "Col per row",
      "default": 4,
      "min": 2,
      "max": 5,
      "step": 1
    },
    {
      "type": "text",
      "id": "images_form",
      "label": "Images form",
      "info": "If the shape of the image does not suit you in terms of height, enter in the field the number of pixels by which the desired height will increase."
    },
    {
      "type": "text",
      "id": "image_size",
      "label": "Product size",
      "default": "270x370_crop_center",
      "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
    },
    {
      "type": "checkbox",
      "id": "separator",
      "label": "Bottom separator",
      "default": false
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Strings"
    },
    {
      "type": "text",
      "id": "sold_out_string",
      "label": "Sold out string",
      "default": "Sold out"
    },
    {
      "type": "text",
      "id": "sale_string",
      "label": "Sale string",
      "default": "Sale"
    },
    {
      "type": "text",
      "id": "new_string",
      "label": "New string",
      "default": "New"
    },
    {
      "type": "text",
      "id": "select_options_string",
      "label": "Select options string",
      "default": "Select options"
    },
    {
      "type": "text",
      "id": "add_cart_string",
      "label": "Add cart string",
      "default": "Add to cart"
    },
    {
      "type": "checkbox",
      "id": "reverse",
      "label": "Reverse",
      "default": false
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin top (px)"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin bottom (px)"
    }
  ],
  "presets": [
    {
      "name": "Collection Row",
      "category": "SectionHub: weare"
    }
  ]
}
{% endschema %}