{{ "mdp-weare-slideshow-blog.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}"
     class="mdp {% if section.settings.boxed %}mdp-container{% endif %} mdp-weare-slideshow-blog"
     data-variant="style_1"
     style="{% if section.settings.margin_top != blank %}
             margin-top: {{ section.settings.margin_top }}px;
     {% endif %}
     {% if section.settings.margin_bottom != blank %}
             margin-bottom: {{ section.settings.margin_bottom }}px;
     {% endif %}">

    <div class="mdp-grid" data-columns="1" data-gap="30">
        <div class="mdp-swiper-container swiper-slideshow-blog swiper-slideshow-blog-{{ section.id }}"
             data-slidesPerView="1"
             data-navigation="true">
            <div class="swiper-wrapper mdp-swiper-wrapper">
                {% for block in section.blocks %}
                    <div class="swiper-slide mdp-swiper-slide">
                        {% case block.type %}
                            {% when 'slide' %}
                                <div class="mdp-slide {% if block.settings.inverted %}mdp-inverted{% endif %}">
                                    <div class="mdp-media lazyload"
                                         style="{% if block.settings.height == blank %}
                                                 height: {{ block.settings.height }}px;
                                         {% endif %};
                                                 background: {% if block.settings.image != blank %}linear-gradient(to right, rgba(52, 52, 52, 0.8), rgba(52, 52, 52, 0.8)), url({{block.settings.image | img_url : '2000x' }}){% else%}#343434{% endif %};
                                                 background-repeat: no-repeat;
                                                 background-size: cover;">
                                    </div>
                                    <div class="mdp-data">
                                        <div class="mdp-image">
                                            <img src="{{ block.settings.item_image | img_url: '2000x' }}"
                                                 class="mdp-image-item" alt="">
                                        </div>
                                        <div class="mdp-header">
                                            {% if block.settings.cat != blank %}
                                                <p class="mdp-type-content"
                                                {% if block.settings.use_local_styles %}
                                                    style="color: {{ block.settings.title_color }}"{% endif %}>{{ block.settings.cat }}</p>
                                            {% endif %}
                                            <h1 class="mdp-title"
                                            {% if block.settings.use_local_styles %}
                                                style="color: {{ block.settings.title_color }}"{% endif %}>
                                                {{ block.settings.title }}
                                            </h1>
                                            {% unless block.settings.content == blank %}
                                                <div class="mdp-content">
                                                    {{ block.settings.content }}
                                                </div>
                                            {% endunless %}

                                            {% unless block.settings.link == blank %}
                                                <a class="mdp-button"
                                                   href="{{ block.settings.link }}">{{ block.settings.button_string }}</a>
                                            {% endunless %}
                                        </div>
                                    </div>
                                </div>
                        {% endcase %}
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-button-prev swiper-button-prev-slideshow-blog swiper-button-prev-slideshow-blog-{{ section.id }}"></div>
            <div class="swiper-button-next swiper-button-next-slideshow-blog swiper-button-next-slideshow-blog-{{ section.id }}"></div>

            <div class="swiper-pagination swiper-pagination-slideshow-blog swiper-pagination-slideshow-blog-{{ section.id }}"></div>

        </div>
    </div>
</div>

<script>
    const swiperSlideshowBlog_{{ section.id | replace: "-", "_" }} = new Swiper('.swiper-slideshow-blog-{{ section.id }}', {
        // Optional parameters
        lidesPerView: 'auto',
        direction: 'horizontal',
        slidesPerView: 1,
        centeredSlides: false,
        speed: 500,
        spaceBetween: 30,
        loop: true,
        autoplay: {
            delay: 5000
        },
        effect: 'slide',
        allowTouchMove: true,
        freeMode: true,
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
        hashNavigation: false,
        pagination: {
            el: '.swiper-pagination-slideshow-blog-{{ section.id }}'
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next-slideshow-blog-{{ section.id }}',
            prevEl: '.swiper-button-prev-slideshow-blog-{{ section.id }}',
        }
    });

    swiperSlideshowBlog_{{ section.id | replace: "-", "_" }}.init();
</script>

{% schema %}
{
  "name": "Slideshow Blog",
  "settings": [
    {
      "type": "checkbox",
      "id": "boxed",
      "label": "Boxed",
      "default": false
    },
    {
      "type": "text",
      "id": "height",
      "label": "Height (px)"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin top (px)"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin bottom (px)"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": " Background image"
        },
        {
          "type": "checkbox",
          "id": "use_local_styles",
          "label": "Use local styles",
          "default": true
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Header color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background color"
        },
        {
          "type": "image_picker",
          "id": "item_image",
          "label": "Item image"
        },
        {
          "type": "text",
          "id": "cat",
          "label": "Category"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "button_string",
          "label": "Button text",
          "default": "Get more info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "inverted",
          "label": "Inverted",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow Blog",
      "category": "SectionHub: Julia"
    }
  ]
}
{% endschema %}