{{"mdp-weare-call-to-action-2.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}" class="mdp mdp-weare-call-to-action-2" data-variant="{{section.settings.variant}}" style="background-color: {{ section.settings.bg_color }}; padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px; margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
  <div class="mdp-container">
    {% unless section.settings.image == blank %}
    <div class="mdp-media">
      <div class="mdp-placeholder" style="padding-top: calc({{ section.settings.image_size | split: "_" | first | split: "x" | last }} / {{ section.settings.image_size | split: "x" | first }} * 100%);">
        <img class="mdp-image lazyload" data-src="{{section.settings.image | img_url : section.settings.image_size}}" alt="{{section.settings.title}}" >
      </div>
    </div>
    {% endunless %}
    <div class="mdp-data">
      <div class="mdp-header">
        <h2 class="mdp-title">
          {{section.settings.title}}
        </h2>
        {% unless section.settings.subtitle == blank %}
        <div class="mdp-subtitle">
          {{section.settings.subtitle}}
        </div>
        {% endunless %}
      </div>
      {% unless section.settings.content == blank %}
      <div class="mdp-content">
        {{section.settings.content}}
      </div>
      {% endunless %}
      <div class="mdp-footer">
        {% unless section.settings.link == blank %}
        <a class="mdp-button" href="{{section.settings.link}}">{{section.settings.button_string}}</a>
        {% endunless %}
      </div>    
    </div>  
  </div>
</div>

{% schema %}
  {
    "name": "Call to action 2",
    "settings": [	  	       
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Call to action"
      },
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
         "type": "text",
         "id": "image_size",
         "label": "Image size",
         "default": "1000x400_crop_center",
         "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "button_string",
        "label": "Button text",
        "default": "Get more info"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button link"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color"
      },
	  {
        "type": "select",
        "id": "variant",
        "label": "Variant",
        "default": "left_text",
        "options": [
          {
            "label": "Left text",
            "value": "left_text"
          },
          {
            "label": "Right text",
            "value": "right_text"
          },
          {
            "label": "Left text inverted",
            "value": "left_text_inverted"
          },
          {
            "label": "Right text inverted",
            "value": "right_text_inverted"
          }
        ]
      },
      {
        "type": "text",
        "id": "padding_top",
        "label": "Padding top (px)",
		"default": "50"
      },
      {
        "type": "text",
        "id": "padding_bottom",
        "label": "Padding bottom (px)",
		"default": "50"
      },
      {
        "type": "text",
        "id": "margin_top",
        "label": "Margin top (px)"
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Margin bottom (px)"
      }
    ],	
    "presets": [{
      "name": "Call to action Side",
      "category": "SectionHub: weare"
    }]
  }
{% endschema %}