{{ "mdp-weare-hero-faq-2.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}"
     class="mdp mdp-weare-hero-2 lazyload {% if section.settings.inverted_herotwo %}mdp-inverted{% endif %} {% if section.settings.backed_herotwo %}mdp-backed{% endif %}"
     data-variant="{{ section.settings.variant_herotwo }}"
        {% unless section.settings.image_herotwo == blank %}
            data-bgset="{{ section.settings.image_herotwo | img_url: section.settings.image_size_herotwo }}"
        {% endunless %}
     style="padding-top: 0;
             padding-bottom: 0;
             margin-top: {{ section.settings.mdp_margin_top_herotwo }}px;
             margin-bottom: {{ section.settings.mdp_margin_bottom_herotwo }}px;
             background-repeat: no-repeat;
             background-size: {{ section.settings.background_size_herotwo }};">
    <div class="mdp-container mdp-grid" data-columns="1" data-gap="30">
        <div class="mdp-data mdp-data-hero-2-1"
             style="background-color: {{ section.settings.background_image_herotwo }}; padding-top: {{ section.settings.padding_top_herotwo }}px; padding-bottom: {{ section.settings.padding_bottom_herotwo }}px;">
            <div class="mdp-header">
                {% unless section.settings.subtitle_herotwo == blank %}
                    <div class="mdp-subtitle">
                        {{ section.settings.subtitle_herotwo }}
                    </div>
                {% endunless %}
                <h4 class="mdp-title-hero-2-1"
                    style="{% if section.settings.use_local_styles == true %}color: {{ section.settings.heading_color_herotwo_faq2 }};{% endif %}
                            margin-left: {{ section.settings.heading_margin_left_herotwo }}px;">{{ section.settings.title_herotwo }}</h4>
            </div>
            {% unless section.settings.content_herotwo == blank %}
                {{ section.settings.content_herotwo }}
            {% endunless %}
            <div class="mdp-footer">
                {% unless section.settings.link_herotwo == blank %}
                    <a class="mdp-button"
                       href="{{ section.settings.link_herotwo }}">{{ section.settings.button_string_herotwo }}</a>
                {% endunless %}
            </div>
            {% if section.settings.subscribe_herotwo == true %}
                <div class="mdp-signup-form">
                    {% form "customer" %}
                        {{ form.errors | default_errors }}
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <div class="mdp-row">
                            <input type="email" placeholder="Subscribe by email" name="contact[email]"/>
                            <button type="submit" class="mdp-submit">Submit</button>
                        </div>
                    {% endform %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Hero FAQ 2",
  "settings": [
    {
      "type": "text",
      "id": "title_herotwo",
      "label": "Heading",
      "default": "Product promo"
    },
    {
      "type": "text",
      "id": "subtitle_herotwo",
      "label": "Subheading"
    },
    {
      "type": "checkbox",
      "id": "use_local_styles",
      "label": "Use local styles",
      "default": true
    },
    {
      "type": "text",
      "id": "heading_margin_left_herotwo",
      "label": "Heading margin left",
      "default": "0"
    },
    {
      "type": "color",
      "id": "heading_color_herotwo_faq2",
      "label": "Heading color",
      "default": "#343434"
    },
    {
      "type": "image_picker",
      "id": "image_herotwo",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "background_size_herotwo",
      "label": "Background size",
      "default": "auto",
      "options": [
        {
          "label": "Auto",
          "value": "auto"
        },
        {
          "label": "Cover",
          "value": "cover"
        },
        {
          "label": "Contain",
          "value": "contain"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_image_herotwo",
      "label": "Background image",
      "default": "#F9F9F9"
    },
    {
      "type": "richtext",
      "id": "content_herotwo",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "image_size_herotwo",
      "label": "Image size",
      "default": "2000x500_crop_center",
      "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
    },
    {
      "type": "text",
      "id": "button_string_herotwo",
      "label": "Button text",
      "default": "Start shopping"
    },
    {
      "type": "url",
      "id": "link_herotwo",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "inverted_herotwo",
      "label": "Inverted",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "backed_herotwo",
      "label": "Backed",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "subscribe_herotwo",
      "label": "Show subscribe",
      "default": false
    },
    {
      "type": "select",
      "id": "variant_herotwo",
      "label": "Variant",
      "default": "left_text",
      "options": [
        {
          "label": "Left text",
          "value": "left_text"
        },
        {
          "label": "Center text",
          "value": "center_text"
        },
        {
          "label": "Right text",
          "value": "right_text"
        }
      ]
    },
    {
      "type": "text",
      "id": "padding_top_herotwo",
      "label": "Padding top (px)"
    },
    {
      "type": "text",
      "id": "padding_bottom_herotwo",
      "label": "Padding bottom (px)"
    },
    {
      "type": "text",
      "id": "mdp_margin_top_herotwo",
      "label": "Margin top (px)",
      "default": "80"
    },
    {
      "type": "text",
      "id": "mdp_margin_bottom_herotwo",
      "label": "Margin bottom (px)",
      "default": "0"
    }
  ],
  "presets": [
    {
      "name": "Hero Faq 2",
      "category": "SectionHub: weare"
    }
  ]
}
{% endschema %}