{{"mdp-weare-promo-2.css" | asset_url | stylesheet_tag }}

<div style="display: none;">
  <svg id="mdp-icon-146" aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 24 24"><path fill="currentColor" d="M9.703 15.489l-2.5-2.5a.652.652 0 0 1-.176-.449c0-.169.059-.319.176-.449.13-.117.28-.176.449-.176s.319.059.449.176l2.051 2.07 5.801-5.82c.13-.117.28-.176.449-.176s.319.059.449.176c.117.13.176.28.176.449a.652.652 0 0 1-.176.449l-6.25 6.25a.877.877 0 0 1-.215.127.596.596 0 0 1-.468 0 .93.93 0 0 1-.215-.127z"/></svg>
</div>

<div id="mdp-weare-{{ section.id }}" class="mdp mdp-weare-promo-2" data-variant="{{section.settings.variant_two}}" style="margin-top: {{ section.settings.margin_top_two }}px; margin-bottom: {{ section.settings.margin_bottom_two }}px;">
  {% unless section.settings.image_two == blank %}
    <div class="mdp-media">
      <div class="mdp-image lazyload" data-bgset="{{section.settings.image_two | img_url : '2000x'}}" ></div>
    </div>
  {% endunless %}
  <div class="mdp-container">
    <div class="mdp-data">
      <div class="mdp-header">
        <h2 class="mdp-title">
          {{section.settings.title_two}}
        </h2>
        {% unless section.settings.subtitle_two == blank %}
        <div class="mdp-subtitle">
          {{section.settings.subtitle_two}}
        </div>
        {% endunless %}
      </div>
      {% unless section.settings.content_two == blank %}
      <div class="mdp-content">
        {{section.settings.content_two}}
      </div>
      {% endunless %}
      <div class="mdp-footer">
        {% unless section.blocks.size == 0 %}
        <div class="mdp-items">
          {% for block in section.blocks %}
          <div class="mdp-item">
            <span class="mdp-icon"><svg><use xlink:href="#mdp-icon-146"></use></svg></span>
            <span class="mdp-text">
              {{ block.settings.text_two }}
            </span>
          </div>
          {% endfor %}
        </div>
        {% endunless %}
        {% unless section.settings.link_two == blank %}
        <a class="mdp-button" href="{{section.settings.link_two}}">{{section.settings.button_string_two}}</a>
        {% endunless %}
      </div>    
    </div>  
  </div>
</div>

{% schema %}
  {
    "name": "Promo 2",
    "settings": [	  	       
      {
        "type": "text",
        "id": "title_two",
        "label": "Heading",
        "default": "Product promo"
      },
	  {
        "type": "text",
        "id": "subtitle_two",
        "label": "Subheading"
      },
      {
        "type": "image_picker",
        "id": "image_two",
        "label": "Image"
      },
      {
        "type": "richtext",
        "id": "content_two",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "button_string_two",
        "label": "Button text",
        "default": "Get more info"
      },
      {
        "type": "url",
        "id": "link_two",
        "label": "Button link"
      },
	  {
        "type": "select",
        "id": "variant_two",
        "label": "Variant",
        "default": "left_text",
        "options": [
          {
            "label": "Left text",
            "value": "left_text"
          },
          {
            "label": "Right text",
            "value": "right_text"
          },
          {
            "label": "Left text inverted",
            "value": "left_text_inverted"
          },
          {
            "label": "Right text inverted",
            "value": "right_text_inverted"
          }
        ]
      },
      {
        "type": "text",
        "id": "margin_top_two",
        "label": "Margin top (px)"
      },
      {
        "type": "text",
        "id": "margin_bottom_two",
        "label": "Margin bottom (px)"
      }
    ],	
    "blocks": [{
    "type": "list",
    "name": "List",
    "settings": [
      {
        "type": "text",
        "id": "text_two",
        "label": "Item text",
        "default": "item text"
      }
    ]
    }],
    "presets": [{
      "name": "Promo Wide Image",
      "category": "SectionHub: weare"
    }]
  }
{% endschema %}