{{"mdp-weare-contact-form-1-hub-7522.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}" class="mdp mdp-container mdp-weare-contact-form-1" style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
  {% unless section.settings.title == blank and section.settings.subtitle == blank %}
  <div class="mdp-header">
    {% unless section.settings.title == blank %}
    <h2 class="mdp-title">{{ section.settings.title | escape }}</h2>
    {% endunless %}
    {% unless section.settings.subtitle == blank %}
    <div class="mdp-subtitle">{{ section.settings.subtitle | escape }}</div>
    {% endunless %}
  </div>
  {% endunless %}
  <div class="mdp-form">
    {% form "contact", id: section.settings.form_id %}
      {% if form.posted_successfully? %}
      	<div class="mdp-success-message">{{ section.settings.success_string }}</div>
      {% endif %}
      {{ form.errors | default_errors }}
      <div class="mdp-fields">
        <input  type="text" value="" placeholder="{{ section.settings.name_string }}" name="contact[name]"/>
        <div class="mdp-row">
          <input  type="email" value="" placeholder="{{ section.settings.email_string }}" name="contact[email]"/>
          <input  type="tel" value="" placeholder="{{ section.settings.phone_string }}" name="contact[phone]"/>
        </div>          
        <textarea  placeholder="{{ section.settings.message_string }}" name="contact[message]"></textarea>
      </div>
      <button type="submit" class="mdp-submit">
        {{ section.settings.submit_string }}
      </button>    
    {% endform %}    
  </div>
</div>

{% schema %}
  {
    "name": "Contact Form 1",
    "settings": [	  	       
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Contact us"
      },
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "form_id",
        "label": "Form ID",
        "default": "contact"
      },
      {
        "type": "text",
        "id": "email_string",
        "label": "Email string",
        "default": "Email"
      },
      {
        "type": "text",
        "id": "phone_string",
        "label": "Phone string",
        "default": "Phone"
      },
      {
        "type": "text",
        "id": "name_string",
        "label": "Name string",
        "default": "Name"
      },
      {
        "type": "text",
        "id": "message_string",
        "label": "Message string",
        "default": "Message"
      },
      {
        "type": "text",
        "id": "submit_string",
        "label": "Submit string",
        "default": "Submit"
      },
      {
        "type": "text",
        "id": "success_string",
        "label": "Success string",
        "default": "Thanks for contacting us"
      },
      {
        "type": "text",
        "id": "margin_top",
        "label": "Margin top (px)"
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Margin bottom (px)"
      }
    ]
  }
{% endschema %}