{{ "mdp-weare-hero-blog.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}"
     class="mdp mdp-weare-hero-blog lazyload {% if section.settings.backed %}mdp-backed{% endif %}"
     data-variant="{{ section.settings.variant }}"
     style="">
    <div class="mdp-container mdp-grid" data-columns="1" data-gap="30">
        <div class="mdp-col">
            <div class="mdp-data">
                <div class="mdp-header">
                    {% unless section.settings.subtitle == blank %}
                        <div class="mdp-subtitle"
                             style="{% if section.settings.use_local_styles == true %}color: {{ section.settings.heading_color }};{% endif %}">
                            {{ section.settings.subtitle }}
                        </div>
                    {% endunless %}
                    <h4 class="mdp-title"
                        style="margin-left: {{ section.settings.heading_margin_left }}px;
                                text-transform: {{ section.settings.text_transform }};
                                font-size: {{ section.settings.heading_text_size }}px;
                                {% if section.settings.use_local_styles == true %}color: {{ section.settings.heading_color }};{% endif %}">{{ section.settings.title }}</h4>
                </div>
                {% if section.settings.content != blank %}
                    <div class="mdp-text-box">
                        {{ section.settings.content }}
                    </div>
                {% endif %}
                <div class="mdp-footer">
                    {% unless section.settings.link == blank %}
                        <a class="mdp-button"
                           href="{{ section.settings.link }}"
                        {% if section.settings.use_local_styles == true %}
                            style="color: {{ section.settings.button_text_color }};"{% endif %}>{{ section.settings.button_string }}</a>
                    {% endunless %}
                </div>
                {% if section.settings.subscribe == true %}
                    <div class="mdp-signup-form">
                        {% form "customer" %}
                            {{ form.errors | default_errors }}
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <div class="mdp-row">
                                <input type="email" placeholder="Subscribe by email" name="contact[email]"/>
                                <button type="submit"
                                        {% if section.settings.use_local_styles == true %}
                                            style="color: {{ section.settings.button_text_color }};"
                                        {% endif %}
                                        class="mdp-submit">Submit</button>
                            </div>
                        {% endform %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% style %}
    #mdp-weare-{{ section.id }} .mdp-grid .mdp-col .mdp-data .mdp-text-box p{
    padding-left: {{ section.settings.margin_left }}px;
    color: {{ section.settings.heading_color }};
    }

    #mdp-weare-{{ section.id }} {
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
    background-image: url({{section.settings.image | img_url : section.settings.image_size}});
    {% if section.settings.background_size == "cover" %}
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        background-repeat: no-repeat;
        background-size: {{ section.settings.background_size }};
        background-color: {{ section.settings.background_image }};
    {% endif %}
    }

    {% if section.settings.background_size == "contain" %}
        #mdp-weare-{{ section.id }} .mdp-grid .mdp-col{
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        background-repeat: no-repeat;
        background-size: {{ section.settings.background_size }};
        background-color: {{ section.settings.background_image }};
        background-image: url({{ section.settings.image | img_url: section.settings.image_size }});
        }
    {% endif %}

    @media (min-width: 320px) and (max-width: 425px) {
    #mdp-weare-{{ section.id }} {
    background-image: url({{section.settings.mobile_image | img_url : 'original' }});
    }

    {% if section.settings.background_size == "contain" %}
        #mdp-weare-{{ section.id }} .mdp-grid .mdp-col{
        background-image: url({{ section.settings.mobile_image | img_url: 'original' }});
        }
    {% endif %}
    }
{% endstyle %}

{% schema %}
{
  "name": "Hero blog",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Product promo"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading"
    },
    {
      "type": "checkbox",
      "id": "use_local_styles",
      "label": "Use local styles",
      "default": true
    },
    {
      "type": "text",
      "id": "heading_margin_left",
      "label": "Heading margin left",
      "default": "0"
    },
    {
      "type": "select",
      "id": "text_transform",
      "label": "Heading text transform",
      "default": "none",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Lowercase",
          "value": "lowercase"
        },
        {
          "label": "Uppercase",
          "value": "uppercase"
        },
        {
          "label": "Capitalize",
          "value": "capitalize"
        }
      ]
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color",
      "default": "#FFFFFF"
    },
    {
      "type": "text",
      "id": "heading_text_size",
      "label": "Heading text size (px)",
      "default": "32"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile background image"
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "Background size",
      "default": "cover",
      "options": [
        {
          "label": "Cover",
          "value": "cover"
        },
        {
          "label": "Contain",
          "value": "contain"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_image",
      "label": "Background image",
      "default": "#F9F9F9"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "margin_left",
      "label": "Margin left (px)"
    },
    {
      "type": "text",
      "id": "image_size",
      "label": "Image size",
      "default": "2000x500_crop_center",
      "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
    },
    {
      "type": "text",
      "id": "button_string",
      "label": "Button text",
      "default": "Start shopping"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "backed",
      "label": "Backed",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "subscribe",
      "label": "Show subscribe",
      "default": false
    },
    {
      "type": "select",
      "id": "variant",
      "label": "Align container",
      "default": "left_text",
      "options": [
        {
          "label": "Left text",
          "value": "left_text"
        },
        {
          "label": "Center text",
          "value": "center_text"
        },
        {
          "label": "Right text",
          "value": "right_text"
        }
      ]
    },
    {
      "type": "text",
      "id": "padding_top",
      "label": "Padding top (px)"
    },
    {
      "type": "text",
      "id": "padding_bottom",
      "label": "Padding bottom (px)"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin top (px)"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin bottom (px)"
    }
  ],
  "presets": [
    {
      "name": "Hero blog",
      "category": "SectionHub: weare"
    }
  ]
}
{% endschema %}