{{"mdp-weare-collection-grid-home-13.css" | asset_url | stylesheet_tag }}

<div class="mdp-section-container" style="background-color: {{section.settings.background}};
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;">
    <div id="mdp-weare-{{ section.id }}"
         class="mdp {% if section.settings.boxed == true %}mdp-container{% else %}mdp-boxed{% endif %} mdp-weare-collection-grid-home-13"
         style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
        {% if section.settings.title != blank or section.settings.subtitle != blank %}
            <div class="mdp-header">
                {% if section.settings.title != blank %}
                    <h2 class="mdp-title">{{ section.settings.title | escape }}</h2>
                {% endif %}
                {% if section.settings.subtitle != blank %}
                    <div class="mdp-subtitle">{{ section.settings.subtitle | escape }}</div>
                {% endif %}
            </div>
        {% endif %}
        <div id="mdp-weare-collection-grid-{{ section.id }}" class="mdp-grid" data-columns="{{ section.settings.col_per_row }}" data-gap="30">
            {% if section.settings.selected_collection == blank or collections[section.settings.selected_collection] == empty %}
                {% for product in collections['all'].products limit: section.settings.number_of_products %}
                    {% render 'mdp-weare-product-card', product: product, price: section.settings.show_price %}
                {% endfor %}
            {% else %}
                {% for product in collections[section.settings.selected_collection].products limit: section.settings.number_of_products %}
                    {% render 'mdp-weare-product-card', product: product, price: section.settings.show_price %}
                {% endfor %}
            {% endif %}
        </div>
        {% if section.settings.show_btn_cl == true %}
            <div class="mdp-box-btn">
                <a href="{% if section.settings.selected_collection != blank %}{{section.settings.selected_collection.url}}{% else %} javascript:void(0);{% endif %}">{{section.settings.btn_text_collection}}</a>
            </div>
        {% endif %}
    </div>
</div>

<script>
  /** Calculate the height of the image depending on the length of the container */
  function breakpointsWidthCol_{{ section.id | replace: "--", "" | replace: "-", ""}}(width) {

    let perView = `{{ section.settings.col_per_row }}`;

    if (width >= 769 && width <= 1024) {
      perView = 3;
    }

    if (width >= 426 && width <= 768) {
      perView = 2;
    }

    if (width >= 320 && width <= 425) {
      perView = 1;
    }

    return perView;
  }

  function heightImgCol_{{ section.id | replace: "--", "" | replace: "-", ""}}() {
    let winWidthPage = window.innerWidth;
    let grid = document.getElementById("mdp-weare-collection-grid-{{ section.id }}");
    let winWidth = grid.offsetWidth;
    let perView = breakpointsWidthCol_{{ section.id | replace: "--", "" | replace: "-", "" | replace: "-", ""}}(winWidthPage);
    let allGap = winWidthPage >= 376 ? perView * 15 : 0;
    let paddingSide = '{{ section.settings.boxed }}' === 'false' && winWidthPage >= 1025 ? 80 * 2 : 15 * 2;
    let winWidthGap = winWidth - allGap - paddingSide;
    let colSize = 100 / perView;
    let height = (winWidthGap * colSize / 100) + {{ section.settings.images_form }};
    let item = grid.querySelectorAll(".mdp-img-product");

    for (let i = 0; i <= item.length - 1; i++) {
      item[i].setAttribute("style", `height: ${Math.round(height)}px;`);
    }

    console.debug('perView ' + perView + ' | allGap ' + allGap);
  }

  addEventListener("resize", (event) => {
    heightImgCol_{{ section.id | replace: "--", "" | replace: "-", "" }}();
  });

  heightImgCol_{{ section.id | replace: "--", "" | replace: "-", ""}}();
  /** End */
</script>

{% schema %}
{
  "name": "Collection grid home 13",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured products"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading"
    },
    {
      "type": "checkbox",
      "id": "boxed",
      "label": "Boxed",
      "default": true
    },
    {
      "type": "collection",
      "id": "selected_collection",
      "label": "Collection"
    },
    {
      "type": "text",
      "id": "images_form",
      "label": "Images form",
      "info": "If the shape of the image does not suit you in terms of height, enter in the field the number of pixels by which the desired height will increase."
    },
    {
      "type": "text",
      "id": "image_size",
      "label": "Product size",
      "default": "270x370_crop_center",
      "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
    },
    {
      "type": "checkbox",
      "id": "slider",
      "label": "Images slider",
      "default": true
    },
    {
      "type": "header",
      "content": "Strings"
    },
    {
      "type": "text",
      "id": "sold_out_string",
      "label": "Sold out string",
      "default": "Sold out"
    },
    {
      "type": "text",
      "id": "sale_string",
      "label": "Sale string",
      "default": "Sale"
    },
    {
      "type": "text",
      "id": "new_string",
      "label": "New string",
      "default": "New"
    },
    {
      "type": "text",
      "id": "select_options_string",
      "label": "Select options string",
      "default": "Select options"
    },
    {
      "type": "text",
      "id": "add_cart_string",
      "label": "Add cart string",
      "default": "Add to cart"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show price",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_btn_cl",
      "label": "Show button collection",
      "default": false
    },
    {
      "type": "text",
      "id": "btn_text_collection",
      "label": "Button collection",
      "default": "Shop Now"
    },
    {
      "type": "color_background",
      "id": "background",
      "label": "Background",
      "default": "transparent"
    },
    {
      "type": "range",
      "id": "col_per_row",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Quantity in row",
      "default": 6
    },
    {
      "type": "range",
      "id": "number_of_products",
      "min": 1,
      "max": 18,
      "step": 1,
      "label": "Number of products",
      "default": 12
    },
    {
      "type": "text",
      "id": "padding_top",
      "label": "Padding top (px)",
      "default": "0"
    },
    {
      "type": "text",
      "id": "padding_bottom",
      "label": "Padding bottom (px)",
      "default": "0"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin top (px)",
      "default": "0"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin bottom (px)",
      "default": "0"
    }
  ],
  "presets": [{
    "name": "Collection grid home 13",
    "category": "SectionHub: weare"
  }]
}
{% endschema %}