{{"mdp-weare-password-1.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}" class="mdp mdp-weare-password-1 {% if section.settings.inverted %}mdp-inverted{% endif %}">
  {% unless section.settings.image == blank %}
  <div class="mdp-overlay lazyload" data-bgset="{{section.settings.image | img_url : '2000x' }}"></div>
  {% endunless %}
  <input type="checkbox" id="mdp-storefront-form">
  <div class="mdp-opening-soon">
    {% unless section.settings.title == blank and section.settings.subtitle == blank %}
    <div class="mdp-header">
      {% unless section.settings.title == blank %}
      <h2 class="mdp-title">{{ section.settings.title | escape }}</h2>
      {% endunless %}
      {% unless section.settings.subtitle == blank %}
      <div class="mdp-subtitle">{{ section.settings.subtitle | escape }}</div>
      {% endunless %}
    </div>
    {% endunless %}  
    <div class="mdp-signup-form">
      {% form "customer" %}
        {{ form.errors | default_errors }}
        <div class="mdp-row">
          <input  type="email" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" name="contact[email]"/>
          <button type="submit" class="mdp-submit">
            {{ 'general.newsletter_form.submit' | t }}
          </button>    
        </div>
      {% endform %}    
    </div>
    <div class="mdp-social-links">
      {% unless section.settings.facebook_link == blank %}
        <a href="{{ section.settings.facebook_link }}" class="mdp-facebook">
          {% render 'mdp-weare-icon' with '215' %}
        </a>
      {% endunless %}      
      {% unless section.settings.twitter_link == blank %}
        <a href="{{ section.settings.twitter_link }}" class="mdp-twitter">
          {% render 'mdp-weare-icon' with '213' %}
        </a>
      {% endunless %}
      {% unless section.settings.instagram_link == blank %}
        <a href="{{ section.settings.instagram_link }}" class="mdp-instagram">
          {% render 'mdp-weare-icon' with '219' %}
        </a>
      {% endunless %}
      {% unless section.settings.youtobe_link == blank %}
        <a href="{{ section.settings.youtobe_link }}" class="mdp-youtobe">
          {% render 'mdp-weare-icon' with '211' %}
        </a>
      {% endunless %}
      {% unless section.settings.pinterest_link == blank %}
        <a href="{{ section.settings.pinterest_link }}" class="mdp-pinterest">
          {% render 'mdp-weare-icon' with '218' %}
        </a>
      {% endunless %}
    </div>
    <div class="mdp-credentials">
        <span>Powered by <a href="https://www.shopify.com/?ref=azexo" target="_blank" rel="nofollow">Shopify</a></span>
    </div>    
  </div>
  <label for="mdp-storefront-form" class="mdp-storefront-form-open">{{ 'general.password_page.password_link' | t }}</label>
  <label for="mdp-storefront-form" class="mdp-storefront-form-close">{% render 'mdp-weare-icon' with '164' %}</label>
  <div class="mdp-storefront-form">
    <div class="mdp-title">{{ 'general.password_page.login_form_heading' | t }}</div>
    {% form "storefront_password" %}
      {{ form.errors | default_errors }}
      <div class="mdp-row">
        <input  type="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" name="password"/>
        <button type="submit" class="mdp-submit">
          {{ 'general.password_page.login_form_submit' | t }}
        </button>    
      </div>
    {% endform %}
    <div class="mdp-admin-login">{{ 'general.password_page.admin_link_html' | t }}</div>
  </div>
</div>



{% schema %}
  {
    "name": "Password 1",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Opening Soon"
      },
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
		"default": "Be the first to know when we launch."
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "checkbox",
        "id": "inverted",
        "label": "Inverted",
        "default": false
      },
      {
        "type": "url",
        "id": "facebook_link",
        "label": "Facebook link"
      },
      {
        "type": "url",
        "id": "twitter_link",
        "label": "Twitter link"
      },
      {
        "type": "url",
        "id": "instagram_link",
        "label": "Instagram link"
      },
      {
        "type": "url",
        "id": "youtobe_link",
        "label": "Youtobe link"
      },
      {
        "type": "url",
        "id": "pinterest_link",
        "label": "Pinterest link"
      }
	]
  }
{% endschema %}