{{"mdp-weare-testimonials-1.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}" class="mdp mdp-container mdp-weare-testimonials-1" data-variant="{{section.settings.variant}}" style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
  {% unless section.settings.title == blank and section.settings.subtitle == blank %}
    <div class="mdp-header">
      {% unless section.settings.title == blank %}
      <h2 class="mdp-title">{{ section.settings.title | escape }}</h2>
      {% endunless %}
      {% unless section.settings.subtitle == blank %}
      <div class="mdp-subtitle">{{ section.settings.subtitle | escape }}</div>
      {% endunless %}
    </div>
  {% endunless %}  
  <div class="mdp-grid" data-columns="{{section.settings.col_per_row}}" data-gap="{{section.settings.gap}}">
      {% for block in section.blocks %}  
        <div class="mdp-item">
          <div class="mdp-testimonial">
              {{ block.settings.content }}
              <span class="mdp-icon">{% render 'mdp-weare-icon' with '139' %}</span>
            {%if section.settings.show_rating %}            
              <div class="mdp-rating">
                <span class="mdp-icon">{% render 'mdp-weare-icon' with '221' %}</span>
                <span class="mdp-icon">{% render 'mdp-weare-icon' with '221' %}</span>
                <span class="mdp-icon">{% render 'mdp-weare-icon' with '221' %}</span>
                <span class="mdp-icon">{% render 'mdp-weare-icon' with '221' %}</span>
                <span class="mdp-icon">{% render 'mdp-weare-icon' with '221' %}</span>
              </div>
            {% endif %}
          </div>
          <div class="mdp-author">
            {% unless block.settings.image == blank %}                
            	<div class="mdp-placeholder" style="width: {{ section.settings.image_size | split: "x" | first }}px; padding-top: calc({{ section.settings.image_size | split: "_" | first | split: "x" | last }} / {{ section.settings.image_size | split: "x" | first }} * 100%);">
                  <img class="mdp-image lazyload" data-src="{{block.settings.image | img_url : section.settings.image_size}}" alt="">
            </div>
            {% endunless %}
            <div class="mdp-data">
              <div class="mdp-name">
                {{block.settings.name}}
              </div>
              <div class="mdp-title">
                {{block.settings.title}}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>

</div>

{% schema %}
  {
    "name": "Testimonials 1",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      },
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading"
      },
	  {
        "type": "range",
        "id": "col_per_row",
        "label": "Col per row",
        "default": 3,
        "min": 2,
        "max": 5,
        "step": 1
      },
      {
        "type": "select",
        "id": "gap",
        "label": "Gap(px)",
        "default": "30",
        "options": [
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          },
          {
            "label": "10",
            "value": "10"
          },
          {
            "label": "15",
            "value": "15"
          },
          {
            "label": "20",
            "value": "20"
          },
          {
            "label": "25",
            "value": "25"
          },
          {
            "label": "30",
            "value": "30"
          }
        ]
      },
      {
         "type": "text",
         "id": "image_size",
         "label": "Image size",
         "default": "60x60_crop_center",
         "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
      },
      {
        "type": "checkbox",
        "id": "show_rating",
        "label": "Show rating",
        "default": false
      },
	  {
        "type": "select",
        "id": "variant",
        "label": "Variant",
        "default": "style_1",
        "options": [
          {
            "label": "Style 1",
            "value": "style_1"
          }
        ]
      },
      {
        "type": "text",
        "id": "margin_top",
        "label": "Margin top (px)"
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Margin bottom (px)"
      }
    ],
	"blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Name"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
			"default": "<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>"
          }
        ]
      }
	],
    "presets": [{
      "name": "Testimonials Small",
      "category": "SectionHub: weare"
    }]
  }
{% endschema %}