{{ "mdp-weare-menu-1.css" | asset_url | stylesheet_tag }}
{{ "prosmash-header.css" | asset_url | stylesheet_tag }}
{{ "prosmash-header.js" |  asset_url |  script_tag }}

{% assign logo = section.settings.logo | img_url: section.settings.logo_size %}

<div id="mdp-weare-{{ section.id }}"
     class="mdp mdp-weare-menu-1">
    <div id="mdp-right-icon" style="display: none;">
        {% render 'mdp-weare-icon' with '007' %}
    </div>
    <div id="mdp-left-icon" style="display: none;">
        {% render 'mdp-weare-icon' with '006' %}
    </div>
    <div id="mdp-back" style="display: none;">
        {{ 'layout.navigation.back' | t }}
    </div>
    <div data-sticky-class="mdp-sticky-menu">
        <div class="top-header">
           <div class="mdp-container mdp-grid" data-columns="1" data-gap="30">
            <div class="mdp-col mdp-row-full">
              <div class="mdp-row-center">
                    {% if section.settings.menu != blank %}
                        <div class="mdp-menu-element" data-mega-menu="12">

                            <div class="mdp-menu-wrapper">
                                <div class="mdp-menu-root">

                                    <div class="mdp-mobile-devices-header">
                                        <a href="/" class="mdp-logo">
                                            {% if section.settings.use_logo_img == false %}
                                                <span>{{ shop.name }}</span>
                                            {% else %}
                                                <img src="{{ logo }}" alt="logo">
                                            {% endif %}
                                        </a>
                                    </div>

                                    {% for link in linklists[section.settings.menu].links %}
                                        {% assign link_classes = '' %}
                                        {% if link.active %}
                                            {% assign link_classes = link_classes | append: ' mdp-active' %}
                                        {% endif %}
                                        {% if link.child_active %}
                                            {% assign link_classes = link_classes | append: ' mdp-active-ancestor' %}
                                        {% endif %}
                                        {% if link.current %}
                                            {% assign link_classes = link_classes | append: ' mdp-current' %}
                                        {% endif %}
                                        {% if link.child_current %}
                                            {% assign link_classes = link_classes | append: ' mdp-current-ancestor' %}
                                        {% endif %}
                                        {% if link.links != blank %}
                                            <div class="mdp-menu-item mdp-has-children{{ link_classes }}">
                                                <a href="{{ link.url }}" class="mdp-menu-link">
                                                    {{ link.title | escape }}
                                                    <span class="mdp-down-icon"><i class="fas fa-angle-down"></i></span>
                                                </a>
                                                <input id="{{ link.url | md5 | slice: 0, 5 | prepend: 'id' }}"
                                                       type="checkbox">
                                                <label for="{{ link.url | md5 | slice: 0, 5 | prepend: 'id' }}"><span
                                                            class="mdp-down-icon"><i
                                                                class="fas fa-angle-down"></i></span><span
                                                            class="mdp-up-icon">{% render 'mdp-weare-icon' with '008' %}</span></label>
                                                <div class="mdp-sub-menu">
                                                    {% for childlink in link.links %}
                                                        {% assign childlink_classes = '' %}
                                                        {% if childlink.active %}
                                                            {% assign childlink_classes = childlink_classes | append: ' mdp-active' %}
                                                        {% endif %}
                                                        {% if childlink.child_active %}
                                                            {% assign childlink_classes = childlink_classes | append: ' mdp-active-ancestor' %}
                                                        {% endif %}
                                                        {% if childlink.current %}
                                                            {% assign childlink_classes = childlink_classes | append: ' mdp-current' %}
                                                        {% endif %}
                                                        {% if childlink.child_current %}
                                                            {% assign childlink_classes = childlink_classes | append: ' mdp-current-ancestor' %}
                                                        {% endif %}
                                                        {% if childlink.links != blank %}
                                                            <div class="mdp-menu-item mdp-has-children{{ childlink_classes }}">
                                                                <a href="{{ childlink.url }}" class="mdp-menu-link">
                                                                    {{ childlink.title | escape }}
                                                                    <span class="mdp-right-icon">{% render 'mdp-weare-icon' with '007' %}</span>
                                                                </a>
                                                                <input id="{{ childlink.url | md5 | slice: 0, 5 | prepend: 'id' }}"
                                                                       type="checkbox">
                                                                <label for="{{ childlink.url | md5 | slice: 0, 5 | prepend: 'id' }}"><span
                                                                            class="mdp-down-icon"><i
                                                                                class="fas fa-angle-down"></i></span><span
                                                                            class="mdp-up-icon">{% render 'mdp-weare-icon' with '008' %}</span></label>
                                                                <div class="mdp-sub-menu">
                                                                    {% for grandchildlink in childlink.links %}
                                                                        {% assign grandchildlink_classes = '' %}
                                                                        {% if grandchildlink.active %}
                                                                            {% assign grandchildlink_classes = grandchildlink_classes | append: ' mdp-active' %}
                                                                        {% endif %}
                                                                        {% if grandchildlink.child_active %}
                                                                            {% assign grandchildlink_classes = grandchildlink_classes | append: ' mdp-active-ancestor' %}
                                                                        {% endif %}
                                                                        {% if grandchildlink.current %}
                                                                            {% assign grandchildlink_classes = grandchildlink_classes | append: ' mdp-current' %}
                                                                        {% endif %}
                                                                        {% if grandchildlink.child_current %}
                                                                            {% assign grandchildlink_classes = grandchildlink_classes | append: ' mdp-current-ancestor' %}
                                                                        {% endif %}
                                                                        <div class="mdp-menu-item{{ grandchildlink_classes }}">
                                                                            <a href="{{ grandchildlink.url }}"
                                                                               class="mdp-menu-link">{{ grandchildlink.title | escape }}</a>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            <div class="mdp-menu-item{{ childlink_classes }}">
                                                                <a href="{{ childlink.url }}"
                                                                   class="mdp-menu-link">{{ childlink.title | escape }}</a>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="mdp-menu-item{{ link_classes }}">
                                                <a href="{{ link.url }}"
                                                   class="mdp-menu-link">{{ link.title | escape }}</a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                    <div class="mdp-mobile-devices-footer">

                                        <div class="mdp-language-region">
                                            <h3>Language & Region:</h3>
                                            {% form 'localization' %}
                                                <select name="country_code">
                                                    {% for country in localization.available_countries %}
                                                        <option value="{{ country.iso_code }}" {% if country == localization.country %} selected="selected"{% endif %}>
                                                            {{ country.name }} ({{ country.iso_code }})
                                                            - {{ country.currency.symbol }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            {% endform %}

                                            {% form 'localization' %}
                                                <select name="language_code">
                                                    {% for language in localization.available_languages %}
                                                        <option value="{{ language.iso_code }}" {% if language == localization.language %} selected="selected"{% endif %}>
                                                            {{ language.endonym_name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            {% endform %}
                                        </div>

                                        <div class="mdp-follow-us">
                                            <h3>Follow Us:</h3>
                                            <span class="mdp-info-list">
                                                {% for block in section.blocks %}
                                                    {% if block.type == "mobile_icons" %}
                                                        <span class="mdp-info">
                                                        <a href="{{ block.settings.social_link }}"
                                                          class="mdp-social-link"
                                                        >
                                                          <i class="{{ block.settings.icon_class }}"></i>
                                                        </a>
                                                        </span>
                                                    {% endif %}
                                                {% endfor %}
                                            </span>
                                        </div>

                                        <div class="mdp-my-account">
                                            <h3>My Account:</h3>
                                            <a href="/account/register" class="btn primary">Sign Up</a>
                                            <a href="/account" class="btn bordered-black">Login</a>
                                        </div>

                                        <div class="mdp-work-time-box">
                                            {% for block in section.blocks %}
                                                {% if block.type == "work_time" %}
                                                    <span class="mdp-info-list">
                                                        <span class="mdp-info mdp-work-time">
                                                            <span><i class="fas fa-clock"></i> Opening time:&nbsp;</span>
                                                            <span>{{ block.settings.work_time_text }}</span>
                                                        </span>
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}


                   

                </div>
            </div>
           </div>
          
        </div>

        <div class="bottom-header">
            <div class="mdp-container mdp-grid" data-columns="1" data-gap="30">
            <div class="mdp-col mdp-row-full">
                <div class="mdp-row-left">
                    {% if section.settings.menu != blank %}
                        <div class="mdp-menu-element" data-mega-menu="12">
                            <input id="mdp-menu" type="checkbox">
                            <label for="mdp-menu">
                                {% render 'mdp-weare-icon' with '191' %}
                            </label>

                            <div class="mdp-menu-wrapper mdp-menu-mobile">
                                <div class="mdp-menu-root">

                                    <div class="mdp-mobile-devices-header">
                                        <a href="/" class="mdp-logo">
                                            {% if section.settings.use_logo_img == false %}
                                                <span>{{ shop.name }}</span>
                                            {% else %}
                                                <img src="{{ logo }}" alt="logo">
                                            {% endif %}
                                        </a>
                                    </div>

                                    {% for link in linklists[section.settings.menu].links %}
                                        {% assign link_classes = '' %}
                                        {% if link.active %}
                                            {% assign link_classes = link_classes | append: ' mdp-active' %}
                                        {% endif %}
                                        {% if link.child_active %}
                                            {% assign link_classes = link_classes | append: ' mdp-active-ancestor' %}
                                        {% endif %}
                                        {% if link.current %}
                                            {% assign link_classes = link_classes | append: ' mdp-current' %}
                                        {% endif %}
                                        {% if link.child_current %}
                                            {% assign link_classes = link_classes | append: ' mdp-current-ancestor' %}
                                        {% endif %}
                                        {% if link.links != blank %}
                                            <div class="mdp-menu-item mdp-has-children{{ link_classes }}">
                                                <a href="{{ link.url }}" class="mdp-menu-link">
                                                    {{ link.title | escape }}
                                                    <span class="mdp-down-icon"><i class="fas fa-angle-down"></i></span>
                                                </a>
                                                <input id="{{ link.url | md5 | slice: 0, 5 | prepend: 'id' }}"
                                                       type="checkbox">
                                                <label for="{{ link.url | md5 | slice: 0, 5 | prepend: 'id' }}"><span
                                                            class="mdp-down-icon"><i
                                                                class="fas fa-angle-down"></i></span><span
                                                            class="mdp-up-icon">{% render 'mdp-weare-icon' with '008' %}</span></label>
                                                <div class="mdp-sub-menu">
                                                    {% for childlink in link.links %}
                                                        {% assign childlink_classes = '' %}
                                                        {% if childlink.active %}
                                                            {% assign childlink_classes = childlink_classes | append: ' mdp-active' %}
                                                        {% endif %}
                                                        {% if childlink.child_active %}
                                                            {% assign childlink_classes = childlink_classes | append: ' mdp-active-ancestor' %}
                                                        {% endif %}
                                                        {% if childlink.current %}
                                                            {% assign childlink_classes = childlink_classes | append: ' mdp-current' %}
                                                        {% endif %}
                                                        {% if childlink.child_current %}
                                                            {% assign childlink_classes = childlink_classes | append: ' mdp-current-ancestor' %}
                                                        {% endif %}
                                                        {% if childlink.links != blank %}
                                                            <div class="mdp-menu-item mdp-has-children{{ childlink_classes }}">
                                                                <a href="{{ childlink.url }}" class="mdp-menu-link">
                                                                    {{ childlink.title | escape }}
                                                                    <span class="mdp-right-icon">{% render 'mdp-weare-icon' with '007' %}</span>
                                                                </a>
                                                                <input id="{{ childlink.url | md5 | slice: 0, 5 | prepend: 'id' }}"
                                                                       type="checkbox">
                                                                <label for="{{ childlink.url | md5 | slice: 0, 5 | prepend: 'id' }}"><span
                                                                            class="mdp-down-icon"><i
                                                                                class="fas fa-angle-down"></i></span><span
                                                                            class="mdp-up-icon">{% render 'mdp-weare-icon' with '008' %}</span></label>
                                                                <div class="mdp-sub-menu">
                                                                    {% for grandchildlink in childlink.links %}
                                                                        {% assign grandchildlink_classes = '' %}
                                                                        {% if grandchildlink.active %}
                                                                            {% assign grandchildlink_classes = grandchildlink_classes | append: ' mdp-active' %}
                                                                        {% endif %}
                                                                        {% if grandchildlink.child_active %}
                                                                            {% assign grandchildlink_classes = grandchildlink_classes | append: ' mdp-active-ancestor' %}
                                                                        {% endif %}
                                                                        {% if grandchildlink.current %}
                                                                            {% assign grandchildlink_classes = grandchildlink_classes | append: ' mdp-current' %}
                                                                        {% endif %}
                                                                        {% if grandchildlink.child_current %}
                                                                            {% assign grandchildlink_classes = grandchildlink_classes | append: ' mdp-current-ancestor' %}
                                                                        {% endif %}
                                                                        <div class="mdp-menu-item{{ grandchildlink_classes }}">
                                                                            <a href="{{ grandchildlink.url }}"
                                                                               class="mdp-menu-link">{{ grandchildlink.title | escape }}</a>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            <div class="mdp-menu-item{{ childlink_classes }}">
                                                                <a href="{{ childlink.url }}"
                                                                   class="mdp-menu-link">{{ childlink.title | escape }}</a>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="mdp-new-menu-item{{ link_classes }}">
                                                <a href="{{ link.url }}"
                                                   class="mdp-menu-link">{{ link.title | escape }}</a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                    <div class="mdp-mobile-devices-footer">

                                        <div class="mdp-language-region">
                                            <h3>Language & Region:</h3>
                                            {% form 'localization' %}
                                                <select name="country_code">
                                                    {% for country in localization.available_countries %}
                                                        <option value="{{ country.iso_code }}" {% if country == localization.country %} selected="selected"{% endif %}>
                                                            {{ country.name }} ({{ country.iso_code }})
                                                            - {{ country.currency.symbol }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            {% endform %}

                                            {% form 'localization' %}
                                                <select name="language_code">
                                                    {% for language in localization.available_languages %}
                                                        <option value="{{ language.iso_code }}" {% if language == localization.language %} selected="selected"{% endif %}>
                                                            {{ language.endonym_name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            {% endform %}
                                        </div>

                                        <div class="mdp-follow-us">
                                            <h3>Follow Us:</h3>
                                            <span class="mdp-info-list">
                                                {% for block in section.blocks %}
                                                    {% if block.type == "mobile_icons" %}
                                                        <span class="mdp-info">
                                                        <a href="{{ block.settings.social_link }}"
                                                           class="mdp-social-link"><i
                                                                    class="{{ block.settings.icon_class }}"></i></a>
                                                        </span>
                                                    {% endif %}
                                                {% endfor %}
                                            </span>
                                        </div>

                                        <div class="mdp-my-account">
                                            <h3>My Account:</h3>
                                            <a href="/account/register" class="btn primary">Sign Up</a>
                                            <a href="/account" class="btn bordered-black">Login</a>
                                        </div>

                                        <div class="mdp-work-time-box">
                                            {% for block in section.blocks %}
                                                {% if block.type == "work_time" %}
                                                    <span class="mdp-info-list">
                                                        <span class="mdp-info mdp-work-time">
                                                            <span><i class="fas fa-clock"></i> Opening time:&nbsp;</span>
                                                            <span>{{ block.settings.work_time_text }}</span>
                                                        </span>
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <a href="/" class="mdp-logo">
                        {% if section.settings.use_logo_img == false %}
                            <span>{{ shop.name }}</span>
                        {% else %}
                                <img src="{{ logo }}" alt="logo">
                        {% endif %}
                    </a>

                </div>
                <div class="mdp-row-center testing-center">
                    <div class="mdp-row-center__wrapper">
                      <div class="collection-select-wrapper">
                          <div id="all-categories-btn">All Categories<img src="{{ 'CaretDown.svg' | asset_url }}" class="caret-down" alt=""></div>
                      </div>
                      <div class="mdp-search-display mdp-search-display-block test">
                          <form class="mdp-search-bar" action="/search" method="get">
                          <input type="search" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}">
                          <button type="submit">{{ 'general.search.submit' | t }}</button>
                          </form>
                      </div>
                    </div>

                    <div class="mdp-row-center__search-button">
                        <a href="#" class="filter-btn">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path d="M35.8844 34.1156L28.0609 26.2937C30.3285 23.5714 31.4592 20.0797 31.2179 16.5449C30.9765 13.0101 29.3817 9.70446 26.7652 7.31558C24.1487 4.9267 20.7119 3.63852 17.1698 3.71902C13.6278 3.79952 10.2531 5.2425 7.74777 7.74778C5.24249 10.2531 3.79951 13.6278 3.71901 17.1699C3.63851 20.7119 4.92669 24.1487 7.31557 26.7652C9.70445 29.3817 13.0101 30.9765 16.5449 31.2179C20.0797 31.4592 23.5714 30.3285 26.2937 28.0609L34.1156 35.8844C34.2318 36.0005 34.3696 36.0926 34.5214 36.1555C34.6731 36.2183 34.8357 36.2507 35 36.2507C35.1642 36.2507 35.3269 36.2183 35.4786 36.1555C35.6304 36.0926 35.7682 36.0005 35.8844 35.8844C36.0005 35.7682 36.0926 35.6304 36.1555 35.4786C36.2183 35.3269 36.2507 35.1642 36.2507 35C36.2507 34.8358 36.2183 34.6731 36.1555 34.5214C36.0926 34.3696 36.0005 34.2318 35.8844 34.1156ZM6.24999 17.5C6.24999 15.275 6.90979 13.0999 8.14596 11.2498C9.38212 9.39978 11.1391 7.95784 13.1948 7.10635C15.2505 6.25487 17.5125 6.03208 19.6948 6.46616C21.877 6.90025 23.8816 7.97171 25.4549 9.54505C27.0283 11.1184 28.0997 13.1229 28.5338 15.3052C28.9679 17.4875 28.7451 19.7495 27.8936 21.8052C27.0422 23.8609 25.6002 25.6179 23.7502 26.854C21.9001 28.0902 19.725 28.75 17.5 28.75C14.5173 28.7467 11.6578 27.5604 9.54869 25.4513C7.43963 23.3422 6.2533 20.4827 6.24999 17.5Z" fill="white"/>
                        </svg>
                        </a>
                    </div>

                    <div class="menu-drawer">
                        {% assign menu = linklists['all-categories'] %}
                        {% if menu and menu.links.size > 0 %}
                            <ul class="toggle-menu">
                            {% for link in menu.links %}
                                {% assign obj = link.object %}
                                {% assign img_url = '' %}

                                {% if link.type == 'collection_link' and obj %}
                                {% if obj.image %}
                                    {% assign img_url = obj.image | image_url: width: 800 %}
                                {% elsif obj.featured_image %}
                                    {% assign img_url = obj.featured_image | image_url: width: 800 %}
                                {% endif %}
                                {% endif %}

                                <li>
                                <a href="{{ link.url }}" class="toggle-link" data-image="{{ img_url }}">
                                    {{ link.title }}
                                </a>
                                </li>
                            {% endfor %}
                            </ul>

                            <div class="menu-drawer-img-container">
                                <canvas id="category-canvas"></canvas>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="mdp-row-right">
                    {% comment %} {% if section.settings.search %}
                        <a href="javascript:void(0);" class="mdp-search-link">
                          <i class="fas fa-search mdp-menu-icon"></i></a>
                    {% endif %} {% endcomment %}

                    {% if shop.customer_accounts_enabled %}
                        <a class="mdp-account" href="/cart">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <path d="M9 20.25C9 20.5467 8.91203 20.8367 8.7472 21.0834C8.58238 21.33 8.34811 21.5223 8.07402 21.6358C7.79994 21.7494 7.49834 21.7791 7.20736 21.7212C6.91639 21.6633 6.64912 21.5204 6.43934 21.3107C6.22956 21.1009 6.0867 20.8336 6.02882 20.5426C5.97094 20.2517 6.00065 19.9501 6.11418 19.676C6.22771 19.4019 6.41997 19.1676 6.66664 19.0028C6.91332 18.838 7.20333 18.75 7.5 18.75C7.89782 18.75 8.27936 18.908 8.56066 19.1893C8.84196 19.4706 9 19.8522 9 20.25ZM17.25 18.75C16.9533 18.75 16.6633 18.838 16.4166 19.0028C16.17 19.1676 15.9777 19.4019 15.8642 19.676C15.7506 19.9501 15.7209 20.2517 15.7788 20.5426C15.8367 20.8336 15.9796 21.1009 16.1893 21.3107C16.3991 21.5204 16.6664 21.6633 16.9574 21.7212C17.2483 21.7791 17.5499 21.7494 17.824 21.6358C18.0981 21.5223 18.3324 21.33 18.4972 21.0834C18.662 20.8367 18.75 20.5467 18.75 20.25C18.75 19.8522 18.592 19.4706 18.3107 19.1893C18.0294 18.908 17.6478 18.75 17.25 18.75ZM21.6037 6.30469C21.534 6.21017 21.443 6.13335 21.3382 6.08043C21.2333 6.02751 21.1175 5.99996 21 6H4.53L3.76969 3.3375C3.67895 3.0247 3.48934 2.74969 3.22925 2.55365C2.96916 2.35761 2.65257 2.25108 2.32687 2.25H0.75C0.551088 2.25 0.360322 2.32902 0.21967 2.46967C0.0790176 2.61032 0 2.80109 0 3C0 3.19891 0.0790176 3.38968 0.21967 3.53033C0.360322 3.67098 0.551088 3.75 0.75 3.75H2.32687L5.71875 15.6178C5.85449 16.087 6.13858 16.4997 6.52848 16.7939C6.91837 17.0882 7.3931 17.2482 7.88156 17.25H16.8919C17.3734 17.2517 17.8427 17.0981 18.2301 16.812C18.6175 16.5259 18.9024 16.1226 19.0425 15.6619L21.7172 6.97031C21.7516 6.85822 21.7593 6.73961 21.7396 6.62401C21.7199 6.50841 21.6734 6.39904 21.6037 6.30469Z" fill="black"/>
                            </svg>
                        </a>
                    {% endif %} 
                     
                    <a class="mdp-cart" href="/account">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <path d="M21.6497 20.625C21.5838 20.739 21.4891 20.8337 21.3751 20.8996C21.261 20.9654 21.1316 21 21 21H2.99996C2.86838 20.9999 2.73914 20.9651 2.62523 20.8992C2.51133 20.8334 2.41676 20.7387 2.35102 20.6247C2.28529 20.5107 2.2507 20.3814 2.25073 20.2498C2.25077 20.1182 2.28542 19.989 2.35121 19.875C3.77903 17.4066 5.97934 15.6366 8.54715 14.7975C7.277 14.0414 6.29016 12.8892 5.7382 11.5179C5.18624 10.1467 5.09967 8.63213 5.49178 7.2069C5.8839 5.78167 6.73301 4.52456 7.90874 3.62862C9.08446 2.73268 10.5218 2.24745 12 2.24745C13.4781 2.24745 14.9155 2.73268 16.0912 3.62862C17.2669 4.52456 18.116 5.78167 18.5081 7.2069C18.9003 8.63213 18.8137 10.1467 18.2617 11.5179C17.7098 12.8892 16.7229 14.0414 15.4528 14.7975C18.0206 15.6366 20.2209 17.4066 21.6487 19.875C21.7147 19.9889 21.7495 20.1182 21.7497 20.2499C21.7498 20.3815 21.7153 20.5109 21.6497 20.625Z" fill="black"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<style>
    .bottom-header span.select2-dropdown.collection-dropdown-fullwidth.select2-dropdown--below::after {
        content: "";
        display: block;
        width: calc(60% - 24px);
        background-image: url('{{ section.settings.static_image | image_url }}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: calc(100% - 48px);
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 1;
        pointer-events: none;
    }
        span.select2-results {
        display: flex;
        justify-content: space-between;
    }

    .collection-preview-container {
        max-width: 420px;
        max-height: 258px;
        overflow: hidden;
    }
    .collection-preview-container img {
        width: 100%;
        height: 258px;
        object-fit: contain;
        object-position: right;
    }
</style>

<script>
    
    // let searchLink = document.querySelector('.mdp-search-link');
    // let searchBar = document.querySelector('.mdp-search-display');

    // searchLink.addEventListener("click", event => {

    //     if (searchBar.classList[1] == 'mdp-search-display-none') {
    //         searchBar.classList.remove("mdp-search-display-none");
    //         searchBar.classList.add("mdp-search-display-block");
    //     } else {
    //         searchBar.classList.remove("mdp-search-display-block");
    //         searchBar.classList.add("mdp-search-display-none");
    //     }

    // });

    $('.filter-btn').on('click', function() {
        $('.mdp-search-display.mdp-search-display-block.test form button').trigger('click');
    })

</script>

{% schema %}
{
  "name": "TopMenu",
  "settings": [
    {
      "type": "checkbox",
      "id": "use_logo_img",
      "label": "Use logo image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "logo_size",
      "label": "Logo size",
      "default": "50x50"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "checkbox",
      "id": "search",
      "label": "Search",
      "default": true
    },
    {
        "type": "image_picker",
        "id": "static_image",
        "label": "Dropdown Image"
    }
  ],
  "blocks": [
    {
      "type": "mobile_icons",
      "name": "Social Icon - Mobile",
      "settings": [
        {
          "type": "text",
          "id": "icon_class",
          "label": "Icon Class"
        },
        {
          "type": "url",
          "id": "social_link",
          "label": "Social link"
        }
      ]
    },
    {
      "type": "work_time",
      "name": "Work time - Mobile",
      "settings": [
        {
          "type": "text",
          "id": "work_time_text",
          "label": "Work time"
        }
      ]
    }
  ]
}
{% endschema %}