{{ "mdp-weare-menu-1.css" | asset_url | stylesheet_tag }}
{% assign logo = section.settings.logo | img_url: section.settings.logo_size %}

<div id="mdp-weare-{{ section.id }}"
     class="mdp mdp-weare-menu-1">
    <div id="mdp-right-icon" style="display: none;">
        {% render 'mdp-weare-icon' with '007' %}
    </div>
    <div id="mdp-left-icon" style="display: none;">
        {% render 'mdp-weare-icon' with '006' %}
    </div>
    <div id="mdp-back" style="display: none;">
        {{ 'layout.navigation.back' | t }}
    </div>
    <div data-sticky-class="mdp-sticky-menu">

        <div class="mdp-container mdp-grid" data-columns="1" data-gap="30">

            <div class="mdp-col mdp-row-full">

                <div class="mdp-row-left">

                    {% if section.settings.menu != blank %}
                        <div class="mdp-menu-element" data-mega-menu="12">
                            <input id="mdp-menu" type="checkbox">
                            <label for="mdp-menu">
                                {% render 'mdp-weare-icon' with '191' %}
                            </label>

                            <div class="mdp-menu-wrapper mdp-menu-mobile">
                                <div class="mdp-menu-root">

                                    <div class="mdp-mobile-devices-header">
                                        <a href="/" class="mdp-logo">
                                            {% if section.settings.use_logo_img == false %}
                                                <span>{{ shop.name }}</span>
                                            {% else %}
                                                <img src="{{ logo }}" alt="logo">
                                            {% endif %}
                                        </a>
                                    </div>

                                    {% for link in linklists[section.settings.menu].links %}
                                        {% if link.links != blank %}
                                            <div class="mdp-menu-item mdp-has-children
                                                        {% if link.active %}mdp-active{% endif %}
                                                        {% if link.child_active %}mdp-active-ancestor{% endif %}
                                                        {% if link.current %}mdp-current{% endif %}
                                                        {% if link.child_current %}mdp-current-ancestor{% endif %}">
                                                <a href="{{ link.url }}" class="mdp-menu-link">
                                                    {{ link.title | escape }}
                                                    <span class="mdp-down-icon"><i class="fas fa-angle-down"></i></span>
                                                </a>
                                                <input id="{{ link.url | md5 | slice: 0, 5 | prepend: 'id' }}"
                                                       type="checkbox">
                                                <label for="{{ link.url | md5 | slice: 0, 5 | prepend: 'id' }}"><span
                                                            class="mdp-down-icon"><i
                                                                class="fas fa-angle-down"></i></span><span
                                                            class="mdp-up-icon">{% render 'mdp-weare-icon' with '008' %}</span></label>
                                                <div class="mdp-sub-menu">
                                                    {% for childlink in link.links %}
                                                        {% if childlink.links != blank %}
                                                            <div class="mdp-menu-item mdp-has-children {% if childlink.active %}mdp-active{% endif %} {% if childlink.child_active %}mdp-active-ancestor{% endif %} {% if childlink.current %}mdp-current{% endif %} {% if childlink.child_current %}mdp-current-ancestor{% endif %}">
                                                                <a href="{{ childlink.url }}" class="mdp-menu-link">
                                                                    {{ childlink.title | escape }}
                                                                    <span class="mdp-right-icon">{% render 'mdp-weare-icon' with '007' %}</span>
                                                                </a>
                                                                <input id="{{ childlink.url | md5 | slice: 0, 5 | prepend: 'id' }}"
                                                                       type="checkbox">
                                                                <label for="{{ childlink.url | md5 | slice: 0, 5 | prepend: 'id' }}"><span
                                                                            class="mdp-down-icon"><i
                                                                                class="fas fa-angle-down"></i></span><span
                                                                            class="mdp-up-icon">{% render 'mdp-weare-icon' with '008' %}</span></label>
                                                                <div class="mdp-sub-menu">
                                                                    {% for grandchildlink in childlink.links %}
                                                                        <div class="mdp-menu-item
                                                                                    {% if grandchildlink.active %}mdp-active{% endif %}
                                                                                    {% if grandchildlink.child_active %}mdp-active-ancestor{% endif %}
                                                                                    {% if grandchildlink.current %}mdp-current{% endif %}
                                                                                    {% if grandchildlink.child_current %}mdp-current-ancestor{% endif %}">
                                                                            <a href="{{ grandchildlink.url }}"
                                                                               class="mdp-menu-link">{{ grandchildlink.title | escape }}</a>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            <div class="mdp-menu-item
                                                                        {% if childlink.active %}mdp-active{% endif %}
                                                                        {% if childlink.child_active %}mdp-active-ancestor{% endif %}
                                                                        {% if childlink.current %}mdp-current{% endif %}
                                                                        {% if childlink.child_current %}mdp-current-ancestor{% endif %}">
                                                                <a href="{{ childlink.url }}"
                                                                   class="mdp-menu-link">{{ childlink.title | escape }}</a>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="mdp-new-menu-item
                                                        {% if link.active %}mdp-active{% endif %}
                                                        {% if link.child_active %}mdp-active-ancestor{% endif %}
                                                        {% if link.current %}mdp-current{% endif %}
                                                        {% if link.child_current %}mdp-current-ancestor{% endif %}">
                                                <a href="{{ link.url }}"
                                                   class="mdp-menu-link">{{ link.title | escape }}</a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                    <div class="mdp-mobile-devices-footer">

                                        <div class="mdp-language-region">
                                            <h3>Language & Region:</h3>
                                            {% form 'localization' %}
                                                <select name="country_code">
                                                    {% for country in localization.available_countries %}
                                                        <option value="{{ country.iso_code }}" {% if country == localization.country %} selected="selected"{% endif %}>
                                                            {{ country.name }} ({{ country.iso_code }})
                                                            - {{ country.currency.symbol }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            {% endform %}

                                            {% form 'localization' %}
                                                <select name="language_code">
                                                    {% for language in localization.available_languages %}
                                                        <option value="{{ language.iso_code }}" {% if language == localization.language %} selected="selected"{% endif %}>
                                                            {{ language.endonym_name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            {% endform %}
                                        </div>

                                        <div class="mdp-follow-us">
                                            <h3>Follow Us:</h3>
                                            <span class="mdp-info-list">
                                                {% for block in section.blocks %}
                                                    {% if block.type == "mobile_icons" %}
                                                        <span class="mdp-info">
                                                        <a href="{{ block.settings.social_link }}"
                                                           class="mdp-social-link"><i
                                                                    class="{{ block.settings.icon_class }}"></i></a>
                                                        </span>
                                                    {% endif %}
                                                {% endfor %}
                                            </span>
                                        </div>

                                        <div class="mdp-my-account">
                                            <h3>My Account:</h3>
                                            <a href="/account/register" class="mdp-sign-up-devices">Sign Up</a>
                                            <a href="/account" class="mdp-login-devices">Login</a>
                                        </div>

                                        <div class="mdp-work-time-box">
                                            {% for block in section.blocks %}
                                                {% if block.type == "work_time" %}
                                                    <span class="mdp-info-list">
                                                        <span class="mdp-info mdp-work-time">
                                                            <span><i class="fas fa-clock"></i> Opening time:&nbsp;</span>
                                                            <span>{{ block.settings.work_time_text }}</span>
                                                        </span>
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <a href="/" class="mdp-logo">
                        {% if section.settings.use_logo_img == false %}
                            <span>{{ shop.name }}</span>
                        {% else %}
                                <img src="{{ logo }}" alt="logo">
                        {% endif %}
                    </a>

                </div>
{% comment %} TOP PART MENU {% endcomment %}
<div class="mdp-col .mdp-row-full">
 {% if section.settings.menu != blank %}
    <div class="mdp-menu-element" data-mega-menu="12">
        <input id="mdp-menu" type="checkbox">
        <label for="mdp-menu">
            {% render 'mdp-weare-icon' with '191' %}
        </label>

        <div class="mdp-menu-wrapper mdp-menu-mobile">
            <div class="mdp-menu-root">

                <div class="mdp-mobile-devices-header">
                    <a href="/" class="mdp-logo">
                        {% if section.settings.use_logo_img == false %}
                            <span>{{ shop.name }}</span>
                        {% else %}
                            <img src="{{ logo }}" alt="logo">
                        {% endif %}
                    </a>
                </div>

                {% for link in linklists[section.settings.menu].links %}
                    {% if link.links != blank %}
                        <div class="mdp-menu-item mdp-has-children
                                    {% if link.active %}mdp-active{% endif %}
                                    {% if link.child_active %}mdp-active-ancestor{% endif %}
                                    {% if link.current %}mdp-current{% endif %}
                                    {% if link.child_current %}mdp-current-ancestor{% endif %}">
                            <a href="{{ link.url }}" class="mdp-menu-link">
                                {{ link.title | escape }}
                                <span class="mdp-down-icon"><i class="fas fa-angle-down"></i></span>
                            </a>
                            <input id="{{ link.url | md5 | slice: 0, 5 | prepend: 'id' }}"
                                    type="checkbox">
                            <label for="{{ link.url | md5 | slice: 0, 5 | prepend: 'id' }}"><span
                                        class="mdp-down-icon"><i
                                            class="fas fa-angle-down"></i></span><span
                                        class="mdp-up-icon">{% render 'mdp-weare-icon' with '008' %}</span></label>
                            <div class="mdp-sub-menu">
                                {% for childlink in link.links %}
                                    {% if childlink.links != blank %}
                                        <div class="mdp-menu-item mdp-has-children {% if childlink.active %}mdp-active{% endif %} {% if childlink.child_active %}mdp-active-ancestor{% endif %} {% if childlink.current %}mdp-current{% endif %} {% if childlink.child_current %}mdp-current-ancestor{% endif %}">
                                            <a href="{{ childlink.url }}" class="mdp-menu-link">
                                                {{ childlink.title | escape }}
                                                <span class="mdp-right-icon">{% render 'mdp-weare-icon' with '007' %}</span>
                                            </a>
                                            <input id="{{ childlink.url | md5 | slice: 0, 5 | prepend: 'id' }}"
                                                    type="checkbox">
                                            <label for="{{ childlink.url | md5 | slice: 0, 5 | prepend: 'id' }}"><span
                                                        class="mdp-down-icon"><i
                                                            class="fas fa-angle-down"></i></span><span
                                                        class="mdp-up-icon">{% render 'mdp-weare-icon' with '008' %}</span></label>
                                            <div class="mdp-sub-menu">
                                                {% for grandchildlink in childlink.links %}
                                                    <div class="mdp-menu-item
                                                                {% if grandchildlink.active %}mdp-active{% endif %}
                                                                {% if grandchildlink.child_active %}mdp-active-ancestor{% endif %}
                                                                {% if grandchildlink.current %}mdp-current{% endif %}
                                                                {% if grandchildlink.child_current %}mdp-current-ancestor{% endif %}">
                                                        <a href="{{ grandchildlink.url }}"
                                                            class="mdp-menu-link">{{ grandchildlink.title | escape }}</a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="mdp-menu-item
                                                    {% if childlink.active %}mdp-active{% endif %}
                                                    {% if childlink.child_active %}mdp-active-ancestor{% endif %}
                                                    {% if childlink.current %}mdp-current{% endif %}
                                                    {% if childlink.child_current %}mdp-current-ancestor{% endif %}">
                                            <a href="{{ childlink.url }}"
                                                class="mdp-menu-link">{{ childlink.title | escape }}</a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="mdp-new-menu-item
                                    {% if link.active %}mdp-active{% endif %}
                                    {% if link.child_active %}mdp-active-ancestor{% endif %}
                                    {% if link.current %}mdp-current{% endif %}
                                    {% if link.child_current %}mdp-current-ancestor{% endif %}">
                            <a href="{{ link.url }}"
                                class="mdp-menu-link">{{ link.title | escape }}</a>
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="mdp-mobile-devices-footer">

                    <div class="mdp-language-region">
                        <h3>Language & Region:</h3>
                        {% form 'localization' %}
                            <select name="country_code">
                                {% for country in localization.available_countries %}
                                    <option value="{{ country.iso_code }}" {% if country == localization.country %} selected="selected"{% endif %}>
                                        {{ country.name }} ({{ country.iso_code }})
                                        - {{ country.currency.symbol }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% endform %}

                        {% form 'localization' %}
                            <select name="language_code">
                                {% for language in localization.available_languages %}
                                    <option value="{{ language.iso_code }}" {% if language == localization.language %} selected="selected"{% endif %}>
                                        {{ language.endonym_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% endform %}
                    </div>

                    <div class="mdp-follow-us">
                        <h3>Follow Us:</h3>
                        <span class="mdp-info-list">
                            {% for block in section.blocks %}
                                {% if block.type == "mobile_icons" %}
                                    <span class="mdp-info">
                                    <a href="{{ block.settings.social_link }}"
                                        class="mdp-social-link"><i
                                                class="{{ block.settings.icon_class }}"></i></a>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </div>

                    <div class="mdp-my-account">
                        <h3>My Account:</h3>
                        <a href="/account/register" class="mdp-sign-up-devices">Sign Up</a>
                        <a href="/account" class="mdp-login-devices">Login</a>
                    </div>

                    <div class="mdp-work-time-box">
                        {% for block in section.blocks %}
                            {% if block.type == "work_time" %}
                                <span class="mdp-info-list">
                                    <span class="mdp-info mdp-work-time">
                                        <span><i class="fas fa-clock"></i> Opening time:&nbsp;</span>
                                        <span>{{ block.settings.work_time_text }}</span>
                                    </span>
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endif %}


</div>



{% comment %} CENTER {% endcomment %}
                <div class="mdp-row-center">
                    <div class="mdp-search-display mdp-search-display-block">
                        <form class="mdp-search-bar" action="/search" method="get">
                            <input type="search" name="q" placeholder="{{ 'general.search.placeholder' | t }}"
                                    value="{{ search.terms | escape }}">
                            <button type="submit" class="">{{ 'general.search.submit' | t }}</button>
                        </form>
                    </div>

                    <a href="/" class="mdp-logo">
                        {% if section.settings.use_logo_img == false %}
                            <span>{{ shop.name }}</span>
                        {% else %}
                            <img src="{{ logo }}" alt="logo">
                        {% endif %}
                    </a>

                    {% if section.settings.menu != blank %}
                        <div class="mdp-menu-element" data-mega-menu="12">

                            <div class="mdp-menu-wrapper">
                                <div class="mdp-menu-root">

                                    <div class="mdp-mobile-devices-header">
                                        <a href="/" class="mdp-logo">
                                            {% if section.settings.use_logo_img == false %}
                                                <span>{{ shop.name }}</span>
                                            {% else %}
                                                <img src="{{ logo }}" alt="logo">
                                            {% endif %}
                                        </a>
                                    </div>

                                    {% for link in linklists[section.settings.menu].links %}
                                        {% if link.links != blank %}
                                            <div class="mdp-menu-item mdp-has-children {% if link.active %}mdp-active{% endif %} {% if link.child_active %}mdp-active-ancestor{% endif %} {% if link.current %}mdp-current{% endif %} {% if link.child_current %}mdp-current-ancestor{% endif %}">
                                                <a href="{{ link.url }}" class="mdp-menu-link">
                                                    {{ link.title | escape }}
                                                    <span class="mdp-down-icon"><i class="fas fa-angle-down"></i></span>
                                                </a>
                                                <input id="{{ link.url | md5 | slice: 0, 5 | prepend: 'id' }}"
                                                       type="checkbox">
                                                <label for="{{ link.url | md5 | slice: 0, 5 | prepend: 'id' }}"><span
                                                            class="mdp-down-icon"><i
                                                                class="fas fa-angle-down"></i></span><span
                                                            class="mdp-up-icon">{% render 'mdp-weare-icon' with '008' %}</span></label>
                                                <div class="mdp-sub-menu">
                                                    {% for childlink in link.links %}
                                                        {% if childlink.links != blank %}
                                                            <div class="mdp-menu-item mdp-has-children {% if childlink.active %}mdp-active{% endif %} {% if childlink.child_active %}mdp-active-ancestor{% endif %} {% if childlink.current %}mdp-current{% endif %} {% if childlink.child_current %}mdp-current-ancestor{% endif %}">
                                                                <a href="{{ childlink.url }}" class="mdp-menu-link">
                                                                    {{ childlink.title | escape }}
                                                                    <span class="mdp-right-icon">{% render 'mdp-weare-icon' with '007' %}</span>
                                                                </a>
                                                                <input id="{{ childlink.url | md5 | slice: 0, 5 | prepend: 'id' }}"
                                                                       type="checkbox">
                                                                <label for="{{ childlink.url | md5 | slice: 0, 5 | prepend: 'id' }}"><span
                                                                            class="mdp-down-icon"><i
                                                                                class="fas fa-angle-down"></i></span><span
                                                                            class="mdp-up-icon">{% render 'mdp-weare-icon' with '008' %}</span></label>
                                                                <div class="mdp-sub-menu">
                                                                    {% for grandchildlink in childlink.links %}
                                                                        <div class="mdp-menu-item {% if grandchildlink.active %}mdp-active{% endif %} {% if grandchildlink.child_active %}mdp-active-ancestor{% endif %} {% if grandchildlink.current %}mdp-current{% endif %} {% if grandchildlink.child_current %}mdp-current-ancestor{% endif %}">
                                                                            <a href="{{ grandchildlink.url }}"
                                                                               class="mdp-menu-link">{{ grandchildlink.title | escape }}</a>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            <div class="mdp-menu-item {% if childlink.active %}mdp-active{% endif %} {% if childlink.child_active %}mdp-active-ancestor{% endif %} {% if childlink.current %}mdp-current{% endif %} {% if childlink.child_current %}mdp-current-ancestor{% endif %}">
                                                                <a href="{{ childlink.url }}"
                                                                   class="mdp-menu-link">{{ childlink.title | escape }}</a>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="mdp-menu-item {% if link.active %}mdp-active{% endif %} {% if link.child_active %}mdp-active-ancestor{% endif %} {% if link.current %}mdp-current{% endif %} {% if link.child_current %}mdp-current-ancestor{% endif %}">
                                                <a href="{{ link.url }}"
                                                   class="mdp-menu-link">{{ link.title | escape }}</a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                    <div class="mdp-mobile-devices-footer">

                                        <div class="mdp-language-region">
                                            <h3>Language & Region:</h3>
                                            {% form 'localization' %}
                                                <select name="country_code">
                                                    {% for country in localization.available_countries %}
                                                        <option value="{{ country.iso_code }}" {% if country == localization.country %} selected="selected"{% endif %}>
                                                            {{ country.name }} ({{ country.iso_code }})
                                                            - {{ country.currency.symbol }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            {% endform %}

                                            {% form 'localization' %}
                                                <select name="language_code">
                                                    {% for language in localization.available_languages %}
                                                        <option value="{{ language.iso_code }}" {% if language == localization.language %} selected="selected"{% endif %}>
                                                            {{ language.endonym_name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            {% endform %}
                                        </div>

                                        <div class="mdp-follow-us">
                                            <h3>Follow Us:</h3>
                                            <span class="mdp-info-list">
                                                {% for block in section.blocks %}
                                                    {% if block.type == "mobile_icons" %}
                                                        <span class="mdp-info">
                                                        <a href="{{ block.settings.social_link }}"
                                                           class="mdp-social-link"><i
                                                                    class="{{ block.settings.icon_class }}"></i></a>
                                                        </span>
                                                    {% endif %}
                                                {% endfor %}
                                            </span>
                                        </div>

                                        <div class="mdp-my-account">
                                            <h3>My Account:</h3>
                                            <a href="/account/register" class="mdp-sign-up-devices">Sign Up</a>
                                            <a href="/account" class="mdp-login-devices">Login</a>
                                        </div>

                                        <div class="mdp-work-time-box">
                                            {% for block in section.blocks %}
                                                {% if block.type == "work_time" %}
                                                    <span class="mdp-info-list">
                                                        <span class="mdp-info mdp-work-time">
                                                            <span><i class="fas fa-clock"></i> Opening time:&nbsp;</span>
                                                            <span>{{ block.settings.work_time_text }}</span>
                                                        </span>
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}


                    {% if section.settings.search %}
                        <div class="mdp-search-display mdp-search-display-none">
                            <form class="mdp-search-bar" action="/search" method="get">
                                <input type="search" name="q" placeholder="{{ 'general.search.placeholder' | t }}"
                                       value="{{ search.terms | escape }}">
                                <button type="submit" class="">{{ 'general.search.submit' | t }}</button>
                            </form>
                        </div>
                    {% endif %}

                </div>

                <div class="mdp-row-right">
                    {% if section.settings.search %}
                        <a href="javascript:void(0);" class="mdp-search-link"><i
                                    class="fas fa-search mdp-menu-icon"></i></a>
                    {% endif %}

                    {% if shop.customer_accounts_enabled %}
                        <a class="mdp-account" href="/account">
                            <i class="fas fa-user mdp-menu-icon"></i>
                        </a>
                    {% endif %}

                    <a class="mdp-cart" href="/cart">
                        <i class="fas fa-shopping-bag mdp-menu-icon"></i>
                        <span class="mdp-cart-count">{{ cart.item_count }}</span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<script>
    let searchLink = document.querySelector('.mdp-search-link');
    let searchBar = document.querySelector('.mdp-search-display');

    searchLink.addEventListener("click", event => {

        if (searchBar.classList[1] == 'mdp-search-display-none') {
            searchBar.classList.remove("mdp-search-display-none");
            searchBar.classList.add("mdp-search-display-block");
        } else {
            searchBar.classList.remove("mdp-search-display-block");
            searchBar.classList.add("mdp-search-display-none");
        }

    });
</script>

{% schema %}
{
  "name": "TopMenu",
  "settings": [
    {
      "type": "checkbox",
      "id": "use_logo_img",
      "label": "Use logo image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "logo_size",
      "label": "Logo size",
      "default": "50x50"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "checkbox",
      "id": "search",
      "label": "Search",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "mobile_icons",
      "name": "Social Icon - Mobile",
      "settings": [
        {
          "type": "text",
          "id": "icon_class",
          "label": "Icon Class"
        },
        {
          "type": "url",
          "id": "social_link",
          "label": "Social link"
        }
      ]
    },
    {
      "type": "work_time",
      "name": "Work time - Mobile",
      "settings": [
        {
          "type": "text",
          "id": "work_time_text",
          "label": "Work time"
        }
      ]
    }
  ]
}
{% endschema %}