{{"product-mdp-weare-1.css" | asset_url | stylesheet_tag }}
{{"prosmash-product-mdp-weare-1.css" | asset_url | stylesheet_tag }}

{% if section.settings.selected_product != blank %}
	{% assign current_product = all_products[section.settings.selected_product] %}
{% else %}
	{% assign current_product = product %}
{% endif %}

{% assign variant = current_product.selected_or_first_available_variant %}
{% assign btn_color = section.settings.button_text_color %}

<script>
  if (!('mdp' in window)) {
    window.mdp = {};
  }
  window.mdp.money_format = '{{ shop.money_format }}';
</script>

<div id="mdp-weare-{{ section.id }}"
     class="mdp mdp-container mdp-weare-single-product"
     style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
  <div class="mdp-grid mdp-product" data-columns="2" data-gap="30">
    <div class="mdp-sticky-sidebar">
      <div class="mdp-media">
        {% if section.settings.slider %}
          <div class="swiper-container mdp-swiper-container mdp-swiper-thumbs mdp-swiper-min-img">
            <div class="swiper-wrapper mdp-swiper-wrapper">
              {% for media in current_product.media %}
                <div class="swiper-slide mdp-swiper-slide">
                  <div class="mdp-placeholder"
                       style="padding-top: calc({{ section.settings.image_size | split: '_' | first | split: 'x' | last }} / {{ section.settings.image_size | split: 'x' | first }} * 100%);">
                    <img class="mdp-image lazyload"
                         src="{{ media.preview_image | img_url: section.settings.image_size }}"
                         alt="{{ media.preview_image.alt }}">
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="swiper-container mdp-product-swiper mdp-swiper-container mdp-slideshow-product-1">
            <div class="swiper-wrapper mdp-swiper-wrapper">
              {% for media in current_product.media %}
                <div class="swiper-slide mdp-swiper-slide {% if section.settings.zoom %}mdp-hover-zoom{% endif %}"
                     data-zoom="{{ media | img_url: '2000x' }}"
                     data-media-id="{{ media.id }}">
                  <div class="mdp-placeholder"
                       style="padding-top: calc({{ section.settings.image_size | split: '_' | first | split: 'x' | last }} / {{ section.settings.image_size | split: 'x' | first }} * 100%);">
                    <img class="mdp-image lazyload" data-src="{{ media | img_url: section.settings.image_size }}" alt="{{ media.alt }}">
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="mdp-swiper-button-prev swiper-button-prev-slideshow-product-1"></div>
            <div class="mdp-swiper-button-next swiper-button-next-slideshow-product-1"></div>
          </div>
        {% else %}
          <div class="mdp-placeholder"
               style="padding-top: calc({{ section.settings.image_size | split: '_' | first | split: 'x' | last }} / {{ section.settings.image_size | split: 'x' | first }} * 100%);">
            <img class="mdp-image lazyload"
                 src="{{ current_product.featured_image | img_url: section.settings.image_size }}"
                 alt="{{ current_product.featured_image.alt }}">
          </div>
        {% endif %}

        {% assign selected_variant = current_product.selected_or_first_available_variant %}

        {% if selected_variant.inventory_quantity <= 0 and selected_variant.inventory_policy == 'continue' %}
          <div class="mdp-preorder">
            {{ section.settings.pre_order_string | default: 'Pre-order' }}
          </div>
        {% elsif current_product.available %}
          {% if current_product.compare_at_price > current_product.price %}
            <div class="mdp-sale">
              {{ section.settings.sale_string }}
              {{ current_product.compare_at_price | minus: current_product.price | times: 100 | divided_by: current_product.compare_at_price }}%
            </div>
          {% elsif current_product.tags contains 'new' %}
            <div class="mdp-new">
              {{ section.settings.new_string }}
            </div>
          {% endif %}
        {% else %}
          <div class="mdp-sold-out">
            {{ section.settings.sold_out_string }}
          </div>
        {% endif %}
        <div class="trustpilot-box">
          <div class="trust-pilot-title">Reviews (Trustpilot)</div>
          <div class="review-placeholder">
            <img src="{{ 'trustpilot-placehodler.png' | asset_url }}" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="mdp-data">
      {% render 'mdp-weare-product-blocks', current_product: current_product, variant: variant, btn_color: btn_color %}
    </div>

    <script type="application/json" class="mdp-product-json">
      {{ current_product | json }}
    </script>
  </div>
</div>

<style>
  .mdp-weare-single-product > .mdp-product > .mdp-data .shopify-payment-button > div > div > div .shopify-payment-button__button {
    color: {{ btn_color }};
  }
</style>

<script>
  const swiperSlideshowThumbs = new Swiper('.mdp-swiper-min-img', {
    direction: 'vertical',
    spaceBetween: 5,
    slidesPerView: 'auto',
    loop: false,
    mousewheel: true,
    pagination: false,
    navigation: true
  });

  swiperSlideshowThumbs.init();

  const swiperSlideshowProduct1 = new Swiper('.mdp-slideshow-product-1', {
    direction: 'horizontal',
    spaceBetween: 5,
    slidesPerView: 'auto',
    loop: true,
    pagination: false,
    thumbs: {
      swiper: swiperSlideshowThumbs
    },
    navigation: {
      nextEl: '.swiper-button-next-slideshow-product-1',
      prevEl: '.swiper-button-prev-slideshow-product-1'
    }
  });

  swiperSlideshowProduct1.init();
</script>


{% schema %}
  {
    "name": "Single product 1",
	"blocks": [
      {
        "type": "title",
        "name": "Title"
      },
      {
        "type": "rating",
        "name": "Rating"
      },
      {
        "type": "price",
        "name": "Price"
      },
      {
        "type": "sku",
        "name": "SKU"
      },
      {
        "type": "metafield",
        "name": "Metafield",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name",
			"default": "Metafield 1"
          },
          {
            "type": "text",
            "id": "namespace",
            "label": "Namespace"
          },
          {
            "type": "text",
            "id": "key",
            "label": "Key"
          }
        ]
      },
      {
        "type": "payment_terms",
        "name": "Payment terms"
      },
      {
        "type": "visitors",
        "name": "Visitors",
        "settings": [
          {
             "type":      "text",
             "id":        "min",
             "label":     "Live views min",
             "default":   "20"
          },
          {
             "type":      "text",
             "id":        "max",
             "label":     "Live views max",
             "default":   "30"
          },
          {
             "type":      "text",
             "id":        "duration",
             "label":     "Live views duration (sec)",
             "default":   "10"
          },
          {
             "type":      "text",
             "id":        "text",
             "label":     "Text",
             "default":   "people are viewing this right now"
          }
        ]
      },
      {
        "type": "options",
        "name": "Options",
        "settings": [
          {
             "type":      "radio",
             "id":        "variants_group",
             "label":     "Variants group",
             "options": [
               { "value": "together", "label": "Together" },
               { "value": "separately", "label": "Separately" }
             ],
             "default":   "separately"
          }
        ]
      },
      {
        "type": "buttons",
        "name": "Buttons"
      },
      {
        "type": "dynamic_checkout",
        "name": "Dynamic checkout"
      },
      {
        "type": "availability",
        "name": "Availability"
      },
      {
        "type": "stock",
        "name": "Stock"
      },
      {
        "type": "swatches",
        "name": "Swatches"
      },
      {
        "type": "three-col",
        "name": "Three Column Options"
      },
      {
        "type": "two-col",
        "name": "Two Column Buttons"
      },
      {
        "type": "delivery-notice",
        "name": "Notice",
        "settings": [
          {
            "type": "textarea",
            "label": "Notice Description",
            "id": "notice_description",
            "default": "<p><strong>Delivery</strong></p><p>Your order gets a free standard delivery.</p><ul><li><p>Standard delivered 1-5 Business Days</p></li><li><p>Express delivered 1-2 Business Days</p></li></ul><p>Orders are processed and delivered Monday-Friday (excluding public holidays).</p>"
          },
          {
            "type": "text",
            "label": "Delivery",
            "id": "delivery_notice_title",
            "default": "Delivery"
          },
          {
            "type": "textarea",
            "label": "Delivery Description",
            "id": "delivery_notice_description"
          },
          {
            "type": "text",
            "label": "Product Description",
            "id": "product_description_title"
          },
          {
            "type": "textarea",
            "label": "Product Description Content",
            "id": "product_description_content"
          },
          {
            "type": "text",
            "label": "Product Details",
            "id": "product_details_title"
          },
          {
            "type": "textarea",
            "label": "Product Details Content",
            "id": "product_details_content"
          },
          {
            "type": "text",
            "label": "Product Advantages Title",
            "id": "product_advantages_title"
          }




        ]
      },


      {
        "type": "description",
        "name": "Description",
        "settings": [
          {
            "type": "range",
            "id": "excerpt_words",
            "label": "Excerpt words number",
            "info": "Set 0 if no need to truncate description",
            "default": 0,
            "min": 0,
            "max": 500,
            "step": 10
          },
          {
            "type": "text",
            "id": "excerpt_ellipsis",
            "label": "Excerpt ellipsis",
            "default": "..."
          }
        ]
      },
      {
        "type": "share",
        "name": "Share"
      },
      {
		"type": "@app"
      },
      {
        "type": "custom_liquid",
        "name": "Custom liquid",
        "settings": [
          {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "Custom liquid"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "product",
        "id": "selected_product",
        "label": "Product"
      },
      {
         "type": "text",
         "id": "image_size",
         "label": "Product size",
         "default": "800x800_crop_center",
         "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
      },
      {
        "type": "checkbox",
        "id": "slider",
        "label": "Images slider",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "zoom",
        "label": "Images zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "redirect",
        "label": "Redirect to cart page",
        "default": false
      },
      {
        "type": "color",
        "id": "button_text_color",
        "label": "Button text color",
        "default": "#FFFFFF"
      },
      {
		"type": "header",
		"content": "Strings"
	  },
      {
         "type": "text",
         "id": "sold_out_string",
         "label": "'Sold out' string",
         "default": "Sold out"
      },
      {
         "type": "text",
         "id": "sale_string",
         "label": "'Sale' string",
         "default": "Sale"
      },
      {
         "type": "text",
         "id": "new_string",
         "label": "'New' string",
         "default": "New"
      },
      {
         "type": "text",
         "id": "add_cart_string",
         "label": "'Add cart' string",
         "default": "Add to cart"
      },
      {
        "type": "text",
        "id": "margin_top",
        "label": "Margin top (px)"
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Margin bottom (px)"
      }
    ],
    "presets": [{
      "name": "Single product Small",
      "category": "SectionHub: weare",
      "blocks": [
        {
        "type": "title"
        },
        {
        "type": "price"
        },
        {
        "type": "payment_terms"
        },
        {
        "type": "options"
        },
        {
        "type": "buttons"
        },
        {
        "type": "dynamic_checkout"
        },
        {
        "type": "availability"
        },
        {
        "type": "description"
        },
        {
        "type": "share"
        },
        {
        "type": "stock"
        },
        { 
          "type": "swatches" 
        },
        { 
          "type": "three-col" 
        },
        { 
          "type": "two-col" 
        },
        { 
          "type": "delivery-notice" 
        }
      ]
    }]
  }
{% endschema %}