{{"promo-home-16.css" | asset_url | stylesheet_tag }}

<div id="mdp-weare-{{ section.id }}"
     class="mdp promo-home-16"
     style="background-color: {{ section.settings.bg_color }};
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
            margin-top: {{ section.settings.margin_top }}px;
            margin-bottom: {{ section.settings.margin_bottom }}px;">
    <div class="mdp-container mdp-grid" data-columns="2" data-gap="30">

      <div class="mdp-data mdp-data-vertical">
        <div class="mdp-box-text">
          <div class="mdp-header">
              {% if section.settings.subtitle != blank %}
                  <div class="mdp-subtitle">
                      {{section.settings.subtitle}}
                  </div>
              {% endif %}
              <h2 class="mdp-title">
                  {{section.settings.title}}
              </h2>
          </div>

          <div class="mdp-footer">
            {% if section.blocks.size != 0 %}

              <ul class="mdp-items">
                {% for block in section.blocks %}
                  {% if block.type == 'list' %}
                    <li class="mdp-item">
                      <span class="mdp-text-about">{{ block.settings.text }}</span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>

              {% for block in section.blocks %}
                {% if block.type == 'list_link' %}
                  <a href="{{ block.settings.link_url }}" class="mdp-link">{{ block.settings.text_link }}</a>
                {% endif %}
              {% endfor %}

            {% endif %}

            {% if section.settings.content != blank %}
                <div class="mdp-content">
                    {{section.settings.content}}
                </div>
            {% endif %}

            {% if section.settings.link != blank %}
                <a class="mdp-button"
                   href="{{section.settings.link}}"
                   style="margin-top: 20px;">{{section.settings.button_string}}</a>
            {% endif %}
          </div>
        </div>
      </div>

      {% if section.settings.image != blank %}
        <div class="mdp-media">
          <div>
            <img class="mdp-image lazyload"
                 src="{{section.settings.image | img_url : section.settings.image_size}}"
                 alt="{{section.settings.title}}" >
          </div>
        </div>
      {% endif %}

    </div>
</div>

{% schema %}
{
  "name": "Promo home 16",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Product promo"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "image_size",
      "label": "Image size",
      "default": "600x600_crop_center",
      "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
    },
    {
      "type": "text",
      "id": "button_string",
      "label": "Button text",
      "default": "Get more info"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button link"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
      "type": "text",
      "id": "padding_top",
      "label": "Padding top (px)"
    },
    {
      "type": "text",
      "id": "padding_bottom",
      "label": "Padding bottom (px)"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin top (px)"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin bottom (px)"
    }
  ],
  "blocks": [{
    "type": "list",
    "name": "List",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Item text",
        "default": "item text"
      }
    ]
  },
    {
      "type": "list_link",
      "name": "List link",
      "settings": [
        {
          "type": "text",
          "id": "icon_class_link",
          "label": "Icon Class"
        },
        {
          "type": "text",
          "id": "text_link",
          "label": "Item text",
          "default": "item text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link"
        }
      ]}
  ],
  "presets": [{
    "name": "Promo home 16",
    "category": "SectionHub: weare"
  }]
}
{% endschema %}