{{"mdp-weare-password-1.css" | asset_url | stylesheet_tag }}

<section id="coming-soon-1" style="
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 25.44%, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.00) 100%), url({{ section.settings.image | image_url }});
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
">
  <div class="mdp-container">
    <div class="custom-container">
      <div class="col-left">
        <div class="site-logo">
          <img src="{{ section.settings.logo |  image_url }}" alt="" srcset="">
        </div>
        <div class="main-header">{{ section.settings.title }}</div>
      </div>
      <div class="col-right">
        <div class="form-container">
          <div class="sub-header">{{ section.settings.subtitle }}</div>
          <div class="mdp-signup-form">
            {% form "customer" %}
              {{ form.errors | default_errors }}
              <div class="mdp-row">
                <input  type="email" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" name="contact[email]"/>
                <button type="submit" class="mdp-submit">
                  {{ 'general.newsletter_form.submit' | t }}
                </button>    
              </div>
            {% endform %}    
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>

<style>
  #coming-soon-1 {
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
  }
  #coming-soon-1 .mdp-container {
    padding-bottom: 80px;
  }
  #coming-soon-1 .custom-container {
    display: inline-flex;
    min-height: 100vh;
    /* padding: 475px 80px 80px 80px; */
    justify-content: center;
    align-items: flex-end;
    gap: 240px;
  }
  #coming-soon-1 .site-logo {
    max-width: 290px;
    height: 32px;
    aspect-ratio: 145/16;
  }
  #coming-soon-1 .site-logo img {
    width: 100%;
    height: 100%;
  }
  #coming-soon-1 .custom-container .col-left {
    display: flex;
    /* width: 600px; */
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  #coming-soon-1 .custom-container .col-right {
    display: flex;
    /* width: 440px; */
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  #coming-soon-1 .main-header {
    color: var(--Primary-White, #FFF);
    font-family: Lexend;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
  }
  #coming-soon-1 .col-right .sub-header {
    color: var(--Primary-White, #FFF);
    font-family: "Red Hat Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .form-container {
    display: flex;
    width: 440px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}


.mdp-signup-form .mdp-row {
    display: flex;
    height: 48px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.mdp-signup-form .mdp-row input {
    display: flex;
    padding: 14.5px 16px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border: none;
    background: transparent;
    border: 1px solid var(--Primary-White, #FFF);
}
.mdp-signup-form .mdp-row button {
    display: flex;
    height: 48px;
    padding: 14px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--Secondary-1-Dark-Moss-Green, #42662B);
    color: var(--Primary-White, #FFF);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
    text-transform: uppercase;
    border: none;
}
</style>

{% schema %}
  {
    "name": "Prosmash Coming Soon 1",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "The Biggest Sportswear Brand Is Almost Here!"
      },
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
		"default": "Be the first to know when we launch."
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "checkbox",
        "id": "inverted",
        "label": "Inverted",
        "default": false
      },
      {
        "type": "url",
        "id": "facebook_link",
        "label": "Facebook link"
      },
      {
        "type": "url",
        "id": "twitter_link",
        "label": "Twitter link"
      },
      {
        "type": "url",
        "id": "instagram_link",
        "label": "Instagram link"
      },
      {
        "type": "url",
        "id": "youtobe_link",
        "label": "Youtobe link"
      },
      {
        "type": "url",
        "id": "pinterest_link",
        "label": "Pinterest link"
      }
	]
  }
{% endschema %}