<section class="new-products">
  <div class="mdp-container">
    <div class="col-left">
      <h2>New In</h2>
    </div>

    <div class="col-right">
      <div class="product-grid">
        {% for product in collections['new-arrivals'].products %}
          <div class="product-card">
            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | image_url: width: 400 }}" alt="{{ product.title }}">
              <h3>{{ product.title }}</h3>
              <p>{{ product.price | money }}</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
