<section class="featured">
  <div class="mdp-container">
    <div class="heading-container">
      <h3>FEATURED PRODUCTS</h3>
    </div>
    <div class="featured-products">
      {% for product in collections['featured'].products %}
          <div class="featured-card">
            <a href="{{ product.url }}">
              <div class="card-img">
                  <div class="canvas" style="
                      background-image: url('{{ product.featured_image | image_url: width: 304 }}');
                      background-color: #F0F0F0;
                      background-size: cover;
                      background-position: center;
                      width: 304px;
                      height: 320px;">
                  </div>
                {% comment %} <img src="{{ product.featured_image | image_url: width: 400 }}" alt="{{ product.title }}"> {% endcomment %}
              </div>
              <div class="card-content">
                <div class="card-title">{{ product.title }}</div>
                <div class="card-price">{{ product.price | money }}</div>
              </div>
            </a>
          </div>
        {% endfor %}

        <div class="cta-btn">
          <a href="#">SHOP NOW</a>
        </div>
    </div>
  </div>
</section>




{% schema %}
{
  "name": "Prosmash HP Featured",
  "settings": [
    
  ],
  "presets": [{
    "name": "Prosmash HP Featured",
    "category": "Prosmash"
  }]
}
{% endschema %}