{{ "prosmash-global.css" | asset_url | stylesheet_tag }}
{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}
<script src="{{ 'slick.min.js' | asset_url }}" defer></script>
{{ "prosmash-hp-banner.js" |  asset_url |  script_tag }}

<section class="prosmash-player-kit">
  <div class="mdp-container">
    <div class="heading-container">
      <h3>Pro Player Kits</h3>
      <p>Shop and complete the look of your favorite padel players.</p>
    </div>
    <div class="player-kit-cards-container">
      {% for block in section.blocks %}
        {% if block.type == 'card' %}
          <div class="player-kit-card">
            <div class="card-featured-image">
              <img src="{{ block.settings.player_image | image_url }}" alt="">
            </div>

            <div class="card-content">
              <div class="player-title">{{ block.settings.first_name }} {{ block.settings.last_name }}</div>
              <div class="text">Brands that {{ block.settings.first_name }} wears:</div>
              <div class="brands">
                {% if block.settings.brand_logo_1 %}
                  <img src="{{ block.settings.brand_logo_1 | image_url: width: 100 }}" alt="Brand Logo 1">
                {% endif %}
                {% if block.settings.brand_logo_2 %}
                  | <img src="{{ block.settings.brand_logo_2 | image_url: width: 100 }}" alt="Brand Logo 2">
                {% endif %}
                {% if block.settings.brand_logo_3 %}
                  | <img src="{{ block.settings.brand_logo_3 | image_url: width: 100 }}" alt="Brand Logo 3">
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "HP Pro Player Kit",
  "settings": [],
  "blocks": [
    {
      "type": "card",
      "name": "Player Kit Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "player_image",
          "label": "Player Image"
        },
        {
          "type": "text",
          "id": "first_name",
          "label": "First Name"
        },
        {
          "type": "text",
          "id": "last_name",
          "label": "Last Name"
        },
        {
          "type": "image_picker",
          "id": "brand_logo_1",
          "label": "Brand Logo 1"
        },
        {
          "type": "image_picker",
          "id": "brand_logo_2",
          "label": "Brand Logo 2"
        },
        {
          "type": "image_picker",
          "id": "brand_logo_3",
          "label": "Brand Logo 3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Pro Player Kit Carousel",
      "category": "Prosmash"
    }
  ]
}
{% endschema %}

<style>
  .prosmash-player-kit {
    padding: 60px 64px;
  }
  .prosmash-player-kit .heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.prosmash-player-kit .heading-container h3,
.prosmash-player-kit .heading-container p {
    margin: 0;
    padding: 0;
}
.prosmash-player-kit .heading-container h3 {
    color: #000;
    text-align: center;
    font-family: Lexend;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    text-transform: uppercase;
}

/* .prosmash-player-kit .player-kit-cards-container {
    height: auto;
    display: block;
} */
.prosmash-player-kit .player-kit-card {
    width: 269px;
    height: 100%;
    /* margin-right: 79px; */
    box-sizing: border-box;
    padding-top: 100px
}
.prosmash-player-kit .slick-track {
  display: flex !important;
}
.prosmash-player-kit .slick-slide {
  float: none;
  display: flex !important;
  flex-direction: column;
  height: auto;
  padding: 0 40px; /* 40px left & right creates an 80px gap between slides */
}

.prosmash-player-kit .slick-slide:last-child {
  margin-right: 0;
}
.prosmash-player-kit .card-content {
    display: flex;
    padding: 24px 24px 40px 24px;
    flex-direction: column;
    align-items: flex-start;
    border-top: 8px solid var(--Secondary-1-Forest-Shade, #819972);
    background: var(--Secondary-1-Dark-Moss-Green, #42662B);
    position: relative;
    z-index: 1;
    flex: 1;
}
.prosmash-player-kit .card-content .player-title {
    color: var(--Primary-White, #FFF);
    font-family: Lexend;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.prosmash-player-kit .card-content .text {
    color: var(--Primary-White, #FFF);
    font-family: "Red Hat Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.prosmash-player-kit .card-content .brands {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: white;
}
.prosmash-player-kit .card-content .brands img {
    width: 60px;
    height: 12px;
    aspect-ratio: 58.50/12.00;
    object-fit: contain;
    /* filter: invert(1); */
}
.player-kit-cards-container .slick-arrow {
    z-index: 2;
}

.prosmash-player-kit .player-kit-card .card-featured-image {
    height: 273px;
    width: 100%;
    background: #42662B;
    margin-top: 100px;
}
.prosmash-player-kit .player-kit-card .card-featured-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.3);
    object-position: center;
}
.prosmash-player-kit .slick-arrow img {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}
.prosmash-player-kit .slick-arrow.slick-prev {
    width: 48px;
    height: 48px;
    left: 20px;
}
.prosmash-player-kit .slick-arrow.slick-next {
    width: 48px;
    height: 48px;
    right: 20px;
}
</style>

<script>
  $(document).ready(function () { 

   $('.player-kit-cards-container').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      infinite: true,
      centerMode: true,
      centerPadding: '0px',
      arrows: true,
      dots: false,
      prevArrow: '<button type="button" class="slick-prev"><img src="{{ "btn-prev.svg" | asset_url }}" alt="Previous"></button>',
      nextArrow: '<button type="button" class="slick-next"><img src="{{ "btn-next.svg" | asset_url }}" alt="Next"></button>',
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1
          }
        }
      ]
    });
  });

  
</script>