<section id="video-text-section" style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
  <div class="mdp-container">
    <div class="heading-container">
      <h3>{{ section.settings.main_heading }}</h3>
      <p>{{ section.settings.description }}</p>
    </div>
  </div>
  <div class="mdp-full" style="background:
         url('{% if section.settings.bg_image %}{{ section.settings.bg_image | image_url }}{% else %}{{ 'video-bg.jpg' | asset_url }}{% endif %}')
         lightgray 50% / cover no-repeat;">
    <div class="prosmash-video-section" style="position: relative; text-align: center;">
      {% if section.settings.video_url != blank %}
        <a class="mdp-magnific-popup" href="{{ section.settings.video_url }}">
           <div class="play-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="101" height="101" viewBox="0 0 101 101" fill="none">
                <path d="M42.3441 39.6629C41.0109 38.9179 39.3684 39.8816 39.3684 41.4087V60.5913C39.3684 62.1184 41.0109 63.0821 42.3441 62.3371L59.5073 52.7459C60.8732 51.9826 60.8732 50.0174 59.5073 49.2541L42.3441 39.6629Z" fill="black"/>
            </svg>
           </div>
        </a>
      {% elsif section.settings.video_file != blank %}
        <a class="mdp-magnific-popup" href="{{ section.settings.video_file }}">
          <i class="fas fa-play mdp-icon-play"></i>
        </a>
      {% endif %}
    </div>
  </div>
</section>



<style>
    #video-text-section {
        padding-top: 60px;
    }
    #video-text-section .heading-container h3 {
        text-align: center;
        margin: 0;
        font-family: var(--font-lexend);
        font-weight: 700;
        color: var(--black);
        line-height: 120%;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
    #video-text-section .heading-container p {
        margin: 0;
        padding: 0;
        font-family: var(--font-redhat);
        line-height: 150%;
        font-weight: 500;
        text-align: center;
    }
    #video-text-section .mdp-full {
        display: flex;
        padding: 165px 64px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
        margin-top: 56px;
    }
    .play-btn {
        display: flex;
        padding: 12px 7px 11px 16px;
        justify-content: flex-end;
        align-items: center;
        aspect-ratio: 1 / 1;
        border-radius: 999px;
        background: var(--Primary-White, #FFF);
    }
    .play-btn::after {
        content: "";
        border-color: white;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        /* background-color: rgba(255, 255, 255, 0.2); */
        background-color: rgba(66, 102, 43, 0.2);
        top: 0;
        left: 0;
        opacity: 1;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-duration: 1.2s;
        animation-name: mdp_video_scale;
        animation-iteration-count: infinite;
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
    }
    @media (max-width: 767px) {
        #video-text-section {
            padding-top: 25px;
        }
        #video-text-section .mdp-full {
            padding: 60px 15px;
            margin-top: 30px;
        }
    }
</style>


<script>
    $(document).ready(function() {
        $('.mdp-magnific-popup').magnificPopup({
            type: 'iframe',
            iframe: {
            markup: '<div class="mfp-iframe-scaler">'+
                    '<div class="mfp-close"></div>'+
                    '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
                    '</div>',
            patterns: {
                youtube: {
                index: 'youtube.com/',
                id: 'v=',
                src: '//www.youtube.com/embed/%id%?autoplay=1'
                },
                vimeo: {
                index: 'vimeo.com/',
                id: '/',
                src: '//player.vimeo.com/video/%id%?autoplay=1'
                },
                // Custom pattern for local video files
                local: {
                index: '', // No domain necessary
                src: '%id%'
                }
            },
            srcAction: 'iframe_src',
            }
        });

        $('.mdp-magnific-popup').magnificPopup({
            type: 'inline',
            callbacks: {
                elementParse: function(item) {
                if (item.src.match(/\.(mp4|webm|ogg)$/)) {
                    item.type = 'inline';
                    item.src = '<div class="mfp-video-wrapper"><video controls autoplay style="width:100%;"><source src="' + item.src + '" type="video/mp4"></video></div>';
                } else {
                    item.type = 'iframe'; // YouTube or Vimeo
                }
                }
            }
        });

    });

</script>


{% schema %}
  {
    "name": "Prosmash Video with Text",
    "settings": [
        {
            "type": "text",
            "label": "Main Heading",
            "id": "main_heading",
            "default": "Padel is love"
        },
        {
            "type": "textarea",
            "label": "Description",
            "id": "description",
            "default": "Where passion meets play — unite, compete, and fall in love with the game."
        },	  	       
      {
        "id": "video_url",
        "type": "video_url",
        "label": "Video URL",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      },
      {
        "type": "url",
        "id": "video_file",
        "label": "Local Video File (MP4)"
    },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      
	 
	  {
        "type": "text",
        "id": "video_header",
        "label": "Video header"
      },
	  {
        "type": "text",
        "id": "video_view_more",
        "label": "Video view more"
      },
      {
        "type": "url",
        "id": "view_more_link",
        "label": "View more link"
 	  }
      
    ],	
    "presets": [{
      "name": "Prosmash Video with Text",
      "category": "Prosmash"
    }]
  }
{% endschema %}