<section class="new-products">
  <div class="mdp-container">
    <div class="col-left">
      <div class="heading-container">
        <h2>{{ section.settings.main_heading }}</h2>
        <div class="cta-btn">
          <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
        </div>
      </div>
    </div>

    <div class="col-right">
      <div class="product-grid">
        {% if section.settings.collection %}
          {% for product in section.settings.collection.products %}
            <div class="product-card">
              <a href="{{ product.url }}">
                <div class="prod-img">
                  <div class="img-container">
                    <div class="canvas" style="
                        background-image: url('{{ product.featured_image | image_url: width: 246 }}');
                        background-color: #F0F0F0;
                        background-size: cover;
                        background-position: center;
                        width: 246px;
                        height: 304px;">
                    </div>
                  </div>
                  <div class="mdp-add-to-cart mdp-available add-cart-btn"
                    data-product-id="{{ product.variants.first.id }}"
                    data-add-to-cart="Add to cart"
                    data-sold-out="Sold out">
                    Add to cart
                  </div>
                </div>
                <div class="prod-details">
                  {% assign brand = product.metafields.custom.brands.value %}
                  <div class="brand">
                    {% if brand %}
                      {{ brand.name }}
                    {% else %}
                      No brand
                    {% endif %}
                  </div>
                  <div class="prod-title">{{ product.title | truncate: 25 }}</div>
                  <div class="prod-price">{{ product.price | money }}</div>
                  
                </div>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p>No collection selected.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Prosmash HP New In Store",
  "settings": [
    {
      "type": "text",
      "label": "Main Heading",
      "id": "main_heading",
      "default": "New In"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "button_text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "label": "Button Link",
      "id": "button_link"
    },
    {
      "type": "collection",
      "label": "Collection to Display",
      "id": "collection"
    }
  ],
  "presets": [
    {
      "name": "Prosmash HP New In Store",
      "category": "Prosmash"
    }
  ]
}
{% endschema %}
