{{ "prosmash-hp-banner.css" | asset_url | stylesheet_tag }}
{{ "prosmash-global.css" | asset_url | stylesheet_tag }}
{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}
<script src="{{ 'slick.min.js' | asset_url }}" defer></script>
{{ "prosmash-hp-banner.js" |  asset_url |  script_tag }}



<section class="hp-banner">
    <div class="mdp-container">
        <div class="mdp-col mdp-row-full">
            
                <div class="heading-content">
                    <h1>{{ section.settings.section_main_header }}</h1>
                    <div class="cta-btn">
                        <a href="{{ section.settings.cta_link }}">{{ section.settings.cta_title }}</a>
                    </div>
                </div>
            <div class="custom-dots"></div>
         
        </div>
    </div>

    <div class="bg-slider">
        {% for block in section.blocks %}
        {% assign image = block.settings.slide_image %}
            {% if image != blank %}
                <div class="slide {{ block.settings.slide_class }}">
                <div class="img-holder" style="background-image: url('{{ image | image_url: width: 1600 }}')"></div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
</section>


{% schema %}
{
  "name": "Prosmash HP Banner",
  "settings": [
    {
      "type": "textarea",
      "id": "section_main_header",
      "label": "Section Main Header",
      "info": "You can put <br> for line breaks."
    },
    {
      "type": "text",
      "id": "cta_title",
      "label": "Shop Now Text"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "Shop Now link"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "slide_class",
          "label": "Slide Class",
          "info": "You can use 'white' class for the white headings and button."
        }
      ]
    }
  ],
  "presets": [{
    "name": "Prosmash HP Banner",
    "category": "Prosmash"
  }]
}
{% endschema %}