{{ "prosmash-global.css" | asset_url | stylesheet_tag }}
{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}
<script src="{{ 'slick.min.js' | asset_url }}" defer></script>
{{ "prosmash-hp-banner.js" |  asset_url |  script_tag }}

<section class="prosmash-player-kit">
  <div class="mdp-container">
    <div class="heading-container">
      <h3>Pro Player Kits</h3>
      <p>Shop and complete the look of your favorite padel players.</p>
    </div>
    <div class="player-kit-cards-container">
      {% for collection in section.settings.player_collections %}
        {% render 'pro-player-card', collection: collection %}
      {% endfor %}
    </div>

  </div>
</section>

{% schema %}
{
  "name": "HP Pro Player Kit",
  "settings": [
    {
      "type": "collection_list",
      "id": "player_collections",
      "label": "Player Collections",
      "limit": 30
    }
  ],
  "presets": [
    {
      "name": "Pro Player Kit Carousel",
      "category": "Prosmash"
    }
  ]
}
{% endschema %}

<style>
  .prosmash-player-kit {
    padding: 60px 64px;
  }
  .prosmash-player-kit .heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}
.prosmash-player-kit .heading-container h3,
.prosmash-player-kit .heading-container p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.prosmash-player-kit .heading-container h3 {
    color: #000;
    text-align: center;
    font-family: var(--font-body-family);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; 
    text-transform: uppercase;
}
.prosmash-player-kit .heading-container p {
    font-weight: 500;
}


.prosmash-player-kit .slick-track {
  display: flex !important;
}
.prosmash-player-kit .slick-slide {
  float: none;
  display: flex !important;
  overflow: hidden;
  flex-direction: column;
  height: auto;
  margin: 0 32px;
}
.prosmash-player-kit .slick-list {
    margin-left: -32x;
    margin-right: -32px;
}

.prosmash-player-kit .slick-slide:last-child {
  margin-right: 0;
}


.player-kit-cards-container .slick-arrow {
    z-index: 2;
}



.prosmash-player-kit .slick-arrow img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
 .prosmash-player-kit .slick-next {
    right: -10px;
 }
 .prosmash-player-kit .slick-prev {
    left: -10px;
 }
@media (max-width: 767px) {
  .prosmash-player-kit {
    padding: 60px 15px;
  }
  .prosmash-player-kit .player-card .card-featured-image {
        aspect-ratio: 1/1;
        text-align: center;
  }
  .prosmash-player-kit .slick-slide {
    margin: 0 25px;
  }
  .prosmash-player-kit .player-card .card-featured-image img {
      margin: 0 auto;
  }
  .prosmash-player-kit .player-kit-card .card-featured-image {
    margin-top: 60px;
  }
  .prosmash-player-kit .heading-container {
    margin-bottom: 25px;
  }
  .prosmash-player-kit .slick-list {
    margin: 0;
  }
  .card-featured-image {
    margin-top: 0;
  }
}
</style>

<script>
  $(document).ready(function () { 

   $('.player-kit-cards-container').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      infinite: true,
      centerMode: true,
      centerMode: false,
      centerPadding: '0px',
      arrows: true,
      dots: false,
      prevArrow: '<button type="button" class="slick-prev"><img src="{{ "btn-prev.svg" | asset_url }}" alt="Previous"></button>',
      nextArrow: '<button type="button" class="slick-next"><img src="{{ "btn-next.svg" | asset_url }}" alt="Next"></button>',
      responsive: [
        {
          breakpoint: 1201,
          settings: {
            slidesToShow: 3
          }
        },
        {
          breakpoint: 1025,
          settings: {
            slidesToShow: 2
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 2
          }
        },
        {
          breakpoint: 481,
          settings: {
            slidesToShow: 1
          }
        }
      ]
    });
  });

  
</script>