<section class="prosmash-collection-grid">
  <div class="mdp-container">
    <div class="filter-section">
      <div class="custom-container">
        <div class="col-left">
            <div class="collection-title">{{ collection.title }} ({{ collection.products_count }})</div>
        </div>
        <div class="col-right">
          <div class="filter-container">
                {% render 'faceted-filter' %}
            {% comment %} <div class="filter">
              <div class="label-group"><img src="{{ 'FunnelSimple.svg' | asset_url }}" alt="Fiter Icon"><label for="SortBy" class="visually-hidden">Filter: </label></div>
              {% render 'faceted-filter' %}
            </div> {% endcomment %}


            {% comment %} <div class="sort">
              <div class="label-group"><img src="{{ 'sort.svg' | asset_url }}" alt="Sort Icon"><label for="SortBy" class="visually-hidden">Sort by: </label></div>
              {% if collection.sort_options.size > 1 %}
                  <form method="get" class="collection-sort-form" id="SortByForm">
                      <select name="sort_by" id="SortBy" onchange="this.form.submit()">
                      {% for option in collection.sort_options %}
                          <option value="{{ option.value }}" {% if option.value == collection.sort_by %}selected{% endif %}>
                          {{ option.name }}
                          </option>
                      {% endfor %}
                      </select>
                  </form>
              {% endif %}
            </div> {% endcomment %}
            
          </div>
        </div>
      </div>
    </div>
    <div class="collection-grid">
      {% for product in collection.products %}
        {% render 'prosmash-product-card', product: product %}
      {% endfor %}
    </div>
  </div>
</section>

<style>
  .filter-section .custom-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
  }
  .filter-section .collection-title {
      font-family: var(--font-lexend);
      font-size: 24px;
      font-weight: 500;
      line-height: 130%;
      color: var(--black);
  }

  .filter-section .custom-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.filter-section .collection-title {
    font-family: var(--font-lexend);
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    color: var(--black);
}

.filter-section .filter-container {
    font-family: var(--font-lexend);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--black);
    padding: 16px;
}
.filter-section .filter-container select {
    font-family: var(--font-lexend);
    font-size: 16px;
    border: none;
    outline: none;
    background: var(--white);
    padding: 8px;
    background: white;
}
.filter-section .filter-container select:hover {
    background-color: #D9E0D5;
}
.filter-section .filter-container .sort {
    display: flex;
    gap: 16px;
}
.filter-section .filter-container .sort .label-group {
    display: flex;
    gap: 8px;
    align-items: center;
}

.filter-section .filter-container {
    display: flex;
    align-items: center;
    gap: 24px;
}
.filter-section .filter-container .filter {
    display: flex;
    align-items: center;
}




/* PROD GRID */
.collection-grid {
    display: flex;
    gap: 40px;
    padding: 0 0 80px;
    flex-wrap: wrap;
}
.main-img {
    /* max-width: 298px;
    max-height: 300px; */
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
    background: var(--white);
    margin-bottom: -30px;
}
.main-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.product-thumbnails {
    display: flex;
    justify-content: center;
    max-width: 232px;
    width: 100%;
    margin: 0 auto;
    background: #F9F9F9;
    z-index: 2;
    position: relative;
    gap: 8px;
    padding: 8px;
}
.thumbnail-container {
    background: white;
    max-width: 48px;
    height: 48px;
    cursor: pointer;
}
.thumbnail-container img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.collection-grid .gallery-container {
    margin-bottom: -30px;
}
.collection-grid .product-details {
    padding: 50px 20px 20px;
    
}
.collection-grid .prod-title {
    font-family: var(--font-lexend);
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    color: var(--black);
}
.collection-grid-item {
    position: relative;
    border: 1px solid var(--white);
    transition: 0.3s;
    background: #F9F9F9;
    width: calc((100% / 4) - 40px);
}
.collection-grid-item:hover {
    border: 1px solid var(--green);
}

.prod-price {
    font-size: 24px;
    font-family: var(--font-lexend);
    line-height: 120%;
    font-weight: 700;
    padding: 4px 0 8px;
}
.short-description {
    font-family: var(--font-redhat);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: var(--text);
}
.infos {
    font-family: var(--font-redhat);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: var(--text);
    gap: 15px;
}
.infos p {
    font-family: var(--font-redhat);
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: var(--text);
}

.product-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    margin-top:20px;
}
.product-buttons btn {
    display: inline-block;
    width: 100%;
}
.product-buttons a {
    text-decoration: none;
    text-align: center;
    padding: 16px 20px;
    background: transparent;
    font-family: var(--font-lexend);
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
    line-height: 100%;
    text-transform: uppercase;
}
.product-buttons .add-cart-btn {
    font-size: 16px;
    font-family: var(--font-lexend);
    padding: 16px 20px;
    border-radius: 0;
    border: none;
    background: var(--green);
    color: white;
    text-transform: uppercase;
    width: auto;
    text-align: center;
    cursor: pointer;
}
.thumbnail-container.active {
  border-bottom: 2px solid var(--green);
}

.limited-edition {
    font-family: var(--font-lexend);
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    color: var(--white);
    padding: 4px 8px;
    background: var(--black);
    position: absolute;
    top: 20px;
    left: 20px;
    
}
.view-btn {
    transition: 0.3s;
}
.view-btn:hover {
    background: #D9E0D5;
}
.product-buttons .add-cart-btn {
  transition: 0.3s;
}
.product-buttons .add-cart-btn:hover {
  background: #607F4C; 
}

@media (max-width: 1200px) {
    .collection-grid .collection-grid-item {
        width: calc((100% / 3) - 40px);
    } 
}
@media (max-width: 1024px) {
    .product-thumbnails {
        max-width: 100%;
        width: auto;
        margin: 0 20px;
    }
    .thumbnail-container {
        max-width: 35px;
        height: 35px;
    }
    .thumbnail-container img {
        width: 35px;
        height: 35px;
    }
}


@media (max-width: 767px) {
    .collection-grid {
        justify-content: center;
        align-items: center;
    }
   .collection-grid .collection-grid-item {
        width: calc((100% / 2) - 40px);
    } 
    .filter-section .custom-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 480px) {
     .collection-grid .collection-grid-item {
       width: 100%;
    } 
    .main-img {
        max-height: 100%;
        height: 100%;
    }
    .main-img img {
        height: 100%;
        width: 100%;
    }
}

</style>


<script>
  $(document).ready(function () {
    $('.collection-grid-item').each(function () {
      $(this).find('.thumbnail-container').first().addClass('active');
    });
    $('.thumbnail-img').on('click', function () {
      var newSrc = $(this).data('full');

      // Find this product's container
      var productContainer = $(this).closest('.collection-grid-item');

      // Update the main image
      productContainer.find('.main-product-image').attr('src', newSrc);

      // Remove 'active' from all thumbnail-containers in this product
      productContainer.find('.thumbnail-container').removeClass('active');

      // Add 'active' to the clicked thumbnail's container
      $(this).closest('.thumbnail-container').addClass('active');
    });
  });
</script>

{% schema %}
  {
    "name": "Collection Grid",
    "settings": [

    ],	
    "presets": [{
      "name": "Prosmash Collection Grid",
      "category": "Prosmash: Collection"
    }]
  }
{% endschema %}