{{ "prosmash-global.css" | asset_url | stylesheet_tag }}

<section class="blogs">
  <div class="mdp-container">
    <div class="blogs-container">
      {% assign latest_posts = blogs.news.articles | slice: 0, 3 %}
      {% for article in latest_posts %}
        <div class="blog-item">
          <a href="{{ article.url }}">
            <div class="card-img">
              <div class="canvas" style="
                  background-image: url('{{ article.image | image_url: width: 416 }}');
                  background-color: #F0F0F0;
                  background-size: cover;
                  background-position: center;
                  ">
              </div>
            </div>
            <div class="card-content">
              <div class="date">{{ article.published_at | date: "%B %d, %Y" }}</div>
              <div class="title">{{ article.title }}</div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>



{% schema %}
{
  "name": "Prosmash HP Blog Section",
  "settings": [
   
  ],
  "presets": [{
    "name": "Prosmash HP Blog Section",
    "category": "Prosmash"
  }]
}
{% endschema %}