

<section class="get-in-touch">
    <div class="mdp-container full-width">
        <div class="col-left">
          <img 
              src="{{ section.settings.contact_image | img_url: '3000x' }}" 
              alt="Contact Us Banner"
              width="720"
              height="400"
            >
        </div>
        <div class="col-right">
            <div class="git-details">
                <div class="git-heading">{{ section.settings.contact_heading | default: 'Get In Touch' }}</div>
                <div class="icons-container">
                    {% if section.settings.phone_number != blank %}
                    <div class="icon-list-item">
                        <a href="tel:{{ section.settings.phone_number | handleize }}">
                            <img src="{{ 'Phone.svg' | asset_url }}" alt="phone" width="24" height="24">
                            <span>{{ section.settings.phone_number }}</span>
                        </a>
                    </div>
                    {% endif %}
                    {% if section.settings.mobile_number != blank %}
                    <div class="icon-list-item">
                        <a href="tel:{{ section.settings.mobile_number | handleize }}">
                            <img src="{{ 'DeviceMobile.svg' | asset_url }}" alt="device" width="24" height="24">
                            <span>{{ section.settings.mobile_number }}</span>
                        </a>
                    </div>
                    {% endif %}
                    {% if section.settings.email_address != blank %}
                    <div class="icon-list-item">
                        <a href="mailto:{{ section.settings.email_address }}">
                            <img src="{{ 'EnvelopeSimple.svg' | asset_url }}" alt="email" width="24" height="24">
                            <span>{{ section.settings.email_address }}</span>
                        </a>
                    </div>
                    {% endif %}
                    {% if section.settings.address != blank %}
                    <div class="icon-list-item">
                        <a href="{{ section.settings.address_link | default: '#' }}" target="_blank">
                            <img src="{{ 'MapPin.svg' | asset_url }}" alt="map" width="24" height="24">
                            <span>{{ section.settings.address }}</span>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<style>
.get-in-touch .mdp-container.full-width {
    max-width: 100%;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    align-self: stretch;
}
.mdp-container.full-width .col-left {
    width: 50%;
    height: 400px;
}

.mdp-container.full-width .col-right {
  width: calc(50% - 100px);
}

.mdp-container.full-width .col-left{
  
}
.get-in-touch .col-right .git-details {
    display: flex;
    padding-left: 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    box-sizing: border-box;
}
.get-in-touch .col-right .git-details .git-heading {
    align-self: stretch;
    color: var(--black);
    font-family: var(--font-body-family);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
}
.get-in-touch .col-right .icons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.icon-list-item svg {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
}
.icon-list-item span {
    color: var(--black);
    font-family: var(--font-body-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.get-in-touch .col-right .icon-list-item a {
    display: flex;
    align-items: start;
    gap: 12px;
    text-decoration: none;
}

.mdp-container.full-width .col-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 991px) {
    .mdp-container.full-width {
        flex-direction: column;
    }
    .mdp-container.full-width .col-left,
    .mdp-container.full-width .col-right {
        width: 100%;
    }
    .get-in-touch .col-right .git-details {
        padding: 32px 24px;
        align-items: center;
        text-align: center;
    }
}
</style>

{% schema %}
{
  "name": "Image with Get In Touch",
  "settings": [
    {
      "type": "image_picker",
      "id": "contact_image",
      "label": "Background Image"
    }, 
    {
      "type": "text",
      "id": "contact_heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone Number",
      "default": "(632) 8284 8789"
    },
    {
      "type": "text",
      "id": "mobile_number",
      "label": "Mobile Number",
      "default": "(63) 917 899 1111"
    },
    {
      "type": "text",
      "id": "email_address",
      "label": "Email Address",
      "default": "hello@prosmash.com"
    },
    {
      "type": "text",
      "id": "address",
      "label": "Address",
      "default": "Unit 707 One Park Drive, 11th Drive corner 9th Avenue Bonifacio Global City, Taguig 1634"
    },
    {
      "type": "url",
      "id": "address_link",
      "label": "Address Link (Google Maps URL)"
    }
  ],
  "presets": [
    {
      "name": "Image with Get In Touch",
      "category": "Prosmash: Contact Us"
    }
  ]
}
{% endschema %}
