{{ "prosmash-hp-featured.css" | asset_url | stylesheet_tag }}

<section class="featured">
  <div class="mdp-container">
    <h2>FEATURED PRODUCTS</h2>

    <div class="featured-products">
      {% for product in collections['featured'].products %}
          <div class="featured-card">
            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | image_url: width: 400 }}" alt="{{ product.title }}">
              <h3>{{ product.title }}</h3>
              <p>{{ product.price | money }}</p>
            </a>
          </div>
        {% endfor %}
    </div>

    <div class="cta-btn">
      <a href="#">SHOP NOW</a>
    </div>
  </div>
</section>




{% schema %}
{
  "name": "Prosmash HP Featured",
  "settings": [
    
  ],
  "presets": [{
    "name": "Prosmash HP Featured",
    "category": "Prosmash"
  }]
}
{% endschema %}