{{ "prosmash-hp-newin.css" | asset_url | stylesheet_tag }}
{{ "prosmash-global.css" | asset_url | stylesheet_tag }}


<section class="new-products">
  <div class="mdp-container">
    <div class="col-left">
      <h2>New In</h2>
      <div class="cta-btn">
        <a href="#">SHOP NOW</a>
      </div>
    </div>

    <div class="col-right">
      <div class="product-grid">
        {% for product in collections['new-arrivals'].products %}
          <div class="product-card">
            <a href="{{ product.url }}">
              <div class="prod-img">
                <img src="{{ product.featured_image | image_url: width: 400 }}" alt="{{ product.title }}">
              </div>
              <div class="prod-details">
                <div class="prod-title">{{ product.title |  truncate: 25 }}</div>
                <div class="prod-price">{{ product.price | money }}</div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Prosmash HP New In Store",
  "settings": [
    
  ],
  "presets": [{
    "name": "Prosmash HP New In Store",
    "category": "Prosmash"
  }]
}
{% endschema %}