

<section class="get-in-touch">
    <div class="mdp-container full-width">
        <div class="col-left">
            <div class="img-container">
                <div class="canvas" 
                    style="background-image: url('{{ section.settings.contact_image | image_url }}'); 
                            background-size: cover; 
                            background-position: center;
                           ">
                </div>
            </div>

        </div>
        <div class="col-right">
            <div class="git-details">
                <div class="git-heading">Get In Touch</div>
                <div class="icons-container">
                    <div class="icon-list-item">
                        <a href="tel:63282848789">
                            <img src="{{ 'Phone.svg' | asset_url }} " alt="phone">
                            <span>(632) 8284 8789</span>
                        </a>
                    </div>
                    <div class="icon-list-item">
                        <a href="tel:639178991111">
                            <img src="{{ 'DeviceMobile.svg' | asset_url }}" alt="device">
                            <span>(63) 917 899 1111</span>
                        </a>
                    </div>
                    <div class="icon-list-item">
                        <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#64;&#112;&#114;&#111;&#115;&#109;&#97;&#115;&#104;&#46;&#99;&#111;&#109;">
                            <img src="{{ 'EnvelopeSimple.svg' | asset_url }}" alt="email">
                            <span>&#104;&#101;&#108;&#108;&#111;&#64;&#112;&#114;&#111;&#115;&#109;&#97;&#115;&#104;&#46;&#99;&#111;&#109;</span>
                        </a>
                    </div>
                    <div class="icon-list-item">
                        <a href="https://maps.app.goo.gl/7MhSKKxpwGShFkEL6" target="_blank">
                            <img src="{{ 'MapPin.svg' | asset_url }}" alt="map">
                            <span>Unit 707 One Park Drive, 11th Drive corner 9th Avenue Bonifacio Global City, Taguig 1634</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
.get-in-touch .mdp-container.full-width {
    max-width: 100%;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    align-self: stretch;
}
.mdp-container.full-width .col-left,
.mdp-container.full-width .col-right {
    flex: 1;
}
.get-in-touch .col-right .git-details {
    display: flex;
    padding: 56px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    background: #F7F7F7;
    transform: translateX(-50px);
    width: 568px;
    box-sizing: border-box;
}
.get-in-touch .col-right .git-details .git-heading {
    align-self: stretch;
    color: var(--black);
    font-family: var(--font-redhat);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}
.get-in-touch .col-right .icons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.icon-list-item svg {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
}
.icon-list-item span {
    color: var(--black);
    font-family: var(--font-redhat);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.get-in-touch .col-right .icon-list-item a {
    display: flex;
    align-items: start;
    gap: 12px;
    text-decoration: none;
}


.mdp-container.full-width .canvas {
    display: flex;
    height: 700px;
    padding: 156px 0px 156px 662px;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width: 1024px) {
    .get-in-touch {
        padding: 60px 25px;
    }
    .mdp-container.full-width {
        flex-direction: column;
        gap: 50px;
    }
    .mdp-container.full-width .canvas {
        width: auto;
        height: auto;
    }
    .mdp-container.full-width .col-right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mdp-container.full-width .img-container {
        text-align: center;
    }
    .get-in-touch .col-right .git-details {
        justify-content: center;
        transform: translateX(0);
    }
}
@media (max-width: 767px) {
    .get-in-touch {
        padding: 60px 15px;
    }
    .get-in-touch .col-right .git-details {
        padding: 25px;
    }
    .mdp-container.full-width {
        gap: 25px;
    }
    .mdp-container.full-width .canvas {
        padding: 156px 0px 156px 320px;
    }
    .get-in-touch .col-right .git-details {
        gap: 20px;
    }
    .get-in-touch .col-right .git-details .git-heading {
        text-align: center;
    }
    .get-in-touch .col-right .icons-container {
        align-items: center;
    }
}
</style>

{% schema %}
{
  "name": "Image with Get In Touch",
  "settings": [
    {
      "type": "image_picker",
      "id": "contact_image",
      "label": "Background Image"
    }
  ],
  "presets": [
    {
      "name": "Image with Get In Touch",
      "category": "Prosmash: Contact Us"
    }
  ]
}
{% endschema %}
