{{"mdp-weare-video-1.css" | asset_url | stylesheet_tag }}

<section class="video-section" style="background-image: url('{{ section.settings.image | image_url }}')">

<div id="mdp-weare-{{ section.id }}" 
     class="mdp mdp-container mdp-weare-video-1 mdp-grid" data-columns="1" data-gap="30">
  <div class="mdp-col">
    {% unless section.settings.image == blank %}
      <div class="mdp-media">
        <div class="mdp-box-video" style="padding-top: 80px;">
          {% comment %} <img src="{{section.settings.image | img_url : section.settings.image_size}}"
               class="mdp-image lazyload"
               style="width: 960px; height: 600px;"
               alt="video"> {% endcomment %}
        </div>

        {% unless section.settings.video_url == blank %}
          <a class="mdp-magnific-popup" href="{{section.settings.video_url}}">
            <i class="fas fa-play mdp-icon-play"></i>
          </a>
        {% endunless %}
      </div>

      {% if section.settings.video_header != blank %}
        <h3 class="mdp-video-header"
            style="color: {{ section.settings.text_color }};">{{section.settings.video_header}}</h3>
      {% endif %}

      {% if section.settings.video_view_more != blank %}
        <a href="{{section.settings.view_more_link}}"
           style="color: {{ section.settings.text_color }};"
           class="mdp-video-link">{{section.settings.video_view_more}}</a>
      {% endif %}

    {% endunless %}
  </div>
</div>
</section>

<script>
  let videoBox = document.querySelector(".mdp-weare-video-1");
  videoBox.parentElement.classList.add("mdp-video-border");
  videoBox.parentElement.setAttribute("style", "margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;");
</script>


<style>
 
  .mdp-video-border{
  	background-image: url('{{section.settings.image | image_url}}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    align-items: center;
  }
</style>


{% schema %}
  {
    "name": "Prosmash HP Video",
    "settings": [	  	       
      {
        "id": "video_url",
        "type": "video_url",
        "label": "Video URL",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
         "type": "text",
         "id": "image_size",
         "label": "Image size",
         "default": "1000x1000_crop_center",
         "info": "Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#343434"
      },
	 
	  {
        "type": "text",
        "id": "video_header",
        "label": "Video header"
      },
	  {
        "type": "text",
        "id": "video_view_more",
        "label": "Video view more"
      },
      {
        "type": "url",
        "id": "view_more_link",
        "label": "View more link"
 	  },
      {
        "type": "text",
        "id": "margin_top",
        "label": "Margin top (px)"
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Margin bottom (px)"
      }
    ],	
    "presets": [{
      "name": "Prosmash HP Video",
      "category": "Prosmash"
    }]
  }
{% endschema %}