{{ "prosmash-hp-cta-section.css" | asset_url | stylesheet_tag }}
{{ "prosmash-global.css" | asset_url | stylesheet_tag }}


<section class="cta-section" style="background-image: url('{{ section.settings.cta_bg | image_url }}')">
  <div class="mdp-container">
    <div class="cta-title">{{ section.settings.cta_title }}</div>
    <div class="cta-desc">{{ section.settings.cta_description }}</div>
  </div>
</section>


{% schema %}
{
  "name": "Prosmash HP CTA Section",
  "settings": [
   {
    "type": "text",
    "id": "cta_title",
    "label": "Title"
    },
   {
    "type": "textarea",
    "id": "cta_description",
    "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "cta_bg",
      "label": "Background"
    },
  ],
  "presets": [{
    "name": "Prosmash HP CTA Section",
    "category": "Prosmash"
  }]
}
{% endschema %}